<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Simpleline Icons</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;">Icons</a></li>
            <li class="breadcrumb-item"><a href="javascript:;">Simpleline Icons</a></li>
        </ol>
    </div>
    <div class="d-flex">
        <div class="justify-content-center">
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
              <i class="fe fe-download mr-2"></i> Import
            </button>
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
              <i class="fe fe-filter mr-2"></i> Filter
            </button>
            <button type="button" class="btn btn-primary my-2 btn-icon-text">
              <i class="fe fe-download-cloud mr-2"></i> Download Report
            </button>
        </div>
    </div>
</div>
<!-- End Page Header -->

<!-- Row-->
<div class="row row-sm">
    <div class="col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <div class="row row-sm">
                    <div class="col-lg-12 col-sm-12 mb-4">
                        <h3 class="main-content-label">Simpleline Icons</h3>
                        <p class="mb-2">Simply beautiful open source icons. For more info <a href="https://simplelineicons.github.io/" target="_blank">click here</a>.</p>
                        <p><code>&lt;i class="si si-ICON_NAME"&gt;&lt;/i&gt;</code></p>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="icons-list-wrap">
                            <ul class="icons-list">
                                <li class="icons-list-item"><i class="si si-user" placement="top" ngbTooltip="si-user"></i></li>
                                <li class="icons-list-item"><i class="si si-people" placement="top" ngbTooltip="si-people"></i></li>
                                <li class="icons-list-item"><i class="si si-user-female" placement="top" ngbTooltip="si-user-female"></i></li>
                                <li class="icons-list-item"><i class="si si-user-follow" placement="top" ngbTooltip="si-user-follow"></i></li>
                                <li class="icons-list-item"><i class="si si-user-following" placement="top" ngbTooltip="si-user-following"></i></li>
                                <li class="icons-list-item"><i class="si si-user-unfollow" placement="top" ngbTooltip="si-user-unfollow"></i></li>
                                <li class="icons-list-item"><i class="si si-login" placement="top" ngbTooltip="si-login"></i></li>
                                <li class="icons-list-item"><i class="si si-logout" placement="top" ngbTooltip="si-logout"></i></li>
                                <li class="icons-list-item"><i class="si si-emotsmile" placement="top" ngbTooltip="si-emotsmile"></i></li>
                                <li class="icons-list-item"><i class="si si-phone" placement="top" ngbTooltip="si-phone"></i></li>
                                <li class="icons-list-item"><i class="si si-call-end" placement="top" ngbTooltip="si-call-end"></i></li>
                                <li class="icons-list-item"><i class="si si-call-in" placement="top" ngbTooltip="si-call-in"></i></li>
                                <li class="icons-list-item"><i class="si si-call-out" placement="top" ngbTooltip="si-call-out"></i></li>
                                <li class="icons-list-item"><i class="si si-map" placement="top" ngbTooltip="si-map"></i></li>
                                <li class="icons-list-item"><i class="si si-location-pin" placement="top" ngbTooltip="si-location-pin"></i></li>
                                <li class="icons-list-item"><i class="si si-direction" placement="top" ngbTooltip="si-direction"></i></li>
                                <li class="icons-list-item"><i class="si si-directions" placement="top" ngbTooltip="si-directions"></i></li>
                                <li class="icons-list-item"><i class="si si-compass" placement="top" ngbTooltip="si-compass"></i></li>
                                <li class="icons-list-item"><i class="si si-layers" placement="top" ngbTooltip="si-layers"></i></li>
                                <li class="icons-list-item"><i class="si si-menu" placement="top" ngbTooltip="si-menu"></i></li>
                                <li class="icons-list-item"><i class="si si-list" placement="top" ngbTooltip="si-list"></i></li>
                                <li class="icons-list-item"><i class="si si-options-vertical" placement="top" ngbTooltip="si-options-vertical"></i></li>
                                <li class="icons-list-item"><i class="si si-options" placement="top" ngbTooltip="si-options"></i></li>
                                <li class="icons-list-item"><i class="si si-arrow-down" placement="top" ngbTooltip="si-arrow-down"></i></li>
                                <li class="icons-list-item"><i class="si si-arrow-left" placement="top" ngbTooltip="si-arrow-left"></i></li>
                                <li class="icons-list-item"><i class="si si-arrow-right" placement="top" ngbTooltip="si-arrow-right"></i></li>
                                <li class="icons-list-item"><i class="si si-arrow-up" placement="top" ngbTooltip="si-arrow-up"></i></li>
                                <li class="icons-list-item"><i class="si si-arrow-up-circle" placement="top" ngbTooltip="si-arrow-up-circle"></i></li>
                                <li class="icons-list-item"><i class="si si-arrow-left-circle" placement="top" ngbTooltip="si-arrow-left-circle"></i></li>
                                <li class="icons-list-item"><i class="si si-arrow-right-circle" placement="top" ngbTooltip="si-arrow-right-circle"></i></li>
                                <li class="icons-list-item"><i class="si si-arrow-down-circle" placement="top" ngbTooltip="si-arrow-down-circle"></i></li>
                                <li class="icons-list-item"><i class="si si-check" placement="top" ngbTooltip="si-check"></i></li>
                                <li class="icons-list-item"><i class="si si-clock" placement="top" ngbTooltip="si-clock"></i></li>
                                <li class="icons-list-item"><i class="si si-plus" placement="top" ngbTooltip="si-plus"></i></li>
                                <li class="icons-list-item"><i class="si si-minus" placement="top" ngbTooltip="si-minus"></i></li>
                                <li class="icons-list-item"><i class="si si-close" placement="top" ngbTooltip="si-close"></i></li>
                                <li class="icons-list-item"><i class="si si-event" placement="top" ngbTooltip="si-event"></i></li>
                                <li class="icons-list-item"><i class="si si-exclamation" placement="top" ngbTooltip="si-exclamation"></i></li>
                                <li class="icons-list-item"><i class="si si-organization" placement="top" ngbTooltip="si-organization"></i></li>
                                <li class="icons-list-item"><i class="si si-trophy" placement="top" ngbTooltip="si-trophy"></i></li>
                                <li class="icons-list-item"><i class="si si-screen-smartphone" placement="top" ngbTooltip="si-screen-smartphone"></i></li>
                                <li class="icons-list-item"><i class="si si-screen-desktop" placement="top" ngbTooltip="si-screen-desktop"></i></li>
                                <li class="icons-list-item"><i class="si si-plane" placement="top" ngbTooltip="si-plane"></i></li>
                                <li class="icons-list-item"><i class="si si-notebook" placement="top" ngbTooltip="si-notebook"></i></li>
                                <li class="icons-list-item"><i class="si si-mustache" placement="top" ngbTooltip="si-mustache"></i></li>
                                <li class="icons-list-item"><i class="si si-mouse" placement="top" ngbTooltip="si-mouse"></i></li>
                                <li class="icons-list-item"><i class="si si-magnet" placement="top" ngbTooltip="si-magnet"></i></li>
                                <li class="icons-list-item"><i class="si si-energy" placement="top" ngbTooltip="si-energy"></i></li>
                                <li class="icons-list-item"><i class="si si-disc" placement="top" ngbTooltip="si-disc"></i></li>
                                <li class="icons-list-item"><i class="si si-cursor" placement="top" ngbTooltip="si-cursor"></i></li>
                                <li class="icons-list-item"><i class="si si-cursor-move" placement="top" ngbTooltip="si-cursor-move"></i></li>
                                <li class="icons-list-item"><i class="si si-crop" placement="top" ngbTooltip="si-crop"></i></li>
                                <li class="icons-list-item"><i class="si si-chemistry" placement="top" ngbTooltip="si-chemistry"></i></li>
                                <li class="icons-list-item"><i class="si si-speedometer" placement="top" ngbTooltip="si-speedometer"></i></li>
                                <li class="icons-list-item"><i class="si si-shield" placement="top" ngbTooltip="si-shield"></i></li>
                                <li class="icons-list-item"><i class="si si-screen-tablet" placement="top" ngbTooltip="si-screen-tablet"></i></li>
                                <li class="icons-list-item"><i class="si si-magic-wand" placement="top" ngbTooltip="si-magic-wand"></i></li>
                                <li class="icons-list-item"><i class="si si-hourglass" placement="top" ngbTooltip="si-hourglass"></i></li>
                                <li class="icons-list-item"><i class="si si-graduation" placement="top" ngbTooltip="si-graduation"></i></li>
                                <li class="icons-list-item"><i class="si si-ghost" placement="top" ngbTooltip="si-ghost"></i></li>
                                <li class="icons-list-item"><i class="si si-game-controller" placement="top" ngbTooltip="si-game-controller"></i></li>
                                <li class="icons-list-item"><i class="si si-fire" placement="top" ngbTooltip="si-fire"></i></li>
                                <li class="icons-list-item"><i class="si si-eyeglass" placement="top" ngbTooltip="si-eyeglass"></i></li>
                                <li class="icons-list-item"><i class="si si-envelope-open" placement="top" ngbTooltip="si-envelope-open"></i></li>
                                <li class="icons-list-item"><i class="si si-envelope-letter" placement="top" ngbTooltip="si-envelope-letter"></i></li>
                                <li class="icons-list-item"><i class="si si-bell" placement="top" ngbTooltip="si-bell"></i></li>
                                <li class="icons-list-item"><i class="si si-badge" placement="top" ngbTooltip="si-badge"></i></li>
                                <li class="icons-list-item"><i class="si si-anchor" placement="top" ngbTooltip="si-anchor"></i></li>
                                <li class="icons-list-item"><i class="si si-wallet" placement="top" ngbTooltip="si-wallet"></i></li>
                                <li class="icons-list-item"><i class="si si-vector" placement="top" ngbTooltip="si-vector"></i></li>
                                <li class="icons-list-item"><i class="si si-speech" placement="top" ngbTooltip="si-speech"></i></li>
                                <li class="icons-list-item"><i class="si si-puzzle" placement="top" ngbTooltip="si-puzzle"></i></li>
                                <li class="icons-list-item"><i class="si si-printer" placement="top" ngbTooltip="si-printer"></i></li>
                                <li class="icons-list-item"><i class="si si-present" placement="top" ngbTooltip="si-present"></i></li>
                                <li class="icons-list-item"><i class="si si-playlist" placement="top" ngbTooltip="si-playlist"></i></li>
                                <li class="icons-list-item"><i class="si si-pin" placement="top" ngbTooltip="si-pin"></i></li>
                                <li class="icons-list-item"><i class="si si-picture" placement="top" ngbTooltip="si-picture"></i></li>
                                <li class="icons-list-item"><i class="si si-handbag" placement="top" ngbTooltip="si-handbag"></i></li>
                                <li class="icons-list-item"><i class="si si-globe-alt" placement="top" ngbTooltip="si-globe-alt"></i></li>
                                <li class="icons-list-item"><i class="si si-globe" placement="top" ngbTooltip="si-globe"></i></li>
                                <li class="icons-list-item"><i class="si si-folder-alt" placement="top" ngbTooltip="si-folder-alt"></i></li>
                                <li class="icons-list-item"><i class="si si-folder" placement="top" ngbTooltip="si-folder"></i></li>
                                <li class="icons-list-item"><i class="si si-film" placement="top" ngbTooltip="si-film"></i></li>
                                <li class="icons-list-item"><i class="si si-feed" placement="top" ngbTooltip="si-feed"></i></li>
                                <li class="icons-list-item"><i class="si si-drop" placement="top" ngbTooltip="si-drop"></i></li>
                                <li class="icons-list-item"><i class="si si-drawer" placement="top" ngbTooltip="si-drawer"></i></li>
                                <li class="icons-list-item"><i class="si si-docs" placement="top" ngbTooltip="si-docs"></i></li>
                                <li class="icons-list-item"><i class="si si-doc" placement="top" ngbTooltip="si-doc"></i></li>
                                <li class="icons-list-item"><i class="si si-diamond" placement="top" ngbTooltip="si-diamond"></i></li>
                                <li class="icons-list-item"><i class="si si-cup" placement="top" ngbTooltip="si-cup"></i></li>
                                <li class="icons-list-item"><i class="si si-calculator" placement="top" ngbTooltip="si-calculator"></i></li>
                                <li class="icons-list-item"><i class="si si-bubbles" placement="top" ngbTooltip="si-bubbles"></i></li>
                                <li class="icons-list-item"><i class="si si-briefcase" placement="top" ngbTooltip="si-briefcase"></i></li>
                                <li class="icons-list-item"><i class="si si-book-open" placement="top" ngbTooltip="si-book-open"></i></li>
                                <li class="icons-list-item"><i class="si si-basket-loaded" placement="top" ngbTooltip="si-basket-loaded"></i></li>
                                <li class="icons-list-item"><i class="si si-basket" placement="top" ngbTooltip="si-basket"></i></li>
                                <li class="icons-list-item"><i class="si si-bag" placement="top" ngbTooltip="si-bag"></i></li>
                                <li class="icons-list-item"><i class="si si-action-undo" placement="top" ngbTooltip="si-action-undo"></i></li>
                                <li class="icons-list-item"><i class="si si-action-redo" placement="top" ngbTooltip="si-action-redo"></i></li>
                                <li class="icons-list-item"><i class="si si-wrench" placement="top" ngbTooltip="si-wrench"></i></li>
                                <li class="icons-list-item"><i class="si si-umbrella" placement="top" ngbTooltip="si-umbrella"></i></li>
                                <li class="icons-list-item"><i class="si si-trash" placement="top" ngbTooltip="si-trash"></i></li>
                                <li class="icons-list-item"><i class="si si-tag" placement="top" ngbTooltip="si-tag"></i></li>
                                <li class="icons-list-item"><i class="si si-support" placement="top" ngbTooltip="si-support"></i></li>
                                <li class="icons-list-item"><i class="si si-frame" placement="top" ngbTooltip="si-frame"></i></li>
                                <li class="icons-list-item"><i class="si si-size-fullscreen" placement="top" ngbTooltip="si-size-fullscreen"></i></li>
                                <li class="icons-list-item"><i class="si si-size-actual" placement="top" ngbTooltip="si-size-actual"></i></li>
                                <li class="icons-list-item"><i class="si si-shuffle" placement="top" ngbTooltip="si-shuffle"></i></li>
                                <li class="icons-list-item"><i class="si si-share-alt" placement="top" ngbTooltip="si-share-alt"></i></li>
                                <li class="icons-list-item"><i class="si si-share" placement="top" ngbTooltip="si-share"></i></li>
                                <li class="icons-list-item"><i class="si si-rocket" placement="top" ngbTooltip="si-rocket"></i></li>
                                <li class="icons-list-item"><i class="si si-question" placement="top" ngbTooltip="si-question"></i></li>
                                <li class="icons-list-item"><i class="si si-pie-chart" placement="top" ngbTooltip="si-pie-chart"></i></li>
                                <li class="icons-list-item"><i class="si si-pencil" placement="top" ngbTooltip="si-pencil"></i></li>
                                <li class="icons-list-item"><i class="si si-note" placement="top" ngbTooltip="si-note"></i></li>
                                <li class="icons-list-item"><i class="si si-loop" placement="top" ngbTooltip="si-loop"></i></li>
                                <li class="icons-list-item"><i class="si si-home" placement="top" ngbTooltip="si-home"></i></li>
                                <li class="icons-list-item"><i class="si si-grid" placement="top" ngbTooltip="si-grid"></i></li>
                                <li class="icons-list-item"><i class="si si-graph" placement="top" ngbTooltip="si-graph"></i></li>
                                <li class="icons-list-item"><i class="si si-microphone" placement="top" ngbTooltip="si-microphone"></i></li>
                                <li class="icons-list-item"><i class="si si-music-tone-alt" placement="top" ngbTooltip="si-music-tone-alt"></i></li>
                                <li class="icons-list-item"><i class="si si-music-tone" placement="top" ngbTooltip="si-music-tone"></i></li>
                                <li class="icons-list-item"><i class="si si-earphones-alt" placement="top" ngbTooltip="si-earphones-alt"></i></li>
                                <li class="icons-list-item"><i class="si si-earphones" placement="top" ngbTooltip="si-earphones"></i></li>
                                <li class="icons-list-item"><i class="si si-equalizer" placement="top" ngbTooltip="si-equalizer"></i></li>
                                <li class="icons-list-item"><i class="si si-like" placement="top" ngbTooltip="si-like"></i></li>
                                <li class="icons-list-item"><i class="si si-dislike" placement="top" ngbTooltip="si-dislike"></i></li>
                                <li class="icons-list-item"><i class="si si-control-start" placement="top" ngbTooltip="si-control-start"></i></li>
                                <li class="icons-list-item"><i class="si si-control-rewind" placement="top" ngbTooltip="si-control-rewind"></i></li>
                                <li class="icons-list-item"><i class="si si-control-play" placement="top" ngbTooltip="si-control-play"></i></li>
                                <li class="icons-list-item"><i class="si si-control-pause" placement="top" ngbTooltip="si-control-pause"></i></li>
                                <li class="icons-list-item"><i class="si si-control-forward" placement="top" ngbTooltip="si-control-forward"></i></li>
                                <li class="icons-list-item"><i class="si si-control-end" placement="top" ngbTooltip="si-control-end"></i></li>
                                <li class="icons-list-item"><i class="si si-volume-1" placement="top" ngbTooltip="si-volume-1"></i></li>
                                <li class="icons-list-item"><i class="si si-volume-2" placement="top" ngbTooltip="si-volume-2"></i></li>
                                <li class="icons-list-item"><i class="si si-volume-off" placement="top" ngbTooltip="si-volume-off"></i></li>
                                <li class="icons-list-item"><i class="si si-calendar" placement="top" ngbTooltip="si-calendar"></i></li>
                                <li class="icons-list-item"><i class="si si-bulb" placement="top" ngbTooltip="si-bulb"></i></li>
                                <li class="icons-list-item"><i class="si si-chart" placement="top" ngbTooltip="si-chart"></i></li>
                                <li class="icons-list-item"><i class="si si-ban" placement="top" ngbTooltip="si-ban"></i></li>
                                <li class="icons-list-item"><i class="si si-bubble" placement="top" ngbTooltip="si-bubble"></i></li>
                                <li class="icons-list-item"><i class="si si-camrecorder" placement="top" ngbTooltip="si-camrecorder"></i></li>
                                <li class="icons-list-item"><i class="si si-camera" placement="top" ngbTooltip="si-camera"></i></li>
                                <li class="icons-list-item"><i class="si si-cloud-download" placement="top" ngbTooltip="si-cloud-download"></i></li>
                                <li class="icons-list-item"><i class="si si-cloud-upload" placement="top" ngbTooltip="si-cloud-upload"></i></li>
                                <li class="icons-list-item"><i class="si si-envelope" placement="top" ngbTooltip="si-envelope"></i></li>
                                <li class="icons-list-item"><i class="si si-eye" placement="top" ngbTooltip="si-eye"></i></li>
                                <li class="icons-list-item"><i class="si si-flag" placement="top" ngbTooltip="si-flag"></i></li>
                                <li class="icons-list-item"><i class="si si-heart" placement="top" ngbTooltip="si-heart"></i></li>
                                <li class="icons-list-item"><i class="si si-info" placement="top" ngbTooltip="si-info"></i></li>
                                <li class="icons-list-item"><i class="si si-key" placement="top" ngbTooltip="si-key"></i></li>
                                <li class="icons-list-item"><i class="si si-link" placement="top" ngbTooltip="si-link"></i></li>
                                <li class="icons-list-item"><i class="si si-lock" placement="top" ngbTooltip="si-lock"></i></li>
                                <li class="icons-list-item"><i class="si si-lock-open" placement="top" ngbTooltip="si-lock-open"></i></li>
                                <li class="icons-list-item"><i class="si si-magnifier" placement="top" ngbTooltip="si-magnifier"></i></li>
                                <li class="icons-list-item"><i class="si si-magnifier-add" placement="top" ngbTooltip="si-magnifier-add"></i></li>
                                <li class="icons-list-item"><i class="si si-magnifier-remove" placement="top" ngbTooltip="si-magnifier-remove"></i></li>
                                <li class="icons-list-item"><i class="si si-paper-clip" placement="top" ngbTooltip="si-paper-clip"></i></li>
                                <li class="icons-list-item"><i class="si si-paper-plane" placement="top" ngbTooltip="si-paper-plane"></i></li>
                                <li class="icons-list-item"><i class="si si-power" placement="top" ngbTooltip="si-power"></i></li>
                                <li class="icons-list-item"><i class="si si-refresh" placement="top" ngbTooltip="si-refresh"></i></li>
                                <li class="icons-list-item"><i class="si si-reload" placement="top" ngbTooltip="si-reload"></i></li>
                                <li class="icons-list-item"><i class="si si-settings" placement="top" ngbTooltip="si-settings"></i></li>
                                <li class="icons-list-item"><i class="si si-star" placement="top" ngbTooltip="si-star"></i></li>
                                <li class="icons-list-item"><i class="si si-symbol-female" placement="top" ngbTooltip="si-symbol-female"></i></li>
                                <li class="icons-list-item"><i class="si si-symbol-male" placement="top" ngbTooltip="si-symbol-male"></i></li>
                                <li class="icons-list-item"><i class="si si-target" placement="top" ngbTooltip="si-target"></i></li>
                                <li class="icons-list-item"><i class="si si-credit-card" placement="top" ngbTooltip="si-credit-card"></i></li>
                                <li class="icons-list-item"><i class="si si-paypal" placement="top" ngbTooltip="si-paypal"></i></li>
                                <li class="icons-list-item"><i class="si si-social-tumblr" placement="top" ngbTooltip="si-social-tumblr"></i></li>
                                <li class="icons-list-item"><i class="si si-social-twitter" placement="top" ngbTooltip="si-social-twitter"></i></li>
                                <li class="icons-list-item"><i class="si si-social-facebook" placement="top" ngbTooltip="si-social-facebook"></i></li>
                                <li class="icons-list-item"><i class="si si-social-instagram" placement="top" ngbTooltip="si-social-instagram"></i></li>
                                <li class="icons-list-item"><i class="si si-social-linkedin" placement="top" ngbTooltip="si-social-linkedin"></i></li>
                                <li class="icons-list-item"><i class="si si-social-pinterest" placement="top" ngbTooltip="si-social-pinterest"></i></li>
                                <li class="icons-list-item"><i class="si si-social-github" placement="top" ngbTooltip="si-social-github"></i></li>
                                <li class="icons-list-item"><i class="si si-social-google" placement="top" ngbTooltip="si-social-google"></i></li>
                                <li class="icons-list-item"><i class="si si-social-reddit" placement="top" ngbTooltip="si-social-reddit"></i></li>
                                <li class="icons-list-item"><i class="si si-social-skype" placement="top" ngbTooltip="si-social-skype"></i></li>
                                <li class="icons-list-item"><i class="si si-social-dribbble" placement="top" ngbTooltip="si-social-dribbble"></i></li>
                                <li class="icons-list-item"><i class="si si-social-behance" placement="top" ngbTooltip="si-social-behance"></i></li>
                                <li class="icons-list-item"><i class="si si-social-foursqare" placement="top" ngbTooltip="si-social-foursqare"></i></li>
                                <li class="icons-list-item"><i class="si si-social-soundcloud" placement="top" ngbTooltip="si-social-soundcloud"></i></li>
                                <li class="icons-list-item"><i class="si si-social-spotify" placement="top" ngbTooltip="si-social-spotify"></i></li>
                                <li class="icons-list-item"><i class="si si-social-stumbleupon" placement="top" ngbTooltip="si-social-stumbleupon"></i></li>
                                <li class="icons-list-item"><i class="si si-social-youtube" placement="top" ngbTooltip="si-social-youtube"></i></li>
                                <li class="icons-list-item"><i class="si si-social-dropbox" placement="top" ngbTooltip="si-social-dropbox"></i></li>
                                <li class="icons-list-item"><i class="si si-social-vkontakte" placement="top" ngbTooltip="si-social-vkontakte"></i></li>
                                <li class="icons-list-item"><i class="si si-social-steam" placement="top" ngbTooltip="si-social-steam"></i></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>