<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Calendar</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;">Apps</a></li>
            <li class="breadcrumb-item active" aria-current="page">Calendar</li>
        </ol>
    </div>
    <div class="d-flex">
        <div class="justify-content-center">
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
                <i class="fe fe-download mr-2"></i> Import
            </button>
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
                <i class="fe fe-filter mr-2"></i> Filter
            </button>
            <button type="button" class="btn btn-primary my-2 btn-icon-text">
                <i class="fe fe-download-cloud mr-2"></i> Download Report
            </button>
        </div>
    </div>
</div>
<!-- End Page Header -->

<!-- row -->
<div class="row row-sm">
    <div class="col-sm-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">

                <div class="row">
                    <div class="col-xl-2" id="external-events">
                        <h4>Draggable Events</h4>
                        <div mwlDroppable (drop)="externalDrop($event.dropData.event)" dragOverClass="drag-over">
                            <div>
                                <p *ngIf="events.length === 0"><em>No events added</em></p>
                                <ul>
                                    <li *ngFor="let event of events" mwlDraggable [dropData]="{event: event}"
                                        [touchStartLongPress]="{ delay: 300, delta: 30 }" dragActiveClass="drag-active">
                                        <a href="javascript:;">
                                            {{ event.title }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-10 " id="external-events-1">

                        <div class="row text-center">
                            <div class="col-md-4 text-left">
                                <div class="btn-group">
                                    <div class="btn btn-primary pl-3 pr-3" mwlCalendarPreviousView [view]="view"
                                        [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                    </div>
                                    <div class="btn btn-primary pl-3 pr-3" mwlCalendarNextView [view]="view"
                                        [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </div>
                                    <div class="btn btn-primary ml-2" mwlCalendarToday [(viewDate)]="viewDate">
                                        Today
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                            </div>
                            <div class="col-md-4 text-right">
                                <div class="btn-group">
                                    <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
                                        [class.active]="view === CalendarView.Month">
                                        Month
                                    </div>
                                    <div class="btn btn-primary" (click)="setView(CalendarView.Week)"
                                        [class.active]="view === CalendarView.Week">
                                        Week
                                    </div>
                                    <div class="btn btn-primary" (click)="setView(CalendarView.Day)"
                                        [class.active]="view === CalendarView.Day">
                                        Day
                                    </div>
                                    <button class="btn btn-raised btn-primary float-right" (click)="addEvent()">
                                        Add Event
                                    </button>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                               
                            </div>
                        </div>
                        <br />

                        <div [ngSwitch]="view">
                            <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate"
                                [events]="events" [activeDayIsOpen]="activeDayIsOpen" [refresh]="refresh"
                                (dayClicked)="dayClicked($event.day)"
                                (eventClicked)="handleEvent('Clicked', $event.event)"
                                (eventTimesChanged)="eventTimesChanged($event)">
                            </mwl-calendar-month-view>
                            <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate"
                                [events]="events" [refresh]="refresh" [snapDraggedEvents]="false"
                                (eventClicked)="handleEvent('Clicked', $event.event)"
                                (eventTimesChanged)="eventDropped($event)">
                            </mwl-calendar-week-view>
                            <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate"
                                [events]="events" [refresh]="refresh" [snapDraggedEvents]="false"
                                (eventClicked)="handleEvent('Clicked', $event.event)"
                                (eventTimesChanged)="eventDropped($event)">
                            </mwl-calendar-day-view>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /row -->


<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">{{ modalData?.action }}</h5>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form action="#" class="form form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label>Event Title:</label>
                    <input type="text" name="event-title" class="form-control" [(ngModel)]="modalData?.event.title"
                        (keyup)="refresh.next()" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Starts At:</label>
                    <input class="form-control text-dark" type="text" mwlFlatpickr [(ngModel)]="modalData?.event.start"
                        [altInput]="true" [convertModelValue]="true"
                        dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i"
                        placeholder="Select Date" />
                </div>
               
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="close()">OK</button>
    </div>
</ng-template>