<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Progress</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;">Elements</a></li>
            <li class="breadcrumb-item active" aria-current="page">Progress</li>
        </ol>
    </div>
    <div class="d-flex">
        <div class="justify-content-center">
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
                <i class="fe fe-download mr-2"></i> Import
            </button>
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
                <i class="fe fg-filter mr-2"></i> Filter
            </button>
            <button type="button" class="btn btn-primary my-2 btn-icon-text">
                <i class="fe fe-download-cloud mr-2"></i> Download Report
            </button>
        </div>
    </div>
</div>
<!-- End Page Header -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-xl-9 col-lg-12">
        <div class="card custom-card" id="basic" #basic>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Basic Progress</h6>
                    <p class="text-muted card-sub-title">A basic progress in all different colors.</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <div class="mg-b-20">
                            <ngb-progressbar type="primary" [value]="25"></ngb-progressbar>
                        </div>
                        <div class="mg-b-20">
                            <ngb-progressbar type="secondary" [value]="35"></ngb-progressbar>
                        </div>
                        <div class="mg-b-20">
                            <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                        </div>
                        <div class="mg-b-20">
                            <ngb-progressbar type="danger" [value]="65"></ngb-progressbar>
                        </div>
                        <div class="mg-b-20">
                            <ngb-progressbar type="success" [value]="75"></ngb-progressbar>
                        </div>

                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="progress1">
                        <ul ngbNav #nav1="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html1"></code></pre>
                                    <div ngxClipboard [cbContent]="html1">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts1"></code></pre>
                                    <div ngxClipboard [cbContent]="ts1">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav1"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>
        <div class="card custom-card" id="striped" #striped>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Striped Progress</h6>
                    <p class="text-muted card-sub-title">A basic progress in all different colors.</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <div class="mg-b-20">
                            <ngb-progressbar type="primary" [value]="25" [striped]="true"></ngb-progressbar>
                        </div>
                        <div class="mg-b-20">
                            <ngb-progressbar type="secondary" [value]="35" [striped]="true"></ngb-progressbar>
                        </div>
                        <div class="mg-b-20">
                            <ngb-progressbar type="info" [value]="50" [striped]="true"></ngb-progressbar>
                        </div>
                        <div class="mg-b-20">
                            <ngb-progressbar type="danger" [value]="65" [striped]="true"></ngb-progressbar>
                        </div>
                        <div class="mg-b-20">
                            <ngb-progressbar type="success" [value]="75" [striped]="true"></ngb-progressbar>
                        </div>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="progress2">
                        <ul ngbNav #nav2="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html2"></code></pre>
                                    <div ngxClipboard [cbContent]="html2">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts2"></code></pre>
                                    <div ngxClipboard [cbContent]="ts2">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav2"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>
        <div class="card custom-card" id="sizes" #sizes>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Progress Sizes</h6>
                    <p class="text-muted card-sub-title">A basic progress in different sizes.</p>
                </div>
                <span class="tx-uppercase tx-11 d-block mg-b-5">Size Extra Small</span>
                <div class="text-wrap">
                    <div class="example">
                        <div class="mg-b-10">
                            <ngb-progressbar type="primary" [value]="25" height="2px"></ngb-progressbar>
                        </div>
                        <div class="mg-b-10">
                            <ngb-progressbar type="secondary" [value]="35" height="2px"></ngb-progressbar>
                        </div>
                        <div class="mg-b-10">
                            <ngb-progressbar type="info" [value]="50" height="2px"></ngb-progressbar>
                        </div>

                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="progress3">
                        <ul ngbNav #nav3="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html3"></code></pre>
                                    <div ngxClipboard [cbContent]="html3">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts3"></code></pre>
                                    <div ngxClipboard [cbContent]="ts3">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav3"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
                <span class="tx-uppercase tx-11 d-block mg-t-20 mg-b-5">Size Small</span>
                <div class="text-wrap">
                    <div class="example">
                        <div class="mg-b-10">
                            <ngb-progressbar type="primary" [value]="25" height="5px"></ngb-progressbar>
                        </div>
                        <div class="mg-b-10">
                            <ngb-progressbar type="secondary" [value]="35" height="5px"></ngb-progressbar>
                        </div>
                        <div class="mg-b-10">
                            <ngb-progressbar type="info" [value]="50" height="5px"></ngb-progressbar>
                        </div>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="progress4">
                        <ul ngbNav #nav4="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html4"></code></pre>
                                    <div ngxClipboard [cbContent]="html4">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts4"></code></pre>
                                    <div ngxClipboard [cbContent]="ts4">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav4"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
                <span class="tx-uppercase tx-11 d-block mg-t-20 mg-b-5">Size Normal</span>
                <div class="text-wrap">
                    <div class="example">
                        <div class="mg-b-10">
                            <ngb-progressbar type="primary" [value]="25"></ngb-progressbar>
                        </div>
                        <div class="mg-b-10">
                            <ngb-progressbar type="secondary" [value]="35"></ngb-progressbar>
                        </div>
                        <div class="mg-b-10">
                            <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                        </div>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="progress6">
                        <ul ngbNav #nav5="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html5"></code></pre>
                                    <div ngxClipboard [cbContent]="html5">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts5"></code></pre>
                                    <div ngxClipboard [cbContent]="ts5">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav5"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
                <span class="tx-uppercase tx-11 d-block mg-t-20 mg-b-5">Size Large</span>
                <div class="text-wrap">
                    <div class="example">
                        <div class="mg-b-10">
                            <ngb-progressbar type="primary" [value]="25" class="large"></ngb-progressbar>
                        </div>
                        <div class="mg-b-10">
                            <ngb-progressbar type="secondary" [value]="35" class="large"></ngb-progressbar>
                        </div>
                        <div class="mg-b-10">
                            <ngb-progressbar type="info" [value]="50" class="large"></ngb-progressbar>
                        </div>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="progress7">
                        <ul ngbNav #nav6="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html6"></code></pre>
                                    <div ngxClipboard [cbContent]="html6">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts6"></code></pre>
                                    <div ngxClipboard [cbContent]="ts6">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="3">
                                <a ngbNavLink>SCSS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="scss6"></code></pre>
                                    <div ngxClipboard [cbContent]="scss6">
                                        <div placement="top" class="clipboard-icon" 
                                            ngbTooltip="Copy To Clipboard" container="body"><i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav6"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>
        <div class="card custom-card" id="label" #label>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Progress Label</h6>
                    <p class="text-muted card-sub-title">A basic progress in different sizes.</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <div class="mg-b-10">
                            <ngb-progressbar type="primary" [value]="50">50%</ngb-progressbar>
                        </div>
                        <div class="mg-b-10">
                            <ngb-progressbar type="secondary" [value]="60">60%</ngb-progressbar>
                        </div>
                        <div class="mg-b-10">
                            <ngb-progressbar type="info" [value]="95">95%</ngb-progressbar>
                        </div>

                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="progress8">
                        <ul ngbNav #nav7="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html7"></code></pre>
                                    <div ngxClipboard [cbContent]="html7">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts7"></code></pre>
                                    <div ngxClipboard [cbContent]="ts7">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav7"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>

        <div class="card custom-card" id="animate" #animate>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Animated Bars</h6>
                    <p class="text-muted card-sub-title">The striped gradient can also be animated. Add
                        <code>[striped]="true" [animated]="true"</code> to animate the stripes right to left via CSS3
                        animations.</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <div class="mg-b-10">
                            <ngb-progressbar type="primary" [value]="25" [striped]="true" [animated]="true">
                            </ngb-progressbar>
                        </div>
                        <div class="mg-b-10">
                            <ngb-progressbar type="secondary" [value]="45" [striped]="true" [animated]="true">
                            </ngb-progressbar>
                        </div>
                        <div class="mg-b-10">
                            <ngb-progressbar type="info" [value]="55" [striped]="true" [animated]="true">
                            </ngb-progressbar>
                        </div>
                        <div class="mg-b-10">
                            <ngb-progressbar type="danger" [value]="65" [striped]="true" [animated]="true">
                            </ngb-progressbar>
                        </div>
                        <div class="mg-b-10">
                            <ngb-progressbar type="warning" [value]="75" [striped]="true" [animated]="true">
                            </ngb-progressbar>
                        </div>
                        <div class="mg-b-10">
                            <ngb-progressbar type="success" [value]="85" [striped]="true" [animated]="true">
                            </ngb-progressbar>
                        </div>

                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="progress10">
                        <ul ngbNav #nav8="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html8"></code></pre>
                                    <div ngxClipboard [cbContent]="html8">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts8"></code></pre>
                                    <div ngxClipboard [cbContent]="ts8">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav8"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-xl-3 col-lg-12 d-none d-xl-block custom-leftnav">
        <div class="main-content-left-components">
            <div class="card custom-card">
                <div class="card-body component-item">
                    <nav class="nav flex-column">
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(basic)">Basic Progress</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(striped)">Striped Progress</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(sizes)">Progress Sizes</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(label)">Progress Label</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(animate)">Animated Bars</a>
                    </nav>
                </div>
            </div>
            <div class="card custom-card">
                <div class="">
                    <div class="p-3">
                        <h6>HTML Project</h6>
                        <div class="main-traffic-detail-item">
                            <div>
                                <span>Project status</span> <span>35%</span>
                            </div>
                            <ngb-progressbar type="primary" [value]="35"></ngb-progressbar>
                        </div>
                    </div>
                    <div class="p-3 border-top">
                        <h6>Wordpress Project</h6>
                        <div class="main-traffic-detail-item">
                            <div>
                                <span>Project status</span> <span>50%</span>
                            </div>
                            <ngb-progressbar type="secondary" [value]="50"></ngb-progressbar>
                        </div>
                    </div>
                    <div class="p-3 border-top">
                        <h6>Angular Project</h6>
                        <div class="main-traffic-detail-item">
                            <div>
                                <span>Project status</span> <span>40%</span>
                            </div>
                            <ngb-progressbar type="info" [value]="40"></ngb-progressbar>
                        </div>
                    </div>
                    <div class="p-3 border-top">
                        <h6>React Project</h6>
                        <div class="main-traffic-detail-item">
                            <div>
                                <span>Project status</span> <span>10%</span>
                            </div>
                            <ngb-progressbar type="danger" [value]="10"></ngb-progressbar>
                        </div>
                    </div>
                    <div class="p-3 border-top">
                        <h6>PHP Project</h6>
                        <div class="main-traffic-detail-item">
                            <div>
                                <span>Project status</span> <span>70%</span>
                            </div>
                            <ngb-progressbar type="success" [value]="70"></ngb-progressbar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->