<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Badges</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;">Elements</a></li>
            <li class="breadcrumb-item active" aria-current="page">Badges</li>
        </ol>
    </div>
    <div class="d-flex">
        <div class="justify-content-center">
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
                <i class="fe fe-download mr-2"></i> Import
            </button>
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
                <i class="fe fe-filter mr-2"></i> Filter
            </button>
            <button type="button" class="btn btn-primary my-2 btn-icon-text">
                <i class="fe fe-download-cloud mr-2"></i> Download Report
            </button>
        </div>
    </div>
</div>
<!-- End Page Header -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-xl-9 col-lg-12">
        <div class="card custom-card" id="basic" #basic>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Basic Example</h6>
                    <p class="text-muted card-sub-title">Badges scale to match the size of the immediate parent element
                        by using relative font sizing and em units..</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <h1>Heading 01 <span class="badge badge-dark">New</span></h1>
                        <h2>Heading 02 <span class="badge badge-dark">New</span></h2>
                        <h3>Heading 03 <span class="badge badge-dark">New</span></h3>
                        <h4>Heading 04 <span class="badge badge-dark">New</span></h4>
                        <h5>Heading 05 <span class="badge badge-dark">New</span></h5>
                        <h6>Heading 06 <span class="badge badge-dark">New</span></h6>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="badge1">
                        <ul ngbNav #nav1="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html1"></code></pre>
                                    <div ngxClipboard [cbContent]="html1" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts1"></code></pre>
                                    <div ngxClipboard [cbContent]="ts1" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav1"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>
        <div class="card custom-card" id="contextual" #contextual>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Contextual Variations</h6>
                    <p class="text-muted card-sub-title">Add any of the below mentioned modifier classes to change the
                        appearance of a badge.</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <div>
                            <span class="badge badge-primary mr-1">Primary</span>
                            <span class="badge badge-secondary mr-1">Secondary</span>
                            <span class="badge badge-success mr-1">Success</span>
                            <span class="badge badge-danger mr-1">Danger</span>
                            <span class="badge badge-warning mr-1">Warning</span>
                            <span class="badge badge-info mr-1">Info</span>
                            <span class="badge badge-light mr-1">Light</span>
                            <span class="badge badge-dark">Dark</span>
                        </div>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="badge2">
                        <ul ngbNav #nav2="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html2"></code></pre>
                                    <div ngxClipboard [cbContent]="html2" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts2"></code></pre>
                                    <div ngxClipboard [cbContent]="ts2" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav2"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>
        <div class="card custom-card" id="pill" #pill>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Pill Badges</h6>
                    <p class="text-muted card-sub-title">Use the <code>.badge-pill</code> modifier class to make badges
                        more rounded.</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <div>
                            <span class="badge badge-pill badge-primary mr-1">Primary</span>
                            <span class="badge badge-pill badge-secondary mr-1">Secondary</span>
                            <span class="badge badge-pill badge-success mr-1">Success</span>
                            <span class="badge badge-pill badge-danger mr-1">Danger</span>
                            <span class="badge badge-pill badge-warning mr-1">Warning</span>
                            <span class="badge badge-pill badge-info mr-1">Info</span>
                            <span class="badge badge-pill badge-light mr-1">Light</span>
                            <span class="badge badge-pill badge-dark">Dark</span>
                        </div>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="badge3">
                        <ul ngbNav #nav3="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html3"></code></pre>
                                    <div ngxClipboard [cbContent]="html3" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts3"></code></pre>
                                    <div ngxClipboard [cbContent]="ts3" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav3"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>
        <div class="card custom-card" id="buttons" #link>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Buttons With Badges</h6>
                    <p class="text-muted card-sub-title">Badges can be used as part of links or buttons to provide a
                        counter.</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <div class="btn-list">
                            <button type="button" class="btn ripple btn-primary">
                                Notifications <span class="badge badge-light ml-2">4</span>
                            </button>
                            <button type="button" class="btn ripple btn-secondary">
                                Notifications <span class="badge badge-dark ml-2">78</span>
                            </button>
                            <button type="button" class="btn ripple btn-success">
                                Notifications <span class="badge badge-danger ml-2">12</span>
                            </button>
                            <button type="button" class="btn ripple btn-info">
                                Notifications <span class="badge badge-warning ml-2">67</span>
                            </button>
                            <button type="button" class="btn ripple btn-danger">
                                Notifications <span class="badge badge-primary ml-2">45</span>
                            </button>
                            <button type="button" class="btn ripple btn-warning">
                                Notifications <span class="badge badge-info ml-2">120</span>
                            </button>
                        </div>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="badge5">
                        <ul ngbNav #nav4="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html4"></code></pre>
                                    <div ngxClipboard [cbContent]="html4" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts4"></code></pre>
                                    <div ngxClipboard [cbContent]="ts4" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav4"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>
        <div class="card custom-card" id="link" #buttons>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Link Badges</h6>
                    <p class="text-muted card-sub-title">Using the contextual badge classes on an element quickly
                        provide actionable badges with hover and focus states.</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <div>
                            <a class="badge badge-primary mr-1" href="javascript:;">Primary</a>
                            <a class="badge badge-secondary mr-1" href="javascript:;">Secondary</a>
                            <a class="badge badge-success mr-1" href="javascript:;">Success</a>
                            <a class="badge badge-danger mr-1" href="javascript:;">Danger</a>
                            <a class="badge badge-warning mr-1" href="javascript:;">Warning</a>
                            <a class="badge badge-info mr-1" href="javascript:;">Info</a>
                            <a class="badge badge-light mr-1" href="javascript:;">Light</a>
                            <a class="badge badge-dark" href="javascript:;">Dark</a>
                        </div>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="badge4">
                        <ul ngbNav #nav5="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html5"></code></pre>
                                    <div ngxClipboard [cbContent]="html5" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts5"></code></pre>
                                    <div ngxClipboard [cbContent]="ts5" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav5"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-12 d-none d-xl-block custom-leftnav">
        <div class="main-content-left-components">
            <div class="card custom-card">
                <div class="card-body component-item">
                    <nav class="nav flex-column">
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(basic)">Basic</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(contextual)">Contextual
                            Badges</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(pill)">Pill Badges</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(buttons)">Buttons With
                            Badges</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(link)">Link Badges</a>
                    </nav>
                </div>
            </div>
            <div class="card custom-card">
                <div class="card-header border-bottom-0 custom-card-header">
                    <h6 class="main-content-label mb-3">Project Status</h6>
                </div>
                <div class="">
                    <div class="list d-flex align-items-center p-3">
                        <circle-progress [showTitle]="false" [showUnits]="false" [showSubtitle]="false" [percent]="100"
                            [radius]="18" [space]="-5" outerStrokeLinecap=square [outerStrokeWidth]="5"
                            [innerStrokeWidth]="5" [showInnerStroke]="true" [outerStrokeColor]="'#38d250'"
                            [innerStrokeColor]="'#77778e33'" [animation]="true" [animationDuration]="1000">
                        </circle-progress>

                        <div class="wrappe ml-3">
                            <h6 class="mb-1">Project Planning</h6>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <span class="mb-0 text-muted"><i class="fas fa-check-circle mr-2"></i>100%
                                        Completed</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list d-flex align-items-center p-3">
                        <circle-progress [showTitle]="false" [showUnits]="false" [showSubtitle]="false" [percent]="100"
                            [radius]="18" [space]="-5" outerStrokeLinecap=square [outerStrokeWidth]="5"
                            [innerStrokeWidth]="5" [showInnerStroke]="true" [outerStrokeColor]="'#38d250'"
                            [innerStrokeColor]="'#77778e33'" [animation]="true" [animationDuration]="1000">
                        </circle-progress>
                        <div class="wrappe ml-3">
                            <h6 class="mb-1">Project Desiging</h6>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <span class="mb-0 text-muted"><i class="fas fa-check-circle mr-2"></i>100%
                                        Completed</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list d-flex align-items-center p-3">
                        <circle-progress [showTitle]="false" [showUnits]="false" [showSubtitle]="false" [percent]="76"
                            [radius]="18" [space]="-5" outerStrokeLinecap=square [outerStrokeWidth]="5"
                            [innerStrokeWidth]="5" [showInnerStroke]="true" [outerStrokeColor]="'#53caed'"
                            [innerStrokeColor]="'#77778e33'" [animation]="true" [animationDuration]="1000">
                        </circle-progress>

                        <div class="wrappe ml-3">
                            <h6 class="mb-1">Project Development</h6>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <span class="mb-0 text-muted"><i class="fas fa-spinner mr-2"></i>76% Progress</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list d-flex align-items-center  p-3">
                        <circle-progress [showTitle]="false" [showUnits]="false" [showSubtitle]="false" [percent]="10"
                            [radius]="18" [space]="-5" outerStrokeLinecap=square [outerStrokeWidth]="5"
                            [innerStrokeWidth]="5" [showInnerStroke]="true" [outerStrokeColor]="'#f16d75'"
                            [innerStrokeColor]="'#77778e33'" [animation]="true" [animationDuration]="1000">
                        </circle-progress>
                        <div class="wrappe ml-3">
                            <h6 class="mb-1">Project Testing</h6>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <span class="mb-0 text-muted"><i class="fas fa-info-circle mr-2"></i>Waiting</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->