<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Products</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;">Ecommerce</a></li>
            <li class="breadcrumb-item active" aria-current="page">Products</li>
        </ol>
    </div>
    <div class="d-flex">
        <div class="justify-content-center">
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
              <i class="fe fe-download mr-2"></i> Import
            </button>
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
              <i class="fe fe-filter mr-2"></i> Filter
            </button>
            <button type="button" class="btn btn-primary my-2 btn-icon-text">
              <i class="fe fe-download-cloud mr-2"></i> Download Report
            </button>
        </div>
    </div>
</div>
<!-- End Page Header -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-md-8 col-lg-9">
        <div class="row row-sm">
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-6">
                <div class="card custom-card">
                    <div class="p-0 ht-100p">
                        <div class="product-grid">
                            <div class="product-image">
                                <a href="javascript:;" class="image">
                                    <img class="pic-1" alt="product-image-1" src="../../assets/img/pngs/1.png">
                                    <img class="pic-2" alt="product-image-2" src="../../assets/img/pngs/01.png">
                                </a>
                                <a class="product-like-icon" href="javascript:;"><i class="far fa-heart"></i></a>
                                <span class="product-discount-label">-33%</span>
                                <div class="product-link">
                                    <a href="javascript:;">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>Add to cart</span>
                                    </a>
                                    <a href="javascript:;">
                                        <i class="fas fa-eye"></i>
                                        <span>Quick View</span>
                                    </a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="javascript:;">Women's Red dress</a></h3>
                                <div class="price"><span class="old-price">$25.00</span><span class="text-danger">$20.00</span></div>
                                <ul class="rating">
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="far fa-star"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-6">
                <div class="card custom-card">
                    <div class="p-0 ht-100p">
                        <div class="product-grid">
                            <div class="product-image">
                                <a href="javascript:;" class="image">
                                    <img class="pic-1" alt="product-image-1" src="../../assets/img/pngs/2.png">
                                    <img class="pic-2" alt="product-image-2" src="../../assets/img/pngs/02.png">
                                </a>
                                <a class="product-like-icon" href="javascript:;"><i class="far fa-heart"></i></a>
                                <div class="product-link">
                                    <a href="javascript:;">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>Add to cart</span>
                                    </a>
                                    <a href="javascript:;">
                                        <i class="fas fa-eye"></i>
                                        <span>Quick View</span>
                                    </a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="javascript:;">Casual wear top</a></h3>
                                <div class="price"><span class="old-price">$25.00</span><span class="text-danger">$20.00</span></div>
                                <ul class="rating">
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="far fa-star"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-6">
                <div class="card custom-card">
                    <div class="p-0 ht-100p">
                        <div class="product-grid">
                            <div class="product-image">
                                <a href="javascript:;" class="image">
                                    <img class="pic-1" alt="product-image-1" src="../../assets/img/pngs/3.png">
                                    <img class="pic-2" alt="product-image-2" src="../../assets/img/pngs/03.png">
                                </a>
                                <a class="product-like-icon" href="javascript:;"><i class="far fa-heart"></i></a>
                                <span class="product-discount-label bg-info">-50%</span>
                                <div class="product-link">
                                    <a href="javascript:;">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>Add to cart</span>
                                    </a>
                                    <a href="javascript:;">
                                        <i class="fas fa-eye"></i>
                                        <span>Quick View</span>
                                    </a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="javascript:;">Party wear black top</a></h3>
                                <div class="price"><span class="old-price">$25.00</span><span class="text-danger">$20.00</span></div>
                                <ul class="rating">
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="far fa-star"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-6">
                <div class="card custom-card">
                    <div class="p-0 ht-100p">
                        <div class="product-grid">
                            <div class="product-image">
                                <a href="javascript:;" class="image">
                                    <img class="pic-1" alt="product-image-1" src="../../assets/img/pngs/4.png">
                                    <img class="pic-2" alt="product-image-2" src="../../assets/img/pngs/04.png">
                                </a>
                                <a class="product-like-icon" href="javascript:;"><i class="far fa-heart"></i></a>
                                <div class="product-link">
                                    <a href="javascript:;">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>Add to cart</span>
                                    </a>
                                    <a href="javascript:;">
                                        <i class="fas fa-eye"></i>
                                        <span>Quick View</span>
                                    </a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="javascript:;">Women's Rayon top</a></h3>
                                <div class="price"><span class="old-price">$25.00</span><span class="text-danger">$20.00</span></div>
                                <ul class="rating">
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="far fa-star"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-6">
                <div class="card custom-card">
                    <div class="p-0 ht-100p">
                        <div class="product-grid">
                            <div class="product-image">
                                <a href="javascript:;" class="image">
                                    <img class="pic-1" alt="product-image-1" src="../../assets/img/pngs/5.png">
                                    <img class="pic-2" alt="product-image-2" src="../../assets/img/pngs/05.png">
                                </a>
                                <a class="product-like-icon" href="javascript:;"><i class="far fa-heart"></i></a>
                                <span class="product-discount-label bg-danger">-40%</span>
                                <div class="product-link">
                                    <a href="javascript:;">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>Add to cart</span>
                                    </a>
                                    <a href="javascript:;">
                                        <i class="fas fa-eye"></i>
                                        <span>Quick View</span>
                                    </a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="javascript:;">Western Skirt & Top</a></h3>
                                <div class="price"><span class="old-price">$25.00</span><span class="text-danger">$20.00</span></div>
                                <ul class="rating">
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="far fa-star"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-6">
                <div class="card custom-card">
                    <div class="p-0 ht-100p">
                        <div class="product-grid">
                            <div class="product-image">
                                <a href="javascript:;" class="image">
                                    <img class="pic-1" alt="product-image-1" src="../../assets/img/pngs/1.png">
                                    <img class="pic-2" alt="product-image-2" src="../../assets/img/pngs/1.png">
                                </a>
                                <a class="product-like-icon" href="javascript:;"><i class="far fa-heart"></i></a>
                                <div class="product-link">
                                    <a href="javascript:;">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>Add to cart</span>
                                    </a>
                                    <a href="javascript:;">
                                        <i class="fas fa-eye"></i>
                                        <span>Quick View</span>
                                    </a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="javascript:;">Party Wear Fancy Top</a></h3>
                                <div class="price"><span class="old-price">$25.00</span><span class="text-danger">$20.00</span></div>
                                <ul class="rating">
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="far fa-star"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-6">
                <div class="card custom-card">
                    <div class="p-0 ht-100p">
                        <div class="product-grid">
                            <div class="product-image">
                                <a href="javascript:;" class="image">
                                    <img class="pic-1" alt="product-image-1" src="../../assets/img/pngs/6.png">
                                    <img class="pic-2" alt="product-image-2" src="../../assets/img/pngs/06.png">
                                </a>
                                <a class="product-like-icon" href="javascript:;"><i class="far fa-heart"></i></a>
                                <span class="product-discount-label bg-warning">-33%</span>
                                <div class="product-link">
                                    <a href="javascript:;">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>Add to cart</span>
                                    </a>
                                    <a href="javascript:;">
                                        <i class="fas fa-eye"></i>
                                        <span>Quick View</span>
                                    </a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="javascript:;">Long Floral Tunic Tops</a></h3>
                                <div class="price"><span class="old-price">$25.00</span><span class="text-danger">$20.00</span></div>
                                <ul class="rating">
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="far fa-star"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-6">
                <div class="card custom-card">
                    <div class="p-0 ht-100p">
                        <div class="product-grid">
                            <div class="product-image">
                                <a href="javascript:;" class="image">
                                    <img class="pic-1" alt="product-image-1" src="../../assets/img/pngs/7.png">
                                    <img class="pic-2" alt="product-image-2" src="../../assets/img/pngs/07.png">
                                </a>
                                <a class="product-like-icon" href="javascript:;"><i class="far fa-heart"></i></a>
                                <div class="product-link">
                                    <a href="javascript:;">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>Add to cart</span>
                                    </a>
                                    <a href="javascript:;">
                                        <i class="fas fa-eye"></i>
                                        <span>Quick View</span>
                                    </a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="javascript:;">Long Slit Full Sleeve</a></h3>
                                <div class="price"><span class="old-price">$25.00</span><span class="text-danger">$20.00</span></div>
                                <ul class="rating">
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="far fa-star"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 col-sm-6">
                <div class="card custom-card">
                    <div class="p-0 ht-100p">
                        <div class="product-grid">
                            <div class="product-image">
                                <a href="javascript:;" class="image">
                                    <img class="pic-1" alt="product-image-1" src="../../assets/img/pngs/8.png">
                                    <img class="pic-2" alt="product-image-2" src="../../assets/img/pngs/08.png">
                                </a>
                                <a class="product-like-icon" href="javascript:;"><i class="far fa-heart"></i></a>
                                <div class="product-link">
                                    <a href="javascript:;">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>Add to cart</span>
                                    </a>
                                    <a href="javascript:;">
                                        <i class="fas fa-eye"></i>
                                        <span>Quick View</span>
                                    </a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="javascript:;">Long Floral Tunic Tops</a></h3>
                                <div class="price"><span class="old-price">$25.00</span><span class="text-danger">$20.00</span></div>
                                <ul class="rating">
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="fas fa-star"></li>
                                    <li class="far fa-star"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <ul class="pagination justify-content-end">
                <li class="page-item disabled"><a class="page-link" href="javascript:;">Prev</a></li>
                <li class="page-item active"><a class="page-link" href="javascript:;">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:;">2</a></li>
                <li class="page-item"><a class="page-link" href="javascript:;">3</a></li>
                <li class="page-item"><a class="page-link" href="javascript:;">4</a></li>
                <li class="page-item"><a class="page-link" href="javascript:;">5</a></li>
                <li class="page-item"><a class="page-link" href="javascript:;">Next</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-md-4 col-lg-3 col-xl-3">
        <div class="card custom-card">
            <div class="card-body">
                <div class="row row-sm">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search ...">
                            <span class="input-group-append">
                                <button class="btn ripple btn-primary" type="button">Search</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-sm">
            <div class="col-md-12 col-lg-12">
                <div class="card custom-card">
                    <div class="card-header custom-card-header">
                        <h6 class="main-content-label mb-0">Categories</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Mens</label>
                            <ng-select id="select-beast" class="form-control p-0" placeholder="All Categories">
                                <ng-option value="">Foot Wear</ng-option>
                                <ng-option value="">Top Wear</ng-option>
                                <ng-option value="">Bottom Wear</ng-option>
                                <ng-option value="">Men's Groming</ng-option>
                                <ng-option value="">Accessories</ng-option>
                            </ng-select>
                            
                        </div>
                        <div class="form-group">
                            <label class="form-label">Women</label>
                            <ng-select name="beast" id="select-beast1" class="form-control p-0 " placeholder="All Categories">
                                <ng-option value="1">Western Wear</ng-option>
                                <ng-option value="2">Foot Wear</ng-option>
                                <ng-option value="3">Top Wear</ng-option>
                                <ng-option value="4">Bottom wear</ng-option>
                                <ng-option value="5">Beauty Groming</ng-option>
                                <ng-option value="6">Accessories</ng-option>
                                <ng-option value="7">Jewellery</ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Baby & Kids</label>
                            <ng-select name="beast" id="select-beast2" class="form-control p-0 " placeholder="All Categories">
                                <ng-option value="1">Boys Clothing</ng-option>
                                <ng-option value="2">Girls Clothing</ng-option>
                                <ng-option value="3">Toys</ng-option>
                                <ng-option value="4">Baby Care</ng-option>
                                <ng-option value="5">Kids Footwear</ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Electronics</label>
                            <ng-select name="beast" id="select-beast3" class="form-control p-0 " placeholder="All Categories">
                                <ng-option value="1">Mobiles</ng-option>
                                <ng-option value="2">Laptops</ng-option>
                                <ng-option value="3">Gaming & Accessories</ng-option>
                                <ng-option value="4">Health Care Appliances</ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Sport,Books & More </label>
                            <ng-select name="beast" id="select-beast4" class="form-control p-0 " placeholder="All Categories">
                                <ng-option value="1">Stationery</ng-option>
                                <ng-option value="2">Books</ng-option>
                                <ng-option value="3">Gaming</ng-option>
                                <ng-option value="4">Music</ng-option>
                                <ng-option value="5">Exercise & fitness</ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Price</label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="example-radios" value="option1" checked="">
                                <span class="custom-control-label">Under $25</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="example-radios" value="option2">
                                <span class="custom-control-label">$25 to $50</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="example-radios" value="option2">
                                <span class="custom-control-label">$50 to $100</span>
                                    </label>
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="example-radios" value="option2">
                                <span class="custom-control-label">Other (specify)</span>
                            </label>
                        </div>
                        <a class="btn ripple btn-primary btn-block" href="javascript:;">Apply Filter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->