<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">List-Group</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;">Elements</a></li>
            <li class="breadcrumb-item active" aria-current="page">List-Group</li>
        </ol>
    </div>
    <div class="d-flex">
        <div class="justify-content-center">
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
                <i class="fe fe-download mr-2"></i> Import
            </button>
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
                <i class="fe fe-filter mr-2"></i> Filter
            </button>
            <button type="button" class="btn btn-primary my-2 btn-icon-text">
                <i class="fe fe-download-cloud mr-2"></i> Download Report
            </button>
        </div>
    </div>
</div>
<!-- End Page Header -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-xl-9 col-lg-12">
        <div class="card custom-card" id="basic" #basic>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Basic Example</h6>
                    <p class="text-muted card-sub-title">The most basic list group is an unordered
                        list with list items and the proper classes. Build upon it with the options
                        that follow, or with your own CSS as needed.</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="listgroup1">
                        <ul ngbNav #nav1="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html1"></code></pre>
                                    <div ngxClipboard [cbContent]="html1" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts1"></code></pre>
                                    <div ngxClipboard [cbContent]="ts1" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav1"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>
        <div class="card custom-card" id="active" #active>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Active Item</h6>
                    <p class="text-muted card-sub-title">Add active class to a
                        <code>.list-group-item</code> to indicate the current active selection.</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item active">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="listgroup2">
                        <ul ngbNav #nav2="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html2"></code></pre>
                                    <div ngxClipboard [cbContent]="html2" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts2"></code></pre>
                                    <div ngxClipboard [cbContent]="ts2" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav2"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>
        <div class="card custom-card" id="disabled" #disabled>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Disabled Item</h6>
                    <p class="text-muted card-sub-title">Add disabled class to a
                        <code>.list-group-item</code> to indicate the current active selection.</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item disabled">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="listgroup3">
                        <ul ngbNav #nav3="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html3"></code></pre>
                                    <div ngxClipboard [cbContent]="html3" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts3"></code></pre>
                                    <div ngxClipboard [cbContent]="ts3" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav3"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>
        <div class="card custom-card" id="link" #link>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Link and Buttons</h6>
                    <p class="text-muted card-sub-title">Use link tag or button to create actionable
                        list group items with hover, disabled, and active states by adding
                        <code>.list-group-item-action</code>.</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <div>
                            <div class="list-group">
                                <a class="list-group-item list-group-item-action active"
                                    href="javascript:;">Cras justo odio</a>
                                <a class="list-group-item list-group-item-action" href="javascript:;">Dapibus
                                    ac facilisis in</a>
                                <a class="list-group-item list-group-item-action" href="javascript:;">Morbi leo
                                    risus</a>
                                <a class="list-group-item list-group-item-action" href="javascript:;">Porta ac
                                    consectetur ac</a>
                                <a class="list-group-item list-group-item-action"
                                    href="javascript:;">Vestibulum at eros</a>
                            </div>
                        </div>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="listgroup4">
                        <ul ngbNav #nav4="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html4"></code></pre>
                                    <div ngxClipboard [cbContent]="html4" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts4"></code></pre>
                                    <div ngxClipboard [cbContent]="ts4" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav4"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>
        <div class="card custom-card" id="image" #image>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Using Avatars</h6>
                    <p class="text-muted card-sub-title">A list that contain an image with the help
                        of utility classes.</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item d-flex align-items-center">
                                    <img alt="avatar" class="wd-30 rounded-circle mg-r-15"
                                        src="../../assets/img/users/2.jpg">
                                    <div>
                                        <h6 class="tx-13 tx-inverse tx-semibold mg-b-0">Adrian
                                            Monino</h6><span
                                            class="d-block tx-11 text-muted">Premium Member</span>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <img alt="avatar" class="wd-30 rounded-circle mg-r-15"
                                        src="../../assets/img/users/3.jpg">
                                    <div>
                                        <h6 class="tx-13 tx-inverse tx-semibold mg-b-0">Joel Mendez
                                        </h6><span class="d-block tx-11 text-muted">Premium
                                            Member</span>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <img alt="avatar" class="wd-30 rounded-circle mg-r-15"
                                        src="../../assets/img/users/4.jpg">
                                    <div>
                                        <h6 class="tx-13 tx-inverse tx-semibold mg-b-0">Marianne
                                            Audrey</h6><span
                                            class="d-block tx-11 text-muted">Premium Member</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="listgroup5">
                        <ul ngbNav #nav5="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html5"></code></pre>
                                    <div ngxClipboard [cbContent]="html5" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts5"></code></pre>
                                    <div ngxClipboard [cbContent]="ts5" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav5"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>
        <div class="card custom-card" id="flush" #flush>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Flush List</h6>
                    <p class="text-muted card-sub-title">Add <code>.list-group-flush</code> to
                        remove some borders and rounded corners to render list group items
                        edge-to-edge in a parent container.</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="listgroup6">
                        <ul ngbNav #nav6="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html6"></code></pre>
                                    <div ngxClipboard [cbContent]="html6" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts6"></code></pre>
                                    <div ngxClipboard [cbContent]="ts6" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav6"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>
        <div class="card custom-card" id="context" #context>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Contextual classes</h6>
                    <p class="text-muted card-sub-title">Use contextual classes to style list items
                        with a stateful background and color.</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item list-group-item-primary">A simple primary
                                    list group item</li>
                                <li class="list-group-item list-group-item-secondary">A simple
                                    secondary list group item</li>
                                <li class="list-group-item list-group-item-success">A simple success
                                    list group item</li>
                                <li class="list-group-item list-group-item-danger">A simple danger
                                    list group item</li>
                                <li class="list-group-item list-group-item-warning">A simple warning
                                    list group item</li>
                                <li class="list-group-item list-group-item-info">A simple info list
                                    group item</li>
                                <li class="list-group-item list-group-item-light">A simple light
                                    list group item</li>
                                <li class="list-group-item list-group-item-dark">A simple dark list
                                    group item</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="listgroup8">
                        <ul ngbNav #nav7="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html7"></code></pre>
                                    <div ngxClipboard [cbContent]="html7" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts7"></code></pre>
                                    <div ngxClipboard [cbContent]="ts7" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav7"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>
        <div class="card custom-card" id="badge" #badge>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">With badges</h6>
                    <p class="text-muted card-sub-title">Add badges to any list group item to show
                        unread counts, activity, and more with the help of some.</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <div>
                            <ul class="list-group">
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center">
                                    Cras justo odio
                                    <span class="badge badge-primary badge-pill">14</span>
                                </li>
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center">
                                    Dapibus ac facilisis in
                                    <span class="badge badge-primary badge-pill">2</span>
                                </li>
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center">
                                    Morbi leo risus
                                    <span class="badge badge-primary badge-pill">1</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="listgroup9">
                        <ul ngbNav #nav8="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html8"></code></pre>
                                    <div ngxClipboard [cbContent]="html8" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts8"></code></pre>
                                    <div ngxClipboard [cbContent]="ts8" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav8"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>
        <div class="card custom-card" id="content" #content>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Custom content</h6>
                    <p class="text-muted card-sub-title">Add badges to any list group item to show
                        unread counts, activity, and more with the help of some.</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <div>
                            <div class="list-group">
                                <a href="javascript:;" class="list-group-item list-group-item-action active">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">List group item heading</h5>
                                        <small>3 days ago</small>
                                    </div>
                                    <p class="mb-1">Donec id elit non mi porta gravida at eget
                                        metus. Maecenas sed diam eget risus varius blandit.</p>
                                    <small>Donec id elit non mi porta.</small>
                                </a>
                                <a href="javascript:;" class="list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">List group item heading</h5>
                                        <small class="text-muted">3 days ago</small>
                                    </div>
                                    <p class="mb-1">Donec id elit non mi porta gravida at eget
                                        metus. Maecenas sed diam eget risus varius blandit.</p>
                                    <small class="text-muted">Donec id elit non mi porta.</small>
                                </a>
                                <a href="javascript:;" class="list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">List group item heading</h5>
                                        <small class="text-muted">3 days ago</small>
                                    </div>
                                    <p class="mb-1">Donec id elit non mi porta gravida at eget
                                        metus. Maecenas sed diam eget risus varius blandit.</p>
                                    <small class="text-muted">Donec id elit non mi porta.</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="listgroup10">
                        <ul ngbNav #nav9="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html9"></code></pre>
                                    <div ngxClipboard [cbContent]="html9" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts9"></code></pre>
                                    <div ngxClipboard [cbContent]="ts9" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav9"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>
        <div class="card mg-b-20" id="list1" #list1>
            <div class="card-body">
                <div class="main-content-label mg-b-5">
                    Active Item
                </div>
                <p class="mg-b-20 text-muted card-sub-title">It is Very Easy to Customize and it
                    uses in your website apllication</p>
                <div class="text-wrap">
                    <div class="example">
                        <div class="listgroup-example2">
                            <ul class="list-group">
                                <li>Dapibus ac facilisis in</li>
                                <li>Morbi leo risus</li>
                                <li>Cras justo odio
                                    <ul class="list-style-disc">
                                        <li>Lorem </li>
                                        <li>established</li>
                                        <li>Contrary</li>
                                    </ul>
                                </li>
                                <li>Porta ac consectetur ac</li>
                                <li>Vestibulum at eros</li>
                            </ul>
                        </div>
                    </div>
                    <!---Prism Pre code-->
                    <figure class="highlight clip-widget" id="list40">
                        <ul ngbNav #nav10="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html10"></code></pre>
                                    <div ngxClipboard [cbContent]="html10" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts10"></code></pre>
                                    <div ngxClipboard [cbContent]="ts10" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav10"></div>
                    </figure>
                    <!---Prism Pre code-->
                </div>
            </div>
        </div>
        <div class="card mg-b-20" id="list3" #list3>
            <div class="card-body">
                <div class="main-content-label mg-b-5">
                    Check List Example
                </div>
                <p class="mg-b-20 text-muted card-sub-title">It is Very Easy to Customize and it
                    uses in your website apllication</p>
                <div class="text-wrap">
                    <div class="example">
                        <div class="listgroup-example ">
                            <ul class="list-group">
                                <li>Dapibus ac facilisis in</li>
                                <li>Morbi leo risus</li>
                                <li>Cras justo odio
                                    <ul class="list-group checked">
                                        <li class="list-group-item"><i
                                                class="fe fe-check mr-3 tx-13"
                                                aria-hidden="true"></i>Lorem </li>
                                        <li class="list-group-item"><i
                                                class="fe fe-check mr-3 tx-13"
                                                aria-hidden="true"></i>established</li>
                                        <li class="list-group-item"><i
                                                class="fe fe-check mr-3 tx-13"
                                                aria-hidden="true"></i>Contrary</li>
                                    </ul>
                                </li>
                                <li>Porta ac consectetur ac</li>
                                <li>Vestibulum at eros</li>
                            </ul>
                        </div>
                    </div>
                    <!---Prism Pre code-->
                    <figure class="highlight clip-widget" id="list15">
                        <ul ngbNav #nav11="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html11"></code></pre>
                                    <div ngxClipboard [cbContent]="html11" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts11"></code></pre>
                                    <div ngxClipboard [cbContent]="ts11" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav11"></div>
                    </figure>
                    <!---Prism Pre code-->
                </div>
            </div>
        </div>
        <div class="card mg-b-20" id="list" #list>
            <div class="card-body">
                <div class="main-content-label mg-b-5">
                    List Example
                </div>
                <p class="mg-b-20 text-muted card-sub-title">It is Very Easy to Customize and it
                    uses in your website apllication</p>
                <div class="text-wrap">
                    <div class="example">
                        <div class="listgroup-example ">
                            <ul class="list-group">
                                <li>Dapibus ac facilisis in</li>
                                <li>Morbi leo risus</li>
                                <li>Cras justo odio
                                    <ul class="list-group">
                                        <li class="listorder">Lorem </li>
                                        <li class="listorder">established</li>
                                        <li class="listorder">Contrary</li>
                                    </ul>
                                </li>
                                <li>Porta ac consectetur ac</li>
                                <li>Vestibulum at eros</li>
                            </ul>
                        </div>
                    </div>
                    <!---Prism Pre code-->
                    <figure class="highlight clip-widget" id="list12">
                        <ul ngbNav #nav12="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html12"></code></pre>
                                    <div ngxClipboard [cbContent]="html12" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts12"></code></pre>
                                    <div ngxClipboard [cbContent]="ts12" >
                                        <div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav12"></div>
                    </figure>
                    <!---Prism Pre code-->
                </div>
            </div>
        </div>

    </div>
    <div class="col-xl-3 col-lg-12 d-none d-xl-block custom-leftnav">
        <div class="main-content-left-components">
            <div class="card custom-card">
                <div class="card-body component-item">
                    <nav class="nav flex-column">
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(basic)">Basic Example</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(active)">Active Item</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(disabled)">Disabled Item</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(link)">Link and Buttons</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(image)">Using Image</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(flush)">Flush List</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(context)">Contextual classes</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(badge)">With badges</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(content)">Custom content</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(list1)">Active Item</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(list)">List content</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(list3)">Checklist content</a>
                    </nav>
                </div>
            </div>
            <div class="card custom-card">
                <div class="card-header custom-card-header">
                    <h6 class="main-content-label mb-3">Project Status</h6>
                </div>
                <div>
                    <div class="list d-flex align-items-center p-3">
                        <circle-progress
                            [showTitle]="false" 
                            [showUnits]="false" 
                            [showSubtitle]="false"
                            [percent]="100" [radius]="18" [space]="-5"
                            outerStrokeLinecap=square 
                            [outerStrokeWidth]="5"
                            [innerStrokeWidth]="5" 
                            [showInnerStroke]="true" 
                            [outerStrokeColor]="'#38d250'"
                            [innerStrokeColor]="'#77778e33'" 
                            [animation]="true"
                            [animationDuration]="1000"
                            >
                        </circle-progress>
                        
                        <div class="wrappe ml-3">
                            <h6 class="mb-1">Project Planning</h6>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <span class="mb-0 text-muted"><i
                                            class="fas fa-check-circle mr-2"></i>100%
                                        Completed</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list d-flex align-items-center p-3 border-top">
                        <circle-progress
                            [showTitle]="false" 
                            [showUnits]="false" 
                            [showSubtitle]="false"
                            [percent]="100" [radius]="18" [space]="-5"
                            outerStrokeLinecap=square 
                            [outerStrokeWidth]="5"
                            [innerStrokeWidth]="5" 
                            [showInnerStroke]="true" 
                            [outerStrokeColor]="'#38d250'"
                            [innerStrokeColor]="'#77778e33'" 
                            [animation]="true"
                            [animationDuration]="1000"
                            >
                        </circle-progress>
                        
                        <div class="wrappe ml-3">
                            <h6 class="mb-1">Project Desiging</h6>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <span class="mb-0 text-muted"><i
                                            class="fas fa-check-circle mr-2"></i>100%
                                        Completed</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list d-flex align-items-center p-3 border-top">
                        <circle-progress
                            [showTitle]="false" 
                            [showUnits]="false" 
                            [showSubtitle]="false"
                            [percent]="76" [radius]="18" [space]="-5"
                            outerStrokeLinecap=square 
                            [outerStrokeWidth]="5"
                            [innerStrokeWidth]="5" 
                            [showInnerStroke]="true" 
                            [outerStrokeColor]="'#53caed'"
                            [innerStrokeColor]="'#77778e33'" 
                            [animation]="true"
                            [animationDuration]="1000"
                            >
                        </circle-progress>
                        
                        <div class="wrappe ml-3">
                            <h6 class="mb-1">Project Development</h6>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <span class="mb-0 text-muted"><i
                                            class="fas fa-spinner mr-2"></i>76% Progress</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list d-flex align-items-center  p-3 border-top">
                        <circle-progress
                            [showTitle]="false" 
                            [showUnits]="false" 
                            [showSubtitle]="false"
                            [percent]="10" [radius]="18" [space]="-5"
                            outerStrokeLinecap=square 
                            [outerStrokeWidth]="5"
                            [innerStrokeWidth]="5" 
                            [showInnerStroke]="true" 
                            [outerStrokeColor]="'#f16d75'"
                            [innerStrokeColor]="'#77778e33'" 
                            [animation]="true"
                            [animationDuration]="1000"
                            >
                        </circle-progress>
                        
                        <div class="wrappe ml-3">
                            <h6 class="mb-1">Project Testing</h6>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <span class="mb-0 text-muted"><i
                                            class="fas fa-info-circle mr-2"></i>Waiting</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->