.main-nav-line .nav-link.active {
    color: #8f9cc0;
    text-decoration: underline;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    background-color: #ffffff;
    color: #fff !important;
}