<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Typicons Icons</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;">Icons</a></li>
            <li class="breadcrumb-item"><a href="javascript:;">Typicons Icons</a></li>
        </ol>
    </div>
    <div class="d-flex">
        <div class="justify-content-center">
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
              <i class="fe fe-download mr-2"></i> Import
            </button>
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
              <i class="fe fe-filter mr-2"></i> Filter
            </button>
            <button type="button" class="btn btn-primary my-2 btn-icon-text">
              <i class="fe fe-download-cloud mr-2"></i> Download Report
            </button>
        </div>
    </div>
</div>
<!-- End Page Header -->

<!-- Row-->
<div class="row ">
    <div class="col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <div class="row row-sm">
                    <div class="col-lg-12 col-sm-12 mb-4">
                        <h3 class="main-content-label">Typicons icons</h3>
                        <p class="mb-2">Simply beautiful open source icons. For more info <a href="https://www.s-ings.com/typicons/" target="_blank">click here</a>.</p>
                        <p><code>&lt;i class="typcn typcn-ICON_NAME"&gt;&lt;/i&gt;</code></p>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="icons-list-wrap">
                            <ul class="icons-list">
                                <li class="icons-list-item"><i class="typcn typcn-chart-pie-outline" placement="top" ngbTooltip="typcn typcn-chart-pie-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-chart-pie" placement="top" ngbTooltip="typcn typcn-chart-pie"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-chevron-left-outline" placement="top" ngbTooltip="typcn typcn-chevron-left-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-chevron-left" placement="top" ngbTooltip="typcn typcn-chevron-left"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-chevron-right-outline" placement="top" ngbTooltip="typcn typcn-chevron-right-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-chevron-right" placement="top" ngbTooltip="typcn typcn-chevron-right"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-clipboard" placement="top" ngbTooltip="typcn typcn-clipboard"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-cloud-storage" placement="top" ngbTooltip="typcn typcn-cloud-storage"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-cloud-storage-outline" placement="top" ngbTooltip="typcn typcn-cloud-storage-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-code-outline" placement="top" ngbTooltip="typcn typcn-code-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-code" placement="top" ngbTooltip="typcn typcn-code"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-coffee" placement="top" ngbTooltip="typcn typcn-coffee"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-cog-outline" placement="top" ngbTooltip="typcn typcn-cog-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-cog" placement="top" ngbTooltip="typcn typcn-cog"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-compass" placement="top" ngbTooltip="typcn typcn-compass"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-contacts" placement="top" ngbTooltip="typcn typcn-contacts"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-credit-card" placement="top" ngbTooltip="typcn typcn-credit-card"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-css3" placement="top" ngbTooltip="typcn typcn-css3"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-database" placement="top" ngbTooltip="typcn typcn-database"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-delete-outline" placement="top" ngbTooltip="typcn typcn-delete-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-delete" placement="top" ngbTooltip="typcn typcn-delete"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-device-desktop" placement="top" ngbTooltip="typcn typcn-device-desktop"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-device-laptop" placement="top" ngbTooltip="typcn typcn-device-laptop"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-device-phone" placement="top" ngbTooltip="typcn typcn-device-phone"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-device-tablet" placement="top" ngbTooltip="typcn typcn-device-tablet"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-directions" placement="top" ngbTooltip="typcn typcn-directions"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-divide-outline" placement="top" ngbTooltip="typcn typcn-divide-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-divide" placement="top" ngbTooltip="typcn typcn-divide"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-document-add" placement="top" ngbTooltip="typcn typcn-document-add"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-document-delete" placement="top" ngbTooltip="typcn typcn-document-delete"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-document-text" placement="top" ngbTooltip="typcn typcn-document-text"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-document" placement="top" ngbTooltip="typcn typcn-document"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-download-outline" placement="top" ngbTooltip="typcn typcn-download-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-download" placement="top" ngbTooltip="typcn typcn-download"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-dropbox" placement="top" ngbTooltip="typcn typcn-dropbox"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-edit" placement="top" ngbTooltip="typcn typcn-edit"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-eject-outline" placement="top" ngbTooltip="typcn typcn-eject-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-eject" placement="top" ngbTooltip="typcn typcn-eject"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-equals-outline" placement="top" ngbTooltip="typcn typcn-equals-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-equals" placement="top" ngbTooltip="typcn typcn-equals"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-export-outline" placement="top" ngbTooltip="typcn typcn-export-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-export" placement="top" ngbTooltip="typcn typcn-export"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-eye-outline" placement="top" ngbTooltip="typcn typcn-eye-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-eye" placement="top" ngbTooltip="typcn typcn-eye"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-feather" placement="top" ngbTooltip="typcn typcn-feather"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-film" placement="top" ngbTooltip="typcn typcn-film"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-filter" placement="top" ngbTooltip="typcn typcn-filter"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-flag-outline" placement="top" ngbTooltip="typcn typcn-flag-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-flag" placement="top" ngbTooltip="typcn typcn-flag"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-flash-outline" placement="top" ngbTooltip="typcn typcn-flash-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-flash" placement="top" ngbTooltip="typcn typcn-flash"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-flow-children" placement="top" ngbTooltip="typcn typcn-flow-children"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-flow-merge" placement="top" ngbTooltip="typcn typcn-flow-merge"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-flow-parallel" placement="top" ngbTooltip="typcn typcn-flow-parallel"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-flow-switch" placement="top" ngbTooltip="typcn typcn-flow-switch"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-folder-add" placement="top" ngbTooltip="typcn typcn-folder-add"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-folder-delete" placement="top" ngbTooltip="typcn typcn-folder-delete"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-folder-open" placement="top" ngbTooltip="typcn typcn-folder-open"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-folder" placement="top" ngbTooltip="typcn typcn-folder"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-gift" placement="top" ngbTooltip="typcn typcn-gift"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-globe-outline" placement="top" ngbTooltip="typcn typcn-globe-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-globe" placement="top" ngbTooltip="typcn typcn-globe"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-group-outline" placement="top" ngbTooltip="typcn typcn-group-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-group" placement="top" ngbTooltip="typcn typcn-group"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-headphones" placement="top" ngbTooltip="typcn typcn-headphones"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-heart-full-outline" placement="top" ngbTooltip="typcn typcn-heart-full-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-heart-half-outline" placement="top" ngbTooltip="typcn typcn-heart-half-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-heart-outline" placement="top" ngbTooltip="typcn typcn-heart-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-heart" placement="top" ngbTooltip="typcn typcn-heart"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-home-outline" placement="top" ngbTooltip="typcn typcn-home-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-home" placement="top" ngbTooltip="typcn typcn-home"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-html5" placement="top" ngbTooltip="typcn typcn-html5"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-image-outline" placement="top" ngbTooltip="typcn typcn-image-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-image" placement="top" ngbTooltip="typcn typcn-image"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-infinity-outline" placement="top" ngbTooltip="typcn typcn-infinity-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-info-large-outline" placement="top" ngbTooltip="typcn typcn-info-large-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-info-large" placement="top" ngbTooltip="typcn typcn-info-large"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-info-outline" placement="top" ngbTooltip="typcn typcn-info-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-info" placement="top" ngbTooltip="typcn typcn-info"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-input-checked-outline" placement="top" ngbTooltip="typcn typcn-input-checked-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-input-checked" placement="top" ngbTooltip="typcn typcn-input-checked"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-key-outline" placement="top" ngbTooltip="typcn typcn-key-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-key" placement="top" ngbTooltip="typcn typcn-key"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-keyboard" placement="top" ngbTooltip="typcn typcn-keyboard"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-leaf" placement="top" ngbTooltip="typcn typcn-leaf"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-lightbulb" placement="top" ngbTooltip="typcn typcn-lightbulb"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-link-outline" placement="top" ngbTooltip="typcn typcn-link-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-link" placement="top" ngbTooltip="typcn typcn-link"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-location-arrow-outline" placement="top" ngbTooltip="typcn typcn-location-arrow-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-location-arrow" placement="top" ngbTooltip="typcn typcn-location-arrow"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-location-outline" placement="top" ngbTooltip="typcn typcn-location-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-location" placement="top" ngbTooltip="typcn typcn-location"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-lock-closed-outline" placement="top" ngbTooltip="typcn typcn-lock-closed-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-lock-closed" placement="top" ngbTooltip="typcn typcn-lock-closed"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-lock-open-outline" placement="top" ngbTooltip="typcn typcn-lock-open-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-lock-open" placement="top" ngbTooltip="typcn typcn-lock-open"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-mail" placement="top" ngbTooltip="typcn typcn-mail"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-map" placement="top" ngbTooltip="typcn typcn-map"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-eject-outline" placement="top" ngbTooltip="typcn typcn-media-eject-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-eject" placement="top" ngbTooltip="typcn typcn-media-eject"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-fast-forward-outline" placement="top" ngbTooltip="typcn typcn-media-fast-forward-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-fast-forward" placement="top" ngbTooltip="typcn typcn-media-fast-forward"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-pause-outline" placement="top" ngbTooltip="typcn typcn-media-pause-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-pause" placement="top" ngbTooltip="typcn typcn-media-pause"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-play-outline" placement="top" ngbTooltip="typcn typcn-media-play-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-play-reverse-outline" placement="top" ngbTooltip="typcn typcn-media-play-reverse-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-play-reverse" placement="top" ngbTooltip="typcn typcn-media-play-reverse"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-play" placement="top" ngbTooltip="typcn typcn-media-play"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-record-outline" placement="top" ngbTooltip="typcn typcn-media-record-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-record" placement="top" ngbTooltip="typcn typcn-media-record"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-rewind-outline" placement="top" ngbTooltip="typcn typcn-media-rewind-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-rewind" placement="top" ngbTooltip="typcn typcn-media-rewind"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-stop-outline" placement="top" ngbTooltip="typcn typcn-media-stop-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-stop" placement="top" ngbTooltip="typcn typcn-media-stop"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-message-typing" placement="top" ngbTooltip="typcn typcn-message-typing"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-message" placement="top" ngbTooltip="typcn typcn-message"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-messages" placement="top" ngbTooltip="typcn typcn-messages"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-microphone-outline" placement="top" ngbTooltip="typcn typcn-microphone-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-microphone" placement="top" ngbTooltip="typcn typcn-microphone"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-minus-outline" placement="top" ngbTooltip="typcn typcn-minus-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-minus" placement="top" ngbTooltip="typcn typcn-minus"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-mortar-board" placement="top" ngbTooltip="typcn typcn-mortar-board"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-news" placement="top" ngbTooltip="typcn typcn-news"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-notes-outline" placement="top" ngbTooltip="typcn typcn-notes-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-notes" placement="top" ngbTooltip="typcn typcn-notes"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-pen" placement="top" ngbTooltip="typcn typcn-pen"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-pencil" placement="top" ngbTooltip="typcn typcn-pencil"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-phone-outline" placement="top" ngbTooltip="typcn typcn-phone-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-phone" placement="top" ngbTooltip="typcn typcn-phone"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-pi-outline" placement="top" ngbTooltip="typcn typcn-pi-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-pi" placement="top" ngbTooltip="typcn typcn-pi"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-pin-outline" placement="top" ngbTooltip="typcn typcn-pin-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-pin" placement="top" ngbTooltip="typcn typcn-pin"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-pipette" placement="top" ngbTooltip="typcn typcn-pipette"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-plane-outline" placement="top" ngbTooltip="typcn typcn-plane-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-plane" placement="top" ngbTooltip="typcn typcn-plane"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-plug" placement="top" ngbTooltip="typcn typcn-plug"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-plus-outline" placement="top" ngbTooltip="typcn typcn-plus-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-plus" placement="top" ngbTooltip="typcn typcn-plus"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-point-of-interest-outline" placement="top" ngbTooltip="typcn typcn-point-of-interest-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-point-of-interest" placement="top" ngbTooltip="typcn typcn-point-of-interest"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-power-outline" placement="top" ngbTooltip="typcn typcn-power-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-power" placement="top" ngbTooltip="typcn typcn-power"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-printer" placement="top" ngbTooltip="typcn typcn-printer"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-puzzle-outline" placement="top" ngbTooltip="typcn typcn-puzzle-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-puzzle" placement="top" ngbTooltip="typcn typcn-puzzle"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-radar-outline" placement="top" ngbTooltip="typcn typcn-radar-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-radar" placement="top" ngbTooltip="typcn typcn-radar"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-refresh-outline" placement="top" ngbTooltip="typcn typcn-refresh-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-refresh" placement="top" ngbTooltip="typcn typcn-refresh"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-rss-outline" placement="top" ngbTooltip="typcn typcn-rss-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-rss" placement="top" ngbTooltip="typcn typcn-rss"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-scissors-outline" placement="top" ngbTooltip="typcn typcn-scissors-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-scissors" placement="top" ngbTooltip="typcn typcn-scissors"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-shopping-bag" placement="top" ngbTooltip="typcn typcn-shopping-bag"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-shopping-cart" placement="top" ngbTooltip="typcn typcn-shopping-cart"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-at-circular" placement="top" ngbTooltip="typcn typcn-social-at-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-dribbble-circular" placement="top" ngbTooltip="typcn typcn-social-dribbble-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-dribbble" placement="top" ngbTooltip="typcn typcn-social-dribbble"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-facebook-circular" placement="top" ngbTooltip="typcn typcn-social-facebook-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-facebook" placement="top" ngbTooltip="typcn typcn-social-facebook"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-flickr-circular" placement="top" ngbTooltip="typcn typcn-social-flickr-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-flickr" placement="top" ngbTooltip="typcn typcn-social-flickr"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-github-circular" placement="top" ngbTooltip="typcn typcn-social-github-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-github" placement="top" ngbTooltip="typcn typcn-social-github"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-google-plus-circular" placement="top" ngbTooltip="typcn typcn-social-google-plus-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-google-plus" placement="top" ngbTooltip="typcn typcn-social-google-plus"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-instagram-circular" placement="top" ngbTooltip="typcn typcn-social-instagram-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-instagram" placement="top" ngbTooltip="typcn typcn-social-instagram"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-last-fm-circular" placement="top" ngbTooltip="typcn typcn-social-last-fm-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-last-fm" placement="top" ngbTooltip="typcn typcn-social-last-fm"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-linkedin-circular" placement="top" ngbTooltip="typcn typcn-social-linkedin-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-linkedin" placement="top" ngbTooltip="typcn typcn-social-linkedin"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-pinterest-circular" placement="top" ngbTooltip="typcn typcn-social-pinterest-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-pinterest" placement="top" ngbTooltip="typcn typcn-social-pinterest"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-skype-outline" placement="top" ngbTooltip="typcn typcn-social-skype-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-skype" placement="top" ngbTooltip="typcn typcn-social-skype"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-tumbler-circular" placement="top" ngbTooltip="typcn typcn-social-tumbler-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-tumbler" placement="top" ngbTooltip="typcn typcn-social-tumbler"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-twitter-circular" placement="top" ngbTooltip="typcn typcn-social-twitter-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-twitter" placement="top" ngbTooltip="typcn typcn-social-twitter"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-vimeo-circular" placement="top" ngbTooltip="typcn typcn-social-vimeo-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-vimeo" placement="top" ngbTooltip="typcn typcn-social-vimeo"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-youtube-circular" placement="top" ngbTooltip="typcn typcn-social-youtube-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-youtube" placement="top" ngbTooltip="typcn typcn-social-youtube"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-sort-alphabetically-outline" placement="top" ngbTooltip="typcn typcn-sort-alphabetically-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-sort-alphabetically" placement="top" ngbTooltip="typcn typcn-sort-alphabetically"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-sort-numerically-outline" placement="top" ngbTooltip="typcn typcn-sort-numerically-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-sort-numerically" placement="top" ngbTooltip="typcn typcn-sort-numerically"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-spanner-outline" placement="top" ngbTooltip="typcn typcn-spanner-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-spanner" placement="top" ngbTooltip="typcn typcn-spanner"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-spiral" placement="top" ngbTooltip="typcn typcn-spiral"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-star-full-outline" placement="top" ngbTooltip="typcn typcn-star-full-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-star-half-outline" placement="top" ngbTooltip="typcn typcn-star-half-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-star-half" placement="top" ngbTooltip="typcn typcn-star-half"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-star-outline" placement="top" ngbTooltip="typcn typcn-star-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-star" placement="top" ngbTooltip="typcn typcn-star"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-starburst-outline" placement="top" ngbTooltip="typcn typcn-starburst-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-starburst" placement="top" ngbTooltip="typcn typcn-starburst"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-stopwatch" placement="top" ngbTooltip="typcn typcn-stopwatch"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-support" placement="top" ngbTooltip="typcn typcn-support"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-tabs-outline" placement="top" ngbTooltip="typcn typcn-tabs-outline"></i></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>