::ng-deep {
    aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li.current .step-indicator {
        background-color: #6259ca !important;
    }
    aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li:not(:last-child):after,
    aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li:not(:last-child):after,
    aw-wizard-navigation-bar.vertical.large-filled-symbols ul.steps-indicator li:not(:last-child):after{
        background-color: #e8e8f7;
    }
    aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li .step-indicator {
        background-color: #f0f0ff;
    }
    aw-wizard-navigation-bar ul.steps-indicator li a .label {
        color: #8f9cc0;
    }

    aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.current .step-indicator {
        border: 2px solid #6259ca;
        color: #8f9cc0;
    }

    aw-wizard-navigation-bar.vertical.large-filled-symbols ul.steps-indicator li.current .step-indicator {
        background-color: #6259ca;
        color: #ffffff;
    }

    aw-wizard-navigation-bar.vertical.large-filled-symbols ul.steps-indicator li.done .step-indicator{
        color: #ffffff;
    }
    aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li .step-indicator{
        // border: 2px solid #f0f0ff;
        border: 2px solid #e8e8f7;
    }
    aw-wizard-navigation-bar.vertical.large-filled-symbols ul.steps-indicator li .step-indicator{
        background-color: #e8e8f7;
    }
    
    aw-wizard-navigation-bar.horizontal ul.steps-indicator li a .label {
        display: none;
    }
    aw-wizard-navigation-bar.horizontal ul.steps-indicator li.current a .label {
        display: inline-block;
    }
    aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li.current.done .step-indicator {
        background-color: #339933 !important;
    }
}
