<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Feather Icons</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;">Icons</a></li>
            <li class="breadcrumb-item active" aria-current="page">Feather Icons</li>
        </ol>
    </div>
    <div class="d-flex">
        <div class="justify-content-center">
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
              <i class="fe fe-download mr-2"></i> Import
            </button>
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
              <i class="fe fe-filter mr-2"></i> Filter
            </button>
            <button type="button" class="btn btn-primary my-2 btn-icon-text">
              <i class="fe fe-download-cloud mr-2"></i> Download Report
            </button>
        </div>
    </div>
</div>
<!-- End Page Header -->

<!-- Row-->
<div class="row row-sm">
    <div class="col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <div class="row row-sm">
                    <div class="col-lg-12 col-sm-12 mb-4">
                    <h3 class="main-content-label">Feather Icons</h3>
                        <p class="mb-2">Simply beautiful open source icons. For more info <a href="https://feathericons.com" target="_blank">click here</a>.</p>
                        <p><code>&lt;i class="fe fe-ICON_NAME"&gt;&lt;/i&gt;</code></p>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="icons-list-wrap">
                            <ul class="icons-list">
                                <li class="icons-list-item"><i class="fe fe-activity" placement="top" ngbTooltip="fe fe-activity"></i></li>
                                <li class="icons-list-item"><i class="fe fe-airplay" placement="top" ngbTooltip="fe fe-airplay"></i></li>
                                <li class="icons-list-item"><i class="fe fe-alert-circle" placement="top" ngbTooltip="fe fe-alert-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-alert-octagon" placement="top" ngbTooltip="fe fe-alert-octagon"></i></li>
                                <li class="icons-list-item"><i class="fe fe-alert-triangle" placement="top" ngbTooltip="fe fe-alert-triangle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-align-center" placement="top" ngbTooltip="fe fe-align-center"></i></li>
                                <li class="icons-list-item"><i class="fe fe-align-justify" placement="top" ngbTooltip="fe fe-align-justify"></i></li>
                                <li class="icons-list-item"><i class="fe fe-align-left" placement="top" ngbTooltip="fe fe-align-left"></i></li>
                                <li class="icons-list-item"><i class="fe fe-align-right" placement="top" ngbTooltip="fe fe-align-right"></i></li>
                                <li class="icons-list-item"><i class="fe fe-anchor" placement="top" ngbTooltip="fe fe-anchor"></i></li>
                                <li class="icons-list-item"><i class="fe fe-aperture" placement="top" ngbTooltip="fe fe-aperture"></i></li>
                                <li class="icons-list-item"><i class="fe fe-arrow-down" placement="top" ngbTooltip="fe fe-arrow-down"></i></li>
                                <li class="icons-list-item"><i class="fe fe-arrow-down-circle" placement="top" ngbTooltip="fe fe-arrow-down-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-arrow-down-left" placement="top" ngbTooltip="fe fe-arrow-down-left"></i></li>
                                <li class="icons-list-item"><i class="fe fe-arrow-down-right" placement="top" ngbTooltip="fe fe-arrow-down-right"></i></li>
                                <li class="icons-list-item"><i class="fe fe-arrow-left" placement="top" ngbTooltip="fe fe-arrow-left"></i></li>
                                <li class="icons-list-item"><i class="fe fe-arrow-left-circle" placement="top" ngbTooltip="fe fe-arrow-left-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-arrow-right" placement="top" ngbTooltip="fe fe-arrow-right"></i></li>
                                <li class="icons-list-item"><i class="fe fe-arrow-right-circle" placement="top" ngbTooltip="fe fe-arrow-right-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-arrow-up" placement="top" ngbTooltip="fe fe-arrow-up"></i></li>
                                <li class="icons-list-item"><i class="fe fe-arrow-up-circle" placement="top" ngbTooltip="fe fe-arrow-up-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-arrow-up-left" placement="top" ngbTooltip="fe fe-arrow-up-left"></i></li>
                                <li class="icons-list-item"><i class="fe fe-arrow-up-right" placement="top" ngbTooltip="fe fe-arrow-up-right"></i></li>
                                <li class="icons-list-item"><i class="fe fe-at-sign" placement="top" ngbTooltip="fe fe-at-sign"></i></li>
                                <li class="icons-list-item"><i class="fe fe-award" placement="top" ngbTooltip="fe fe-award"></i></li>
                                <li class="icons-list-item"><i class="fe fe-bar-chart" placement="top" ngbTooltip="fe fe-bar-chart"></i></li>
                                <li class="icons-list-item"><i class="fe fe-bar-chart-2" placement="top" ngbTooltip="fe fe-bar-chart-2"></i></li>
                                <li class="icons-list-item"><i class="fe fe-battery" placement="top" ngbTooltip="fe fe-battery"></i></li>
                                <li class="icons-list-item"><i class="fe fe-battery-charging" placement="top" ngbTooltip="fe fe-battery-charging"></i></li>
                                <li class="icons-list-item"><i class="fe fe-bell" placement="top" ngbTooltip="fe fe-bell"></i></li>
                                <li class="icons-list-item"><i class="fe fe-bell-off" placement="top" ngbTooltip="fe fe-bell-off"></i></li>
                                <li class="icons-list-item"><i class="fe fe-bluetooth" placement="top" ngbTooltip="fe fe-bluetooth"></i></li>
                                <li class="icons-list-item"><i class="fe fe-bold" placement="top" ngbTooltip="fe fe-bold"></i></li>
                                <li class="icons-list-item"><i class="fe fe-book" placement="top" ngbTooltip="fe fe-book"></i></li>
                                <li class="icons-list-item"><i class="fe fe-book-open" placement="top" ngbTooltip="fe fe-book-open"></i></li>
                                <li class="icons-list-item"><i class="fe fe-bookmark" placement="top" ngbTooltip="fe fe-bookmark"></i></li>
                                <li class="icons-list-item"><i class="fe fe-box" placement="top" ngbTooltip="fe fe-box"></i></li>
                                <li class="icons-list-item"><i class="fe fe-briefcase" placement="top" ngbTooltip="fe fe-briefcase"></i></li>
                                <li class="icons-list-item"><i class="fe fe-calendar" placement="top" ngbTooltip="fe fe-calendar"></i></li>
                                <li class="icons-list-item"><i class="fe fe-camera" placement="top" ngbTooltip="fe fe-camera"></i></li>
                                <li class="icons-list-item"><i class="fe fe-camera-off" placement="top" ngbTooltip="fe fe-camera-off"></i></li>
                                <li class="icons-list-item"><i class="fe fe-cast" placement="top" ngbTooltip="fe fe-cast"></i></li>
                                <li class="icons-list-item"><i class="fe fe-check" placement="top" ngbTooltip="fe fe-check"></i></li>
                                <li class="icons-list-item"><i class="fe fe-check-circle" placement="top" ngbTooltip="fe fe-check-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-check-square" placement="top" ngbTooltip="fe fe-check-square"></i></li>
                                <li class="icons-list-item"><i class="fe fe-chevron-down" placement="top" ngbTooltip="fe fe-chevron-down"></i></li>
                                <li class="icons-list-item"><i class="fe fe-chevron-left" placement="top" ngbTooltip="fe fe-chevron-left"></i></li>
                                <li class="icons-list-item"><i class="fe fe-chevron-right" placement="top" ngbTooltip="fe fe-chevron-right"></i></li>
                                <li class="icons-list-item"><i class="fe fe-chevron-up" placement="top" ngbTooltip="fe fe-chevron-up"></i></li>
                                <li class="icons-list-item"><i class="fe fe-chevrons-down" placement="top" ngbTooltip="fe fe-chevrons-down"></i></li>
                                <li class="icons-list-item"><i class="fe fe-chevrons-left" placement="top" ngbTooltip="fe fe-chevrons-left"></i></li>
                                <li class="icons-list-item"><i class="fe fe-chevrons-right" placement="top" ngbTooltip="fe fe-chevrons-right"></i></li>
                                <li class="icons-list-item"><i class="fe fe-chevrons-up" placement="top" ngbTooltip="fe fe-chevrons-up"></i></li>
                                <li class="icons-list-item"><i class="fe fe-chrome" placement="top" ngbTooltip="fe fe-chrome"></i></li>
                                <li class="icons-list-item"><i class="fe fe-circle" placement="top" ngbTooltip="fe fe-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-clipboard" placement="top" ngbTooltip="fe fe-clipboard"></i></li>
                                <li class="icons-list-item"><i class="fe fe-clock" placement="top" ngbTooltip="fe fe-clock"></i></li>
                                <li class="icons-list-item"><i class="fe fe-cloud" placement="top" ngbTooltip="fe fe-cloud"></i></li>
                                <li class="icons-list-item"><i class="fe fe-cloud-drizzle" placement="top" ngbTooltip="fe fe-cloud-drizzle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-cloud-lightning" placement="top" ngbTooltip="fe fe-cloud-lightning"></i></li>
                                <li class="icons-list-item"><i class="fe fe-cloud-off" placement="top" ngbTooltip="fe fe-cloud-off"></i></li>
                                <li class="icons-list-item"><i class="fe fe-cloud-rain" placement="top" ngbTooltip="fe fe-cloud-rain"></i></li>
                                <li class="icons-list-item"><i class="fe fe-cloud-snow" placement="top" ngbTooltip="fe fe-cloud-snow"></i></li>
                                <li class="icons-list-item"><i class="fe fe-code" placement="top" ngbTooltip="fe fe-code"></i></li>
                                <li class="icons-list-item"><i class="fe fe-codepen" placement="top" ngbTooltip="fe fe-codepen"></i></li>
                                <li class="icons-list-item"><i class="fe fe-command" placement="top" ngbTooltip="fe fe-command"></i></li>
                                <li class="icons-list-item"><i class="fe fe-compass" placement="top" ngbTooltip="fe fe-compass"></i></li>
                                <li class="icons-list-item"><i class="fe fe-copy" placement="top" ngbTooltip="fe fe-copy"></i></li>
                                <li class="icons-list-item"><i class="fe fe-corner-down-left" placement="top" ngbTooltip="fe fe-corner-down-left"></i></li>
                                <li class="icons-list-item"><i class="fe fe-corner-down-right" placement="top" ngbTooltip="fe fe-corner-down-right"></i></li>
                                <li class="icons-list-item"><i class="fe fe-corner-left-down" placement="top" ngbTooltip="fe fe-corner-left-down"></i></li>
                                <li class="icons-list-item"><i class="fe fe-corner-left-up" placement="top" ngbTooltip="fe fe-corner-left-up"></i></li>
                                <li class="icons-list-item"><i class="fe fe-corner-right-down" placement="top" ngbTooltip="fe fe-corner-right-down"></i></li>
                                <li class="icons-list-item"><i class="fe fe-corner-right-up" placement="top" ngbTooltip="fe fe-corner-right-up"></i></li>
                                <li class="icons-list-item"><i class="fe fe-corner-up-left" placement="top" ngbTooltip="fe fe-corner-up-left"></i></li>
                                <li class="icons-list-item"><i class="fe fe-corner-up-right" placement="top" ngbTooltip="fe fe-corner-up-right"></i></li>
                                <li class="icons-list-item"><i class="fe fe-cpu" placement="top" ngbTooltip="fe fe-cpu"></i></li>
                                <li class="icons-list-item"><i class="fe fe-credit-card" placement="top" ngbTooltip="fe fe-credit-card"></i></li>
                                <li class="icons-list-item"><i class="fe fe-crop" placement="top" ngbTooltip="fe fe-crop"></i></li>
                                <li class="icons-list-item"><i class="fe fe-crosshair" placement="top" ngbTooltip="fe fe-crosshair"></i></li>
                                <li class="icons-list-item"><i class="fe fe-database" placement="top" ngbTooltip="fe fe-database"></i></li>
                                <li class="icons-list-item"><i class="fe fe-delete" placement="top" ngbTooltip="fe fe-delete"></i></li>
                                <li class="icons-list-item"><i class="fe fe-disc" placement="top" ngbTooltip="fe fe-disc"></i></li>
                                <li class="icons-list-item"><i class="fe fe-dollar-sign" placement="top" ngbTooltip="fe fe-dollar-sign"></i></li>
                                <li class="icons-list-item"><i class="fe fe-download" placement="top" ngbTooltip="fe fe-download"></i></li>
                                <li class="icons-list-item"><i class="fe fe-download-cloud" placement="top" ngbTooltip="fe fe-download-cloud"></i></li>
                                <li class="icons-list-item"><i class="fe fe-droplet" placement="top" ngbTooltip="fe fe-droplet"></i></li>
                                <li class="icons-list-item"><i class="fe fe-edit" placement="top" ngbTooltip="fe fe-edit"></i></li>
                                <li class="icons-list-item"><i class="fe fe-edit-2" placement="top" ngbTooltip="fe fe-edit-2"></i></li>
                                <li class="icons-list-item"><i class="fe fe-edit-3" placement="top" ngbTooltip="fe fe-edit-3"></i></li>
                                <li class="icons-list-item"><i class="fe fe-external-link" placement="top" ngbTooltip="fe fe-external-link"></i></li>
                                <li class="icons-list-item"><i class="fe fe-eye" placement="top" ngbTooltip="fe fe-eye"></i></li>
                                <li class="icons-list-item"><i class="fe fe-eye-off" placement="top" ngbTooltip="fe fe-eye-off"></i></li>
                                <li class="icons-list-item"><i class="fe fe-facebook" placement="top" ngbTooltip="fe fe-facebook"></i></li>
                                <li class="icons-list-item"><i class="fe fe-fast-forward" placement="top" ngbTooltip="fe fe-fast-forward"></i></li>
                                <li class="icons-list-item"><i class="fe fe-feather" placement="top" ngbTooltip="fe fe-feather"></i></li>
                                <li class="icons-list-item"><i class="fe fe-file" placement="top" ngbTooltip="fe fe-file"></i></li>
                                <li class="icons-list-item"><i class="fe fe-file-minus" placement="top" ngbTooltip="fe fe-file-minus"></i></li>
                                <li class="icons-list-item"><i class="fe fe-file-plus" placement="top" ngbTooltip="fe fe-file-plus"></i></li>
                                <li class="icons-list-item"><i class="fe fe-file-text" placement="top" ngbTooltip="fe fe-file-text"></i></li>
                                <li class="icons-list-item"><i class="fe fe-film" placement="top" ngbTooltip="fe fe-film"></i></li>
                                <li class="icons-list-item"><i class="fe fe-filter" placement="top" ngbTooltip="fe fe-filter"></i></li>
                                <li class="icons-list-item"><i class="fe fe-flag" placement="top" ngbTooltip="fe fe-flag"></i></li>
                                <li class="icons-list-item"><i class="fe fe-folder" placement="top" ngbTooltip="fe fe-folder"></i></li>
                                <li class="icons-list-item"><i class="fe fe-folder-minus" placement="top" ngbTooltip="fe fe-folder-minus"></i></li>
                                <li class="icons-list-item"><i class="fe fe-folder-plus" placement="top" ngbTooltip="fe fe-folder-plus"></i></li>
                                <li class="icons-list-item"><i class="fe fe-git-branch" placement="top" ngbTooltip="fe fe-git-branch"></i></li>
                                <li class="icons-list-item"><i class="fe fe-git-commit" placement="top" ngbTooltip="fe fe-git-commit"></i></li>
                                <li class="icons-list-item"><i class="fe fe-git-merge" placement="top" ngbTooltip="fe fe-git-merge"></i></li>
                                <li class="icons-list-item"><i class="fe fe-git-pull-request" placement="top" ngbTooltip="fe fe-git-pull-request"></i></li>
                                <li class="icons-list-item"><i class="fe fe-github" placement="top" ngbTooltip="fe fe-github"></i></li>
                                <li class="icons-list-item"><i class="fe fe-gitlab" placement="top" ngbTooltip="fe fe-gitlab"></i></li>
                                <li class="icons-list-item"><i class="fe fe-globe" placement="top" ngbTooltip="fe fe-globe"></i></li>
                                <li class="icons-list-item"><i class="fe fe-grid" placement="top" ngbTooltip="fe fe-grid"></i></li>
                                <li class="icons-list-item"><i class="fe fe-hard-drive" placement="top" ngbTooltip="fe fe-hard-drive"></i></li>
                                <li class="icons-list-item"><i class="fe fe-hash" placement="top" ngbTooltip="fe fe-hash"></i></li>
                                <li class="icons-list-item"><i class="fe fe-headphones" placement="top" ngbTooltip="fe fe-headphones"></i></li>
                                <li class="icons-list-item"><i class="fe fe-heart" placement="top" ngbTooltip="fe fe-heart"></i></li>
                                <li class="icons-list-item"><i class="fe fe-help-circle" placement="top" ngbTooltip="fe fe-help-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-home" placement="top" ngbTooltip="fe fe-home"></i></li>
                                <li class="icons-list-item"><i class="fe fe-image" placement="top" ngbTooltip="fe fe-image"></i></li>
                                <li class="icons-list-item"><i class="fe fe-inbox" placement="top" ngbTooltip="fe fe-inbox"></i></li>
                                <li class="icons-list-item"><i class="fe fe-info" placement="top" ngbTooltip="fe fe-info"></i></li>
                                <li class="icons-list-item"><i class="fe fe-instagram" placement="top" ngbTooltip="fe fe-instagram"></i></li>
                                <li class="icons-list-item"><i class="fe fe-italic" placement="top" ngbTooltip="fe fe-italic"></i></li>
                                <li class="icons-list-item"><i class="fe fe-layers" placement="top" ngbTooltip="fe fe-layers"></i></li>
                                <li class="icons-list-item"><i class="fe fe-layout" placement="top" ngbTooltip="fe fe-layout"></i></li>
                                <li class="icons-list-item"><i class="fe fe-life-buoy" placement="top" ngbTooltip="fe fe-life-buoy"></i></li>
                                <li class="icons-list-item"><i class="fe fe-link" placement="top" ngbTooltip="fe fe-link"></i></li>
                                <li class="icons-list-item"><i class="fe fe-link-2" placement="top" ngbTooltip="fe fe-link-2"></i></li>
                                <li class="icons-list-item"><i class="fe fe-linkedin" placement="top" ngbTooltip="fe fe-linkedin"></i></li>
                                <li class="icons-list-item"><i class="fe fe-list" placement="top" ngbTooltip="fe fe-list"></i></li>
                                <li class="icons-list-item"><i class="fe fe-loader" placement="top" ngbTooltip="fe fe-loader"></i></li>
                                <li class="icons-list-item"><i class="fe fe-lock" placement="top" ngbTooltip="fe fe-lock"></i></li>
                                <li class="icons-list-item"><i class="fe fe-log-in" placement="top" ngbTooltip="fe fe-log-in"></i></li>
                                <li class="icons-list-item"><i class="fe fe-log-out" placement="top" ngbTooltip="fe fe-log-out"></i></li>
                                <li class="icons-list-item"><i class="fe fe-mail" placement="top" ngbTooltip="fe fe-mail"></i></li>
                                <li class="icons-list-item"><i class="fe fe-map" placement="top" ngbTooltip="fe fe-map"></i></li>
                                <li class="icons-list-item"><i class="fe fe-map-pin" placement="top" ngbTooltip="fe fe-map-pin"></i></li>
                                <li class="icons-list-item"><i class="fe fe-maximize" placement="top" ngbTooltip="fe fe-maximize"></i></li>
                                <li class="icons-list-item"><i class="fe fe-maximize-2" placement="top" ngbTooltip="fe fe-maximize-2"></i></li>
                                <li class="icons-list-item"><i class="fe fe-menu" placement="top" ngbTooltip="fe fe-menu"></i></li>
                                <li class="icons-list-item"><i class="fe fe-message-circle" placement="top" ngbTooltip="fe fe-message-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-message-square" placement="top" ngbTooltip="fe fe-message-square"></i></li>
                                <li class="icons-list-item"><i class="fe fe-mic" placement="top" ngbTooltip="fe fe-mic"></i></li>
                                <li class="icons-list-item"><i class="fe fe-mic-off" placement="top" ngbTooltip="fe fe-mic-off"></i></li>
                                <li class="icons-list-item"><i class="fe fe-minimize" placement="top" ngbTooltip="fe fe-minimize"></i></li>
                                <li class="icons-list-item"><i class="fe fe-minimize-2" placement="top" ngbTooltip="fe fe-minimize-2"></i></li>
                                <li class="icons-list-item"><i class="fe fe-minus" placement="top" ngbTooltip="fe fe-minus"></i></li>
                                <li class="icons-list-item"><i class="fe fe-minus-circle" placement="top" ngbTooltip="fe fe-minus-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-minus-square" placement="top" ngbTooltip="fe fe-minus-square"></i></li>
                                <li class="icons-list-item"><i class="fe fe-monitor" placement="top" ngbTooltip="fe fe-monitor"></i></li>
                                <li class="icons-list-item"><i class="fe fe-moon" placement="top" ngbTooltip="fe fe-moon"></i></li>
                                <li class="icons-list-item"><i class="fe fe-more-horizontal" placement="top" ngbTooltip="fe fe-more-horizontal"></i></li>
                                <li class="icons-list-item"><i class="fe fe-more-vertical" placement="top" ngbTooltip="fe fe-more-vertical"></i></li>
                                <li class="icons-list-item"><i class="fe fe-move" placement="top" ngbTooltip="fe fe-move"></i></li>
                                <li class="icons-list-item"><i class="fe fe-music" placement="top" ngbTooltip="fe fe-music"></i></li>
                                <li class="icons-list-item"><i class="fe fe-navigation" placement="top" ngbTooltip="fe fe-navigation"></i></li>
                                <li class="icons-list-item"><i class="fe fe-navigation-2" placement="top" ngbTooltip="fe fe-navigation-2"></i></li>
                                <li class="icons-list-item"><i class="fe fe-octagon" placement="top" ngbTooltip="fe fe-octagon"></i></li>
                                <li class="icons-list-item"><i class="fe fe-package" placement="top" ngbTooltip="fe fe-package"></i></li>
                                <li class="icons-list-item"><i class="fe fe-paperclip" placement="top" ngbTooltip="fe fe-paperclip"></i></li>
                                <li class="icons-list-item"><i class="fe fe-pause" placement="top" ngbTooltip="fe fe-pause"></i></li>
                                <li class="icons-list-item"><i class="fe fe-pause-circle" placement="top" ngbTooltip="fe fe-pause-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-percent" placement="top" ngbTooltip="fe fe-percent"></i></li>
                                <li class="icons-list-item"><i class="fe fe-phone" placement="top" ngbTooltip="fe fe-phone"></i></li>
                                <li class="icons-list-item"><i class="fe fe-phone-call" placement="top" ngbTooltip="fe fe-phone-call"></i></li>
                                <li class="icons-list-item"><i class="fe fe-phone-forwarded" placement="top" ngbTooltip="fe fe-phone-forwarded"></i></li>
                                <li class="icons-list-item"><i class="fe fe-phone-incoming" placement="top" ngbTooltip="fe fe-phone-incoming"></i></li>
                                <li class="icons-list-item"><i class="fe fe-phone-missed" placement="top" ngbTooltip="fe fe-phone-missed"></i></li>
                                <li class="icons-list-item"><i class="fe fe-phone-off" placement="top" ngbTooltip="fe fe-phone-off"></i></li>
                                <li class="icons-list-item"><i class="fe fe-phone-outgoing" placement="top" ngbTooltip="fe fe-phone-outgoing"></i></li>
                                <li class="icons-list-item"><i class="fe fe-pie-chart" placement="top" ngbTooltip="fe fe-pie-chart"></i></li>
                                <li class="icons-list-item"><i class="fe fe-play" placement="top" ngbTooltip="fe fe-play"></i></li>
                                <li class="icons-list-item"><i class="fe fe-play-circle" placement="top" ngbTooltip="fe fe-play-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-plus" placement="top" ngbTooltip="fe fe-plus"></i></li>
                                <li class="icons-list-item"><i class="fe fe-plus-circle" placement="top" ngbTooltip="fe fe-plus-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-plus-square" placement="top" ngbTooltip="fe fe-plus-square"></i></li>
                                <li class="icons-list-item"><i class="fe fe-pocket" placement="top" ngbTooltip="fe fe-pocket"></i></li>
                                <li class="icons-list-item"><i class="fe fe-power" placement="top" ngbTooltip="fe fe-power"></i></li>
                                <li class="icons-list-item"><i class="fe fe-printer" placement="top" ngbTooltip="fe fe-printer"></i></li>
                                <li class="icons-list-item"><i class="fe fe-radio" placement="top" ngbTooltip="fe fe-radio"></i></li>
                                <li class="icons-list-item"><i class="fe fe-refresh-ccw" placement="top" ngbTooltip="fe fe-refresh-ccw"></i></li>
                                <li class="icons-list-item"><i class="fe fe-refresh-cw" placement="top" ngbTooltip="fe fe-refresh-cw"></i></li>
                                <li class="icons-list-item"><i class="fe fe-repeat" placement="top" ngbTooltip="fe fe-repeat"></i></li>
                                <li class="icons-list-item"><i class="fe fe-rewind" placement="top" ngbTooltip="fe fe-rewind"></i></li>
                                <li class="icons-list-item"><i class="fe fe-rotate-ccw" placement="top" ngbTooltip="fe fe-rotate-ccw"></i></li>
                                <li class="icons-list-item"><i class="fe fe-rotate-cw" placement="top" ngbTooltip="fe fe-rotate-cw"></i></li>
                                <li class="icons-list-item"><i class="fe fe-rss" placement="top" ngbTooltip="fe fe-rss"></i></li>
                                <li class="icons-list-item"><i class="fe fe-save" placement="top" ngbTooltip="fe fe-save"></i></li>
                                <li class="icons-list-item"><i class="fe fe-scissors" placement="top" ngbTooltip="fe fe-scissors"></i></li>
                                <li class="icons-list-item"><i class="fe fe-search" placement="top" ngbTooltip="fe fe-search"></i></li>
                                <li class="icons-list-item"><i class="fe fe-send" placement="top" ngbTooltip="fe fe-send"></i></li>
                                <li class="icons-list-item"><i class="fe fe-server" placement="top" ngbTooltip="fe fe-server"></i></li>
                                <li class="icons-list-item"><i class="fe fe-settings" placement="top" ngbTooltip="fe fe-settings"></i></li>
                                <li class="icons-list-item"><i class="fe fe-share" placement="top" ngbTooltip="fe fe-share"></i></li>
                                <li class="icons-list-item"><i class="fe fe-share-2" placement="top" ngbTooltip="fe fe-share-2"></i></li>
                                <li class="icons-list-item"><i class="fe fe-shield" placement="top" ngbTooltip="fe fe-shield"></i></li>
                                <li class="icons-list-item"><i class="fe fe-shield-off" placement="top" ngbTooltip="fe fe-shield-off"></i></li>
                                <li class="icons-list-item"><i class="fe fe-shopping-bag" placement="top" ngbTooltip="fe fe-shopping-bag"></i></li>
                                <li class="icons-list-item"><i class="fe fe-shopping-cart" placement="top" ngbTooltip="fe fe-shopping-cart"></i></li>
                                <li class="icons-list-item"><i class="fe fe-shuffle" placement="top" ngbTooltip="fe fe-shuffle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-sidebar" placement="top" ngbTooltip="fe fe-sidebar"></i></li>
                                <li class="icons-list-item"><i class="fe fe-skip-back" placement="top" ngbTooltip="fe fe-skip-back"></i></li>
                                <li class="icons-list-item"><i class="fe fe-skip-forward" placement="top" ngbTooltip="fe fe-skip-forward"></i></li>
                                <li class="icons-list-item"><i class="fe fe-slack" placement="top" ngbTooltip="fe fe-slack"></i></li>
                                <li class="icons-list-item"><i class="fe fe-slash" placement="top" ngbTooltip="fe fe-slash"></i></li>
                                <li class="icons-list-item"><i class="fe fe-sliders" placement="top" ngbTooltip="fe fe-sliders"></i></li>
                                <li class="icons-list-item"><i class="fe fe-smartphone" placement="top" ngbTooltip="fe fe-smartphone"></i></li>
                                <li class="icons-list-item"><i class="fe fe-speaker" placement="top" ngbTooltip="fe fe-speaker"></i></li>
                                <li class="icons-list-item"><i class="fe fe-square" placement="top" ngbTooltip="fe fe-square"></i></li>
                                <li class="icons-list-item"><i class="fe fe-star" placement="top" ngbTooltip="fe fe-star"></i></li>
                                <li class="icons-list-item"><i class="fe fe-stop-circle" placement="top" ngbTooltip="fe fe-stop-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-sun" placement="top" ngbTooltip="fe fe-sun"></i></li>
                                <li class="icons-list-item"><i class="fe fe-sunrise" placement="top" ngbTooltip="fe fe-sunrise"></i></li>
                                <li class="icons-list-item"><i class="fe fe-sunset" placement="top" ngbTooltip="fe fe-sunset"></i></li>
                                <li class="icons-list-item"><i class="fe fe-tablet" placement="top" ngbTooltip="fe fe-tablet"></i></li>
                                <li class="icons-list-item"><i class="fe fe-tag" placement="top" ngbTooltip="fe fe-tag"></i></li>
                                <li class="icons-list-item"><i class="fe fe-target" placement="top" ngbTooltip="fe fe-target"></i></li>
                                <li class="icons-list-item"><i class="fe fe-terminal" placement="top" ngbTooltip="fe fe-terminal"></i></li>
                                <li class="icons-list-item"><i class="fe fe-thermometer" placement="top" ngbTooltip="fe fe-thermometer"></i></li>
                                <li class="icons-list-item"><i class="fe fe-thumbs-down" placement="top" ngbTooltip="fe fe-thumbs-down"></i></li>
                                <li class="icons-list-item"><i class="fe fe-thumbs-up" placement="top" ngbTooltip="fe fe-thumbs-up"></i></li>
                                <li class="icons-list-item"><i class="fe fe-toggle-left" placement="top" ngbTooltip="fe fe-toggle-left"></i></li>
                                <li class="icons-list-item"><i class="fe fe-toggle-right" placement="top" ngbTooltip="fe fe-toggle-right"></i></li>
                                <li class="icons-list-item"><i class="fe fe-trash" placement="top" ngbTooltip="fe fe-trash"></i></li>
                                <li class="icons-list-item"><i class="fe fe-trash-2" placement="top" ngbTooltip="fe fe-trash-2"></i></li>
                                <li class="icons-list-item"><i class="fe fe-trending-down" placement="top" ngbTooltip="fe fe-trending-down"></i></li>
                                <li class="icons-list-item"><i class="fe fe-trending-up" placement="top" ngbTooltip="fe fe-trending-up"></i></li>
                                <li class="icons-list-item"><i class="fe fe-triangle" placement="top" ngbTooltip="fe fe-triangle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-truck" placement="top" ngbTooltip="fe fe-truck"></i></li>
                                <li class="icons-list-item"><i class="fe fe-tv" placement="top" ngbTooltip="fe fe-tv"></i></li>
                                <li class="icons-list-item"><i class="fe fe-twitter" placement="top" ngbTooltip="fe fe-twitter"></i></li>
                                <li class="icons-list-item"><i class="fe fe-type" placement="top" ngbTooltip="fe fe-type"></i></li>
                                <li class="icons-list-item"><i class="fe fe-umbrella" placement="top" ngbTooltip="fe fe-umbrella"></i></li>
                                <li class="icons-list-item"><i class="fe fe-underline" placement="top" ngbTooltip="fe fe-underline"></i></li>
                                <li class="icons-list-item"><i class="fe fe-unlock" placement="top" ngbTooltip="fe fe-unlock"></i></li>
                                <li class="icons-list-item"><i class="fe fe-upload" placement="top" ngbTooltip="fe fe-upload"></i></li>
                                <li class="icons-list-item"><i class="fe fe-upload-cloud" placement="top" ngbTooltip="fe fe-upload-cloud"></i></li>
                                <li class="icons-list-item"><i class="fe fe-user" placement="top" ngbTooltip="fe fe-user"></i></li>
                                <li class="icons-list-item"><i class="fe fe-user-check" placement="top" ngbTooltip="fe fe-user-check"></i></li>
                                <li class="icons-list-item"><i class="fe fe-user-minus" placement="top" ngbTooltip="fe fe-user-minus"></i></li>
                                <li class="icons-list-item"><i class="fe fe-user-plus" placement="top" ngbTooltip="fe fe-user-plus"></i></li>
                                <li class="icons-list-item"><i class="fe fe-user-x" placement="top" ngbTooltip="fe fe-user-x"></i></li>
                                <li class="icons-list-item"><i class="fe fe-users" placement="top" ngbTooltip="fe fe-users"></i></li>
                                <li class="icons-list-item"><i class="fe fe-video" placement="top" ngbTooltip="fe fe-video"></i></li>
                                <li class="icons-list-item"><i class="fe fe-video-off" placement="top" ngbTooltip="fe fe-video-off"></i></li>
                                <li class="icons-list-item"><i class="fe fe-voicemail" placement="top" ngbTooltip="fe fe-voicemail"></i></li>
                                <li class="icons-list-item"><i class="fe fe-volume" placement="top" ngbTooltip="fe fe-volume"></i></li>
                                <li class="icons-list-item"><i class="fe fe-volume-1" placement="top" ngbTooltip="fe fe-volume-1"></i></li>
                                <li class="icons-list-item"><i class="fe fe-volume-2" placement="top" ngbTooltip="fe fe-volume-2"></i></li>
                                <li class="icons-list-item"><i class="fe fe-volume-x" placement="top" ngbTooltip="fe fe-volume-x"></i></li>
                                <li class="icons-list-item"><i class="fe fe-watch" placement="top" ngbTooltip="fe fe-watch"></i></li>
                                <li class="icons-list-item"><i class="fe fe-wifi" placement="top" ngbTooltip="fe fe-wifi"></i></li>
                                <li class="icons-list-item"><i class="fe fe-wifi-off" placement="top" ngbTooltip="fe fe-wifi-off"></i></li>
                                <li class="icons-list-item"><i class="fe fe-wind" placement="top" ngbTooltip="fe fe-wind"></i></li>
                                <li class="icons-list-item"><i class="fe fe-x" placement="top" ngbTooltip="fe fe-x"></i></li>
                                <li class="icons-list-item"><i class="fe fe-x-circle" placement="top" ngbTooltip="fe fe-x-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-x-square" placement="top" ngbTooltip="fe fe-x-square"></i></li>
                                <li class="icons-list-item"><i class="fe fe-zap" placement="top" ngbTooltip="fe fe-zap"></i></li>
                                <li class="icons-list-item"><i class="fe fe-zap-off" placement="top" ngbTooltip="fe fe-zap-off"></i></li>
                                <li class="icons-list-item"><i class="fe fe-zoom-in" placement="top" ngbTooltip="fe fe-zoom-in"></i></li>
                                <li class="icons-list-item"><i class="fe fe-zoom-out" placement="top" ngbTooltip="fe fe-zoom-out"></i></li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>