
    @media (min-width:992px) {
        .card-options .dropdown-menu{
            transform: translate(0px, 34px) !important;
        }
    }
    .card-options .dropdown-menu{
        left: -120px !important;
    } 

    .card-options .dropdown-menu[x-placement^=top],
    .card-options .dropdown-menu[x-placement^=bottom]
    {
        transform: translate(0px, 34px) !important;
    }

