::ng-deep{
    svg{
        transform: translate(0 , 0) !important;
    }

    svg:nth-last-child(3){
        transform: translate(30px ,0) !important;
        overflow: visible !important;
    }
    
    svg:nth-last-child(2){
        transform: translate(-10px ,0) !important;
        overflow: visible !important;
    }

    .apexcharts-tooltip , .apexcharts-toolbar{
        z-index: 2 !important;
    }
}