
						<!-- Page Header -->
						<div class="page-header">
							<div>
								<h2 class="main-content-title tx-24 mg-b-5">Flags Icons</h2>
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="javascript:;">Icons</a></li>
									<li class="breadcrumb-item"><a href="javascript:;">Flags Icons</a></li>
								</ol>
							</div>
							<div class="d-flex">
								<div class="justify-content-center">
									<button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
									  <i class="fe fe-download mr-2"></i> Import
									</button>
									<button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
									  <i class="fe fe-filter mr-2"></i> Filter
									</button>
									<button type="button" class="btn btn-primary my-2 btn-icon-text">
									  <i class="fe fe-download-cloud mr-2"></i> Download Report
									</button>
								</div>
							</div>
						</div>
						<!-- End Page Header -->

						<!-- Row-->
						<div class="row ">
							<div class="col-md-12">
								<div class="card custom-card">
									<div class="card-body">
										<div class="row row-sm">
											<div class="col-lg-12 col-sm-12 mb-4">
												<h3 class="main-content-label">Flags Icons</h3>
												<p><code>&lt;i class="flag flag-ICON_NAME"&gt;&lt;/i&gt;</code></p>
											</div>
											<div class="col-sm-12 col-lg-12">
												<div class="icons-list-wrap">
													<ul class="icons-list">
														<li class="icons-list-item"><i class="flag flag-ad" placement="top" ngbTooltip="flag flag-ad"></i></li>
														<li class="icons-list-item"><i class="flag flag-ae" placement="top" ngbTooltip="flag flag-ae"></i></li>
														<li class="icons-list-item"><i class="flag flag-af" placement="top" ngbTooltip="flag flag-af"></i></li>
														<li class="icons-list-item"><i class="flag flag-ag" placement="top" ngbTooltip="flag flag-ag"></i></li>
														<li class="icons-list-item"><i class="flag flag-ai" placement="top" ngbTooltip="flag flag-ai"></i></li>
														<li class="icons-list-item"><i class="flag flag-al" placement="top" ngbTooltip="flag flag-al"></i></li>
														<li class="icons-list-item"><i class="flag flag-am" placement="top" ngbTooltip="flag flag-am"></i></li>
														<li class="icons-list-item"><i class="flag flag-ao" placement="top" ngbTooltip="flag flag-ao"></i></li>
														<li class="icons-list-item"><i class="flag flag-aq" placement="top" ngbTooltip="flag flag-aq"></i></li>
														<li class="icons-list-item"><i class="flag flag-ar" placement="top" ngbTooltip="flag flag-ar"></i></li>
														<li class="icons-list-item"><i class="flag flag-as" placement="top" ngbTooltip="flag flag-as"></i></li>
														<li class="icons-list-item"><i class="flag flag-at" placement="top" ngbTooltip="flag flag-at"></i></li>
														<li class="icons-list-item"><i class="flag flag-au" placement="top" ngbTooltip="flag flag-au"></i></li>
														<li class="icons-list-item"><i class="flag flag-aw" placement="top" ngbTooltip="flag flag-aw"></i></li>
														<li class="icons-list-item"><i class="flag flag-ax" placement="top" ngbTooltip="flag flag-ax"></i></li>
														<li class="icons-list-item"><i class="flag flag-az" placement="top" ngbTooltip="flag flag-az"></i></li>
														<li class="icons-list-item"><i class="flag flag-ba" placement="top" ngbTooltip="flag flag-ba"></i></li>
														<li class="icons-list-item"><i class="flag flag-bb" placement="top" ngbTooltip="flag flag-bb"></i></li>
														<li class="icons-list-item"><i class="flag flag-bd" placement="top" ngbTooltip="flag flag-bd"></i></li>
														<li class="icons-list-item"><i class="flag flag-be" placement="top" ngbTooltip="flag flag-be"></i></li>
														<li class="icons-list-item"><i class="flag flag-bf" placement="top" ngbTooltip="flag flag-bf"></i></li>
														<li class="icons-list-item"><i class="flag flag-bg" placement="top" ngbTooltip="flag flag-bg"></i></li>
														<li class="icons-list-item"><i class="flag flag-bh" placement="top" ngbTooltip="flag flag-bh"></i></li>
														<li class="icons-list-item"><i class="flag flag-bi" placement="top" ngbTooltip="flag flag-bi"></i></li>
														<li class="icons-list-item"><i class="flag flag-bj" placement="top" ngbTooltip="flag flag-bj"></i></li>
														<li class="icons-list-item"><i class="flag flag-bl" placement="top" ngbTooltip="flag flag-bl"></i></li>
														<li class="icons-list-item"><i class="flag flag-bm" placement="top" ngbTooltip="flag flag-bm"></i></li>
														<li class="icons-list-item"><i class="flag flag-bn" placement="top" ngbTooltip="flag flag-bn"></i></li>
														<li class="icons-list-item"><i class="flag flag-bo" placement="top" ngbTooltip="flag flag-bo"></i></li>
														<li class="icons-list-item"><i class="flag flag-bq" placement="top" ngbTooltip="flag flag-bq"></i></li>
														<li class="icons-list-item"><i class="flag flag-br" placement="top" ngbTooltip="flag flag-br"></i></li>
														<li class="icons-list-item"><i class="flag flag-bs" placement="top" ngbTooltip="flag flag-bs"></i></li>
														<li class="icons-list-item"><i class="flag flag-bt" placement="top" ngbTooltip="flag flag-bt"></i></li>
														<li class="icons-list-item"><i class="flag flag-bv" placement="top" ngbTooltip="flag flag-bv"></i></li>
														<li class="icons-list-item"><i class="flag flag-bw" placement="top" ngbTooltip="flag flag-bw"></i></li>
														<li class="icons-list-item"><i class="flag flag-by" placement="top" ngbTooltip="flag flag-by"></i></li>
														<li class="icons-list-item"><i class="flag flag-bz" placement="top" ngbTooltip="flag flag-bz"></i></li>
														<li class="icons-list-item"><i class="flag flag-ca" placement="top" ngbTooltip="flag flag-ca"></i></li>
														<li class="icons-list-item"><i class="flag flag-cc" placement="top" ngbTooltip="flag flag-cc"></i></li>
														<li class="icons-list-item"><i class="flag flag-cd" placement="top" ngbTooltip="flag flag-cd"></i></li>
														<li class="icons-list-item"><i class="flag flag-cf" placement="top" ngbTooltip="flag flag-cf"></i></li>
														<li class="icons-list-item"><i class="flag flag-cg" placement="top" ngbTooltip="flag flag-cg"></i></li>
														<li class="icons-list-item"><i class="flag flag-ch" placement="top" ngbTooltip="flag flag-ch"></i></li>
														<li class="icons-list-item"><i class="flag flag-ci" placement="top" ngbTooltip="flag flag-ci"></i></li>
														<li class="icons-list-item"><i class="flag flag-ck" placement="top" ngbTooltip="flag flag-ck"></i></li>
														<li class="icons-list-item"><i class="flag flag-cl" placement="top" ngbTooltip="flag flag-cl"></i></li>
														<li class="icons-list-item"><i class="flag flag-cm" placement="top" ngbTooltip="flag flag-cm"></i></li>
														<li class="icons-list-item"><i class="flag flag-cn" placement="top" ngbTooltip="flag flag-cn"></i></li>
														<li class="icons-list-item"><i class="flag flag-co" placement="top" ngbTooltip="flag flag-co"></i></li>
														<li class="icons-list-item"><i class="flag flag-cr" placement="top" ngbTooltip="flag flag-cr"></i></li>
														<li class="icons-list-item"><i class="flag flag-cu" placement="top" ngbTooltip="flag flag-cu"></i></li>
														<li class="icons-list-item"><i class="flag flag-cv" placement="top" ngbTooltip="flag flag-cv"></i></li>
														<li class="icons-list-item"><i class="flag flag-cw" placement="top" ngbTooltip="flag flag-cw"></i></li>
														<li class="icons-list-item"><i class="flag flag-cx" placement="top" ngbTooltip="flag flag-cx"></i></li>
														<li class="icons-list-item"><i class="flag flag-cy" placement="top" ngbTooltip="flag flag-cy"></i></li>
														<li class="icons-list-item"><i class="flag flag-cz" placement="top" ngbTooltip="flag flag-cz"></i></li>
														<li class="icons-list-item"><i class="flag flag-de" placement="top" ngbTooltip="flag flag-de"></i></li>
														<li class="icons-list-item"><i class="flag flag-dj" placement="top" ngbTooltip="flag flag-dj"></i></li>
														<li class="icons-list-item"><i class="flag flag-dk" placement="top" ngbTooltip="flag flag-dk"></i></li>
														<li class="icons-list-item"><i class="flag flag-dm" placement="top" ngbTooltip="flag flag-dm"></i></li>
														<li class="icons-list-item"><i class="flag flag-do" placement="top" ngbTooltip="flag flag-do"></i></li>
														<li class="icons-list-item"><i class="flag flag-dz" placement="top" ngbTooltip="flag flag-dz"></i></li>
														<li class="icons-list-item"><i class="flag flag-ec" placement="top" ngbTooltip="flag flag-ec"></i></li>
														<li class="icons-list-item"><i class="flag flag-ee" placement="top" ngbTooltip="flag flag-ee"></i></li>
														<li class="icons-list-item"><i class="flag flag-eg" placement="top" ngbTooltip="flag flag-eg"></i></li>
														<li class="icons-list-item"><i class="flag flag-eh" placement="top" ngbTooltip="flag flag-eh"></i></li>
														<li class="icons-list-item"><i class="flag flag-er" placement="top" ngbTooltip="flag flag-er"></i></li>
														<li class="icons-list-item"><i class="flag flag-es" placement="top" ngbTooltip="flag flag-es"></i></li>
														<li class="icons-list-item"><i class="flag flag-et" placement="top" ngbTooltip="flag flag-et"></i></li>
														<li class="icons-list-item"><i class="flag flag-eu" placement="top" ngbTooltip="flag flag-eu"></i></li>
														<li class="icons-list-item"><i class="flag flag-fi" placement="top" ngbTooltip="flag flag-fi"></i></li>
														<li class="icons-list-item"><i class="flag flag-fj" placement="top" ngbTooltip="flag flag-fj"></i></li>
														<li class="icons-list-item"><i class="flag flag-fk" placement="top" ngbTooltip="flag flag-fk"></i></li>
														<li class="icons-list-item"><i class="flag flag-fm" placement="top" ngbTooltip="flag flag-fm"></i></li>
														<li class="icons-list-item"><i class="flag flag-fo" placement="top" ngbTooltip="flag flag-fo"></i></li>
														<li class="icons-list-item"><i class="flag flag-fr" placement="top" ngbTooltip="flag flag-fr"></i></li>
														<li class="icons-list-item"><i class="flag flag-ga" placement="top" ngbTooltip="flag flag-ga"></i></li>
														<li class="icons-list-item"><i class="flag flag-gb" placement="top" ngbTooltip="flag flag-gb"></i></li>
														<li class="icons-list-item"><i class="flag flag-gb-eng" placement="top" ngbTooltip="flag flag-gb-eng"></i></li>
														<li class="icons-list-item"><i class="flag flag-gb-nir" placement="top" ngbTooltip="flag flag-gb-nir"></i></li>
														<li class="icons-list-item"><i class="flag flag-gb-sct" placement="top" ngbTooltip="flag flag-gb-sct"></i></li>
														<li class="icons-list-item"><i class="flag flag-gb-wls" placement="top" ngbTooltip="flag flag-gb-wls"></i></li>
														<li class="icons-list-item"><i class="flag flag-gd" placement="top" ngbTooltip="flag flag-gd"></i></li>
														<li class="icons-list-item"><i class="flag flag-ge" placement="top" ngbTooltip="flag flag-ge"></i></li>
														<li class="icons-list-item"><i class="flag flag-gf" placement="top" ngbTooltip="flag flag-gf"></i></li>
														<li class="icons-list-item"><i class="flag flag-gg" placement="top" ngbTooltip="flag flag-gg"></i></li>
														<li class="icons-list-item"><i class="flag flag-gh" placement="top" ngbTooltip="flag flag-gh"></i></li>
														<li class="icons-list-item"><i class="flag flag-gi" placement="top" ngbTooltip="flag flag-gi"></i></li>
														<li class="icons-list-item"><i class="flag flag-gl" placement="top" ngbTooltip="flag flag-gl"></i></li>
														<li class="icons-list-item"><i class="flag flag-gm" placement="top" ngbTooltip="flag flag-gm"></i></li>
														<li class="icons-list-item"><i class="flag flag-gn" placement="top" ngbTooltip="flag flag-gn"></i></li>
														<li class="icons-list-item"><i class="flag flag-gp" placement="top" ngbTooltip="flag flag-gp"></i></li>
														<li class="icons-list-item"><i class="flag flag-gq" placement="top" ngbTooltip="flag flag-gq"></i></li>
														<li class="icons-list-item"><i class="flag flag-gr" placement="top" ngbTooltip="flag flag-gr"></i></li>
														<li class="icons-list-item"><i class="flag flag-gs" placement="top" ngbTooltip="flag flag-gs"></i></li>
														<li class="icons-list-item"><i class="flag flag-gt" placement="top" ngbTooltip="flag flag-gt"></i></li>
														<li class="icons-list-item"><i class="flag flag-gu" placement="top" ngbTooltip="flag flag-gu"></i></li>
														<li class="icons-list-item"><i class="flag flag-gw" placement="top" ngbTooltip="flag flag-gw"></i></li>
														<li class="icons-list-item"><i class="flag flag-gy" placement="top" ngbTooltip="flag flag-gy"></i></li>
														<li class="icons-list-item"><i class="flag flag-hk" placement="top" ngbTooltip="flag flag-hk"></i></li>
														<li class="icons-list-item"><i class="flag flag-hm" placement="top" ngbTooltip="flag flag-hm"></i></li>
														<li class="icons-list-item"><i class="flag flag-hn" placement="top" ngbTooltip="flag flag-hn"></i></li>
														<li class="icons-list-item"><i class="flag flag-hr" placement="top" ngbTooltip="flag flag-hr"></i></li>
														<li class="icons-list-item"><i class="flag flag-ht" placement="top" ngbTooltip="flag flag-ht"></i></li>
														<li class="icons-list-item"><i class="flag flag-hu" placement="top" ngbTooltip="flag flag-hu"></i></li>
														<li class="icons-list-item"><i class="flag flag-id" placement="top" ngbTooltip="flag flag-id"></i></li>
														<li class="icons-list-item"><i class="flag flag-ie" placement="top" ngbTooltip="flag flag-ie"></i></li>
														<li class="icons-list-item"><i class="flag flag-il" placement="top" ngbTooltip="flag flag-il"></i></li>
														<li class="icons-list-item"><i class="flag flag-im" placement="top" ngbTooltip="flag flag-im"></i></li>
														<li class="icons-list-item"><i class="flag flag-in" placement="top" ngbTooltip="flag flag-in"></i></li>
														<li class="icons-list-item"><i class="flag flag-io" placement="top" ngbTooltip="flag flag-io"></i></li>
														<li class="icons-list-item"><i class="flag flag-iq" placement="top" ngbTooltip="flag flag-iq"></i></li>
														<li class="icons-list-item"><i class="flag flag-ir" placement="top" ngbTooltip="flag flag-ir"></i></li>
														<li class="icons-list-item"><i class="flag flag-is" placement="top" ngbTooltip="flag flag-is"></i></li>
														<li class="icons-list-item"><i class="flag flag-it" placement="top" ngbTooltip="flag flag-it"></i></li>
														<li class="icons-list-item"><i class="flag flag-je" placement="top" ngbTooltip="flag flag-je"></i></li>
														<li class="icons-list-item"><i class="flag flag-jm" placement="top" ngbTooltip="flag flag-jm"></i></li>
														<li class="icons-list-item"><i class="flag flag-jo" placement="top" ngbTooltip="flag flag-jo"></i></li>
														<li class="icons-list-item"><i class="flag flag-jp" placement="top" ngbTooltip="flag flag-jp"></i></li>
														<li class="icons-list-item"><i class="flag flag-ke" placement="top" ngbTooltip="flag flag-ke"></i></li>
														<li class="icons-list-item"><i class="flag flag-kg" placement="top" ngbTooltip="flag flag-kg"></i></li>
														<li class="icons-list-item"><i class="flag flag-kh" placement="top" ngbTooltip="flag flag-kh"></i></li>
														<li class="icons-list-item"><i class="flag flag-ki" placement="top" ngbTooltip="flag flag-ki"></i></li>
														<li class="icons-list-item"><i class="flag flag-km" placement="top" ngbTooltip="flag flag-km"></i></li>
														<li class="icons-list-item"><i class="flag flag-kn" placement="top" ngbTooltip="flag flag-kn"></i></li>
														<li class="icons-list-item"><i class="flag flag-kp" placement="top" ngbTooltip="flag flag-kp"></i></li>
														<li class="icons-list-item"><i class="flag flag-kr" placement="top" ngbTooltip="flag flag-kr"></i></li>
														<li class="icons-list-item"><i class="flag flag-kw" placement="top" ngbTooltip="flag flag-kw"></i></li>
														<li class="icons-list-item"><i class="flag flag-ky" placement="top" ngbTooltip="flag flag-ky"></i></li>
														<li class="icons-list-item"><i class="flag flag-kz" placement="top" ngbTooltip="flag flag-kz"></i></li>
														<li class="icons-list-item"><i class="flag flag-la" placement="top" ngbTooltip="flag flag-la"></i></li>
														<li class="icons-list-item"><i class="flag flag-lb" placement="top" ngbTooltip="flag flag-lb"></i></li>
														<li class="icons-list-item"><i class="flag flag-lc" placement="top" ngbTooltip="flag flag-lc"></i></li>
														<li class="icons-list-item"><i class="flag flag-li" placement="top" ngbTooltip="flag flag-li"></i></li>
														<li class="icons-list-item"><i class="flag flag-lk" placement="top" ngbTooltip="flag flag-lk"></i></li>
														<li class="icons-list-item"><i class="flag flag-lr" placement="top" ngbTooltip="flag flag-lr"></i></li>
														<li class="icons-list-item"><i class="flag flag-ls" placement="top" ngbTooltip="flag flag-ls"></i></li>
														<li class="icons-list-item"><i class="flag flag-lt" placement="top" ngbTooltip="flag flag-lt"></i></li>
														<li class="icons-list-item"><i class="flag flag-lu" placement="top" ngbTooltip="flag flag-lu"></i></li>
														<li class="icons-list-item"><i class="flag flag-lv" placement="top" ngbTooltip="flag flag-lv"></i></li>
														<li class="icons-list-item"><i class="flag flag-ly" placement="top" ngbTooltip="flag flag-ly"></i></li>
														<li class="icons-list-item"><i class="flag flag-ma" placement="top" ngbTooltip="flag flag-ma"></i></li>
														<li class="icons-list-item"><i class="flag flag-mc" placement="top" ngbTooltip="flag flag-mc"></i></li>
														<li class="icons-list-item"><i class="flag flag-md" placement="top" ngbTooltip="flag flag-md"></i></li>
														<li class="icons-list-item"><i class="flag flag-me" placement="top" ngbTooltip="flag flag-me"></i></li>
														<li class="icons-list-item"><i class="flag flag-mf" placement="top" ngbTooltip="flag flag-mf"></i></li>
														<li class="icons-list-item"><i class="flag flag-mg" placement="top" ngbTooltip="flag flag-mg"></i></li>
														<li class="icons-list-item"><i class="flag flag-mh" placement="top" ngbTooltip="flag flag-mh"></i></li>
														<li class="icons-list-item"><i class="flag flag-mk" placement="top" ngbTooltip="flag flag-mk"></i></li>
														<li class="icons-list-item"><i class="flag flag-ml" placement="top" ngbTooltip="flag flag-ml"></i></li>
														<li class="icons-list-item"><i class="flag flag-mm" placement="top" ngbTooltip="flag flag-mm"></i></li>
														<li class="icons-list-item"><i class="flag flag-mn" placement="top" ngbTooltip="flag flag-mn"></i></li>
														<li class="icons-list-item"><i class="flag flag-mo" placement="top" ngbTooltip="flag flag-mo"></i></li>
														<li class="icons-list-item"><i class="flag flag-mp" placement="top" ngbTooltip="flag flag-mp"></i></li>
														<li class="icons-list-item"><i class="flag flag-mq" placement="top" ngbTooltip="flag flag-mq"></i></li>
														<li class="icons-list-item"><i class="flag flag-mr" placement="top" ngbTooltip="flag flag-mr"></i></li>
														<li class="icons-list-item"><i class="flag flag-ms" placement="top" ngbTooltip="flag flag-ms"></i></li>
														<li class="icons-list-item"><i class="flag flag-mt" placement="top" ngbTooltip="flag flag-mt"></i></li>
														<li class="icons-list-item"><i class="flag flag-mu" placement="top" ngbTooltip="flag flag-mu"></i></li>
														<li class="icons-list-item"><i class="flag flag-mv" placement="top" ngbTooltip="flag flag-mv"></i></li>
														<li class="icons-list-item"><i class="flag flag-mw" placement="top" ngbTooltip="flag flag-mw"></i></li>
														<li class="icons-list-item"><i class="flag flag-mx" placement="top" ngbTooltip="flag flag-mx"></i></li>
														<li class="icons-list-item"><i class="flag flag-my" placement="top" ngbTooltip="flag flag-my"></i></li>
														<li class="icons-list-item"><i class="flag flag-mz" placement="top" ngbTooltip="flag flag-mz"></i></li>
														<li class="icons-list-item"><i class="flag flag-na" placement="top" ngbTooltip="flag flag-na"></i></li>
														<li class="icons-list-item"><i class="flag flag-nc" placement="top" ngbTooltip="flag flag-nc"></i></li>
														<li class="icons-list-item"><i class="flag flag-ne" placement="top" ngbTooltip="flag flag-ne"></i></li>
														<li class="icons-list-item"><i class="flag flag-nf" placement="top" ngbTooltip="flag flag-nf"></i></li>
														<li class="icons-list-item"><i class="flag flag-ng" placement="top" ngbTooltip="flag flag-ng"></i></li>
														<li class="icons-list-item"><i class="flag flag-ni" placement="top" ngbTooltip="flag flag-ni"></i></li>
														<li class="icons-list-item"><i class="flag flag-nl" placement="top" ngbTooltip="flag flag-nl"></i></li>
														<li class="icons-list-item"><i class="flag flag-no" placement="top" ngbTooltip="flag flag-no"></i></li>
														<li class="icons-list-item"><i class="flag flag-np" placement="top" ngbTooltip="flag flag-np"></i></li>
														<li class="icons-list-item"><i class="flag flag-nr" placement="top" ngbTooltip="flag flag-nr"></i></li>
														<li class="icons-list-item"><i class="flag flag-nu" placement="top" ngbTooltip="flag flag-nu"></i></li>
														<li class="icons-list-item"><i class="flag flag-nz" placement="top" ngbTooltip="flag flag-nz"></i></li>
														<li class="icons-list-item"><i class="flag flag-om" placement="top" ngbTooltip="flag flag-om"></i></li>
														<li class="icons-list-item"><i class="flag flag-pa" placement="top" ngbTooltip="flag flag-pa"></i></li>
														<li class="icons-list-item"><i class="flag flag-pe" placement="top" ngbTooltip="flag flag-pe"></i></li>
														<li class="icons-list-item"><i class="flag flag-pf" placement="top" ngbTooltip="flag flag-pf"></i></li>
														<li class="icons-list-item"><i class="flag flag-pg" placement="top" ngbTooltip="flag flag-pg"></i></li>
														<li class="icons-list-item"><i class="flag flag-ph" placement="top" ngbTooltip="flag flag-ph"></i></li>
														<li class="icons-list-item"><i class="flag flag-pk" placement="top" ngbTooltip="flag flag-pk"></i></li>
														<li class="icons-list-item"><i class="flag flag-pl" placement="top" ngbTooltip="flag flag-pl"></i></li>
														<li class="icons-list-item"><i class="flag flag-pm" placement="top" ngbTooltip="flag flag-pm"></i></li>
														<li class="icons-list-item"><i class="flag flag-pn" placement="top" ngbTooltip="flag flag-pn"></i></li>
														<li class="icons-list-item"><i class="flag flag-pr" placement="top" ngbTooltip="flag flag-pr"></i></li>
														<li class="icons-list-item"><i class="flag flag-ps" placement="top" ngbTooltip="flag flag-ps"></i></li>
														<li class="icons-list-item"><i class="flag flag-pt" placement="top" ngbTooltip="flag flag-pt"></i></li>
														<li class="icons-list-item"><i class="flag flag-pw" placement="top" ngbTooltip="flag flag-pw"></i></li>
														<li class="icons-list-item"><i class="flag flag-py" placement="top" ngbTooltip="flag flag-py"></i></li>
														<li class="icons-list-item"><i class="flag flag-qa" placement="top" ngbTooltip="flag flag-qa"></i></li>
														<li class="icons-list-item"><i class="flag flag-re" placement="top" ngbTooltip="flag flag-re"></i></li>
														<li class="icons-list-item"><i class="flag flag-ro" placement="top" ngbTooltip="flag flag-ro"></i></li>
														<li class="icons-list-item"><i class="flag flag-rs" placement="top" ngbTooltip="flag flag-rs"></i></li>
														<li class="icons-list-item"><i class="flag flag-ru" placement="top" ngbTooltip="flag flag-ru"></i></li>
														<li class="icons-list-item"><i class="flag flag-rw" placement="top" ngbTooltip="flag flag-rw"></i></li>
														<li class="icons-list-item"><i class="flag flag-sa" placement="top" ngbTooltip="flag flag-sa"></i></li>
														<li class="icons-list-item"><i class="flag flag-sb" placement="top" ngbTooltip="flag flag-sb"></i></li>
														<li class="icons-list-item"><i class="flag flag-sc" placement="top" ngbTooltip="flag flag-sc"></i></li>
														<li class="icons-list-item"><i class="flag flag-sd" placement="top" ngbTooltip="flag flag-sd"></i></li>
														<li class="icons-list-item"><i class="flag flag-se" placement="top" ngbTooltip="flag flag-se"></i></li>
														<li class="icons-list-item"><i class="flag flag-sg" placement="top" ngbTooltip="flag flag-sg"></i></li>
														<li class="icons-list-item"><i class="flag flag-sh" placement="top" ngbTooltip="flag flag-sh"></i></li>
														<li class="icons-list-item"><i class="flag flag-si" placement="top" ngbTooltip="flag flag-si"></i></li>
														<li class="icons-list-item"><i class="flag flag-sj" placement="top" ngbTooltip="flag flag-sj"></i></li>
														<li class="icons-list-item"><i class="flag flag-sk" placement="top" ngbTooltip="flag flag-sk"></i></li>
														<li class="icons-list-item"><i class="flag flag-sl" placement="top" ngbTooltip="flag flag-sl"></i></li>
														<li class="icons-list-item"><i class="flag flag-sm" placement="top" ngbTooltip="flag flag-sm"></i></li>
														<li class="icons-list-item"><i class="flag flag-sn" placement="top" ngbTooltip="flag flag-sn"></i></li>
														<li class="icons-list-item"><i class="flag flag-so" placement="top" ngbTooltip="flag flag-so"></i></li>
														<li class="icons-list-item"><i class="flag flag-sr" placement="top" ngbTooltip="flag flag-sr"></i></li>
														<li class="icons-list-item"><i class="flag flag-ss" placement="top" ngbTooltip="flag flag-ss"></i></li>
														<li class="icons-list-item"><i class="flag flag-st" placement="top" ngbTooltip="flag flag-st"></i></li>
														<li class="icons-list-item"><i class="flag flag-sv" placement="top" ngbTooltip="flag flag-sv"></i></li>
														<li class="icons-list-item"><i class="flag flag-sx" placement="top" ngbTooltip="flag flag-sx"></i></li>
														<li class="icons-list-item"><i class="flag flag-sy" placement="top" ngbTooltip="flag flag-sy"></i></li>
														<li class="icons-list-item"><i class="flag flag-sz" placement="top" ngbTooltip="flag flag-sz"></i></li>
														<li class="icons-list-item"><i class="flag flag-tc" placement="top" ngbTooltip="flag flag-tc"></i></li>
														<li class="icons-list-item"><i class="flag flag-td" placement="top" ngbTooltip="flag flag-td"></i></li>
														<li class="icons-list-item"><i class="flag flag-tf" placement="top" ngbTooltip="flag flag-tf"></i></li>
														<li class="icons-list-item"><i class="flag flag-tg" placement="top" ngbTooltip="flag flag-tg"></i></li>
														<li class="icons-list-item"><i class="flag flag-th" placement="top" ngbTooltip="flag flag-th"></i></li>
														<li class="icons-list-item"><i class="flag flag-tj" placement="top" ngbTooltip="flag flag-tj"></i></li>
														<li class="icons-list-item"><i class="flag flag-tk" placement="top" ngbTooltip="flag flag-tk"></i></li>
														<li class="icons-list-item"><i class="flag flag-tl" placement="top" ngbTooltip="flag flag-tl"></i></li>
														<li class="icons-list-item"><i class="flag flag-tm" placement="top" ngbTooltip="flag flag-tm"></i></li>
														<li class="icons-list-item"><i class="flag flag-tn" placement="top" ngbTooltip="flag flag-tn"></i></li>
														<li class="icons-list-item"><i class="flag flag-to" placement="top" ngbTooltip="flag flag-to"></i></li>
														<li class="icons-list-item"><i class="flag flag-tr" placement="top" ngbTooltip="flag flag-tr"></i></li>
														<li class="icons-list-item"><i class="flag flag-tt" placement="top" ngbTooltip="flag flag-tt"></i></li>
														<li class="icons-list-item"><i class="flag flag-tv" placement="top" ngbTooltip="flag flag-tv"></i></li>
														<li class="icons-list-item"><i class="flag flag-tw" placement="top" ngbTooltip="flag flag-tw"></i></li>
														<li class="icons-list-item"><i class="flag flag-tz" placement="top" ngbTooltip="flag flag-tz"></i></li>
														<li class="icons-list-item"><i class="flag flag-ua" placement="top" ngbTooltip="flag flag-ua"></i></li>
														<li class="icons-list-item"><i class="flag flag-ug" placement="top" ngbTooltip="flag flag-ug"></i></li>
														<li class="icons-list-item"><i class="flag flag-um" placement="top" ngbTooltip="flag flag-um"></i></li>
														<li class="icons-list-item"><i class="flag flag-un" placement="top" ngbTooltip="flag flag-un"></i></li>
														<li class="icons-list-item"><i class="flag flag-us" placement="top" ngbTooltip="flag flag-us"></i></li>
														<li class="icons-list-item"><i class="flag flag-uy" placement="top" ngbTooltip="flag flag-uy"></i></li>
														<li class="icons-list-item"><i class="flag flag-uz" placement="top" ngbTooltip="flag flag-uz"></i></li>
														<li class="icons-list-item"><i class="flag flag-va" placement="top" ngbTooltip="flag flag-va"></i></li>
														<li class="icons-list-item"><i class="flag flag-vc" placement="top" ngbTooltip="flag flag-vc"></i></li>
														<li class="icons-list-item"><i class="flag flag-ve" placement="top" ngbTooltip="flag flag-ve"></i></li>
														<li class="icons-list-item"><i class="flag flag-vg" placement="top" ngbTooltip="flag flag-vg"></i></li>
														<li class="icons-list-item"><i class="flag flag-vi" placement="top" ngbTooltip="flag flag-vi"></i></li>
														<li class="icons-list-item"><i class="flag flag-vn" placement="top" ngbTooltip="flag flag-vn"></i></li>
														<li class="icons-list-item"><i class="flag flag-vu" placement="top" ngbTooltip="flag flag-vu"></i></li>
														<li class="icons-list-item"><i class="flag flag-wf" placement="top" ngbTooltip="flag flag-wf"></i></li>
														<li class="icons-list-item"><i class="flag flag-ws" placement="top" ngbTooltip="flag flag-ws"></i></li>
														<li class="icons-list-item"><i class="flag flag-ye" placement="top" ngbTooltip="flag flag-ye"></i></li>
														<li class="icons-list-item"><i class="flag flag-yt" placement="top" ngbTooltip="flag flag-yt"></i></li>
														<li class="icons-list-item"><i class="flag flag-za" placement="top" ngbTooltip="flag flag-za"></i></li>
														<li class="icons-list-item"><i class="flag flag-zm" placement="top" ngbTooltip="flag flag-zm"></i></li>
														<li class="icons-list-item"><i class="flag flag-zw" placement="top" ngbTooltip="flag flag-zw"></i></li>
														
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="card custom-card">
									<div class="card-header mt-3 ml-1 border-bottom-0">
										<h3 class="main-content-label">Payments Icons</h3>
									</div>
									<div class="card-body">
										<div class="row row-sm">
											<div class="col-lg-12 col-sm-12 mb-4">
												<p><code>&lt;i class="payment payment-ICON_NAME"&gt;&lt;/i&gt;</code></p>
											</div>
											<div class="col-sm-12 col-lg-12">
												<div class="icons-list-wrap">
													<ul class="icons-list">
														<li class="icons-list-item"><i class="payment payment-2checkout" placement="top" ngbTooltip="payment payment-2checkout"></i></li>
														<li class="icons-list-item"><i class="payment payment-alipay" placement="top" ngbTooltip="payment payment-alipay"></i></li>
														<li class="icons-list-item"><i class="payment payment-amazon" placement="top" ngbTooltip="payment payment-amazon"></i></li>
														<li class="icons-list-item"><i class="payment payment-americanexpress" placement="top" ngbTooltip="payment payment-americanexpress"></i></li>
														<li class="icons-list-item"><i class="payment payment-applepay" placement="top" ngbTooltip="payment payment-applepay"></i></li>
														<li class="icons-list-item"><i class="payment payment-bancontact" placement="top" ngbTooltip="payment payment-bancontact"></i></li>
														<li class="icons-list-item"><i class="payment payment-bitcoin" placement="top" ngbTooltip="payment payment-bitcoin"></i></li>
														<li class="icons-list-item"><i class="payment payment-bitpay" placement="top" ngbTooltip="payment payment-bitpay"></i></li>
														<li class="icons-list-item"><i class="payment payment-cirrus" placement="top" ngbTooltip="payment payment-cirrus"></i></li>
														<li class="icons-list-item"><i class="payment payment-clickandbuy" placement="top" ngbTooltip="payment payment-clickandbuy"></i></li>
														<li class="icons-list-item"><i class="payment payment-coinkite" placement="top" ngbTooltip="payment payment-coinkite"></i></li>
														<li class="icons-list-item"><i class="payment payment-dinersclub" placement="top" ngbTooltip="payment payment-dinersclub"></i></li>
														<li class="icons-list-item"><i class="payment payment-directdebit" placement="top" ngbTooltip="payment payment-directdebit"></i></li>
														<li class="icons-list-item"><i class="payment payment-discover" placement="top" ngbTooltip="payment payment-discover"></i></li>
														<li class="icons-list-item"><i class="payment payment-dwolla" placement="top" ngbTooltip="payment payment-dwolla"></i></li>
														<li class="icons-list-item"><i class="payment payment-ebay" placement="top" ngbTooltip="payment payment-ebay"></i></li>
														<li class="icons-list-item"><i class="payment payment-eway" placement="top" ngbTooltip="payment payment-eway"></i></li>
														<li class="icons-list-item"><i class="payment payment-giropay" placement="top" ngbTooltip="payment payment-giropay"></i></li>
														<li class="icons-list-item"><i class="payment payment-googlewallet" placement="top" ngbTooltip="payment payment-googlewallet"></i></li>
														<li class="icons-list-item"><i class="payment payment-ingenico" placement="top" ngbTooltip="payment payment-ingenico"></i></li>
														<li class="icons-list-item"><i class="payment payment-jcb" placement="top" ngbTooltip="payment payment-jcb"></i></li>
														<li class="icons-list-item"><i class="payment payment-klarna" placement="top" ngbTooltip="payment payment-klarna"></i></li>
														<li class="icons-list-item"><i class="payment payment-laser" placement="top" ngbTooltip="payment payment-laser"></i></li>
														<li class="icons-list-item"><i class="payment payment-maestro" placement="top" ngbTooltip="payment payment-maestro"></i></li>
														<li class="icons-list-item"><i class="payment payment-mastercard" placement="top" ngbTooltip="payment payment-mastercard"></i></li>
														<li class="icons-list-item"><i class="payment payment-monero" placement="top" ngbTooltip="payment payment-monero"></i></li>
														<li class="icons-list-item"><i class="payment payment-neteller" placement="top" ngbTooltip="payment payment-neteller"></i></li>
														<li class="icons-list-item"><i class="payment payment-ogone" placement="top" ngbTooltip="payment payment-ogone"></i></li>
														<li class="icons-list-item"><i class="payment payment-okpay" placement="top" ngbTooltip="payment payment-okpay"></i></li>
														<li class="icons-list-item"><i class="payment payment-paybox" placement="top" ngbTooltip="payment payment-paybox"></i></li>
														<li class="icons-list-item"><i class="payment payment-paymill" placement="top" ngbTooltip="payment payment-paymill"></i></li>
														<li class="icons-list-item"><i class="payment payment-payone" placement="top" ngbTooltip="payment payment-payone"></i></li>
														<li class="icons-list-item"><i class="payment payment-payoneer" placement="top" ngbTooltip="payment payment-payoneer"></i></li>
														<li class="icons-list-item"><i class="payment payment-paypal" placement="top" ngbTooltip="payment payment-paypal"></i></li>
														<li class="icons-list-item"><i class="payment payment-paysafecard" placement="top" ngbTooltip="payment payment-paysafecard"></i></li>
														<li class="icons-list-item"><i class="payment payment-payu" placement="top" ngbTooltip="payment payment-payu"></i></li>
														<li class="icons-list-item"><i class="payment payment-payza" placement="top" ngbTooltip="payment payment-payza"></i></li>
														<li class="icons-list-item"><i class="payment payment-ripple" placement="top" ngbTooltip="payment payment-ripple"></i></li>
														<li class="icons-list-item"><i class="payment payment-sage" placement="top" ngbTooltip="payment payment-sage"></i></li>
														<li class="icons-list-item"><i class="payment payment-sepa" placement="top" ngbTooltip="payment payment-sepa"></i></li>
														<li class="icons-list-item"><i class="payment payment-shopify" placement="top" ngbTooltip="payment payment-shopify"></i></li>
														<li class="icons-list-item"><i class="payment payment-skrill" placement="top" ngbTooltip="payment payment-skrill"></i></li>
														<li class="icons-list-item"><i class="payment payment-solo" placement="top" ngbTooltip="payment payment-solo"></i></li>
														<li class="icons-list-item"><i class="payment payment-square" placement="top" ngbTooltip="payment payment-square"></i></li>
														<li class="icons-list-item"><i class="payment payment-stripe" placement="top" ngbTooltip="payment payment-stripe"></i></li>
														<li class="icons-list-item"><i class="payment payment-switch" placement="top" ngbTooltip="payment payment-switch"></i></li>
														<li class="icons-list-item"><i class="payment payment-ukash" placement="top" ngbTooltip="payment payment-ukash"></i></li>
														<li class="icons-list-item"><i class="payment payment-unionpay" placement="top" ngbTooltip="payment payment-unionpay"></i></li>
														<li class="icons-list-item"><i class="payment payment-verifone" placement="top" ngbTooltip="payment payment-verifone"></i></li>
														<li class="icons-list-item"><i class="payment payment-verisign" placement="top" ngbTooltip="payment payment-verisign"></i></li>
														<li class="icons-list-item"><i class="payment payment-visa" placement="top" ngbTooltip="payment payment-visa"></i></li>
														<li class="icons-list-item"><i class="payment payment-webmoney" placement="top" ngbTooltip="payment payment-webmoney"></i></li>
														<li class="icons-list-item"><i class="payment payment-westernunion" placement="top" ngbTooltip="payment payment-westernunion"></i></li>
														<li class="icons-list-item"><i class="payment payment-worldpay" placement="top" ngbTooltip="payment payment-worldpay"></i></li>
														<li class="icons-list-item"><i class="payment payment-2checkout-dark" placement="top" ngbTooltip="payment payment-2checkout-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-alipay-dark" placement="top" ngbTooltip="payment payment-alipay-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-amazon-dark" placement="top" ngbTooltip="payment payment-amazon-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-americanexpress-dark" placement="top" ngbTooltip="payment payment-americanexpress-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-applepay-dark" placement="top" ngbTooltip="payment payment-applepay-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-bancontact-dark" placement="top" ngbTooltip="payment payment-bancontact-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-bitcoin-dark" placement="top" ngbTooltip="payment payment-bitcoin-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-bitpay-dark" placement="top" ngbTooltip="payment payment-bitpay-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-cirrus-dark" placement="top" ngbTooltip="payment payment-cirrus-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-clickandbuy-dark" placement="top" ngbTooltip="payment payment-clickandbuy-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-coinkite-dark" placement="top" ngbTooltip="payment payment-coinkite-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-dinersclub-dark" placement="top" ngbTooltip="payment payment-dinersclub-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-directdebit-dark" placement="top" ngbTooltip="payment payment-directdebit-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-discover-dark" placement="top" ngbTooltip="payment payment-discover-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-dwolla-dark" placement="top" ngbTooltip="payment payment-dwolla-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-ebay-dark" placement="top" ngbTooltip="payment payment-ebay-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-eway-dark" placement="top" ngbTooltip="payment payment-eway-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-giropay-dark" placement="top" ngbTooltip="payment payment-giropay-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-googlewallet-dark" placement="top" ngbTooltip="payment payment-googlewallet-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-ingenico-dark" placement="top" ngbTooltip="payment payment-ingenico-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-jcb-dark" placement="top" ngbTooltip="payment payment-jcb-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-klarna-dark" placement="top" ngbTooltip="payment payment-klarna-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-laser-dark" placement="top" ngbTooltip="payment payment-laser-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-maestro-dark" placement="top" ngbTooltip="payment payment-maestro-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-mastercard-dark" placement="top" ngbTooltip="payment payment-mastercard-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-monero-dark" placement="top" ngbTooltip="payment payment-monero-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-neteller-dark" placement="top" ngbTooltip="payment payment-neteller-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-ogone-dark" placement="top" ngbTooltip="payment payment-ogone-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-okpay-dark" placement="top" ngbTooltip="payment payment-okpay-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-paybox-dark" placement="top" ngbTooltip="payment payment-paybox-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-paymill-dark" placement="top" ngbTooltip="payment payment-paymill-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-payone-dark" placement="top" ngbTooltip="payment payment-payone-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-payoneer-dark" placement="top" ngbTooltip="payment payment-payoneer-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-paypal-dark" placement="top" ngbTooltip="payment payment-paypal-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-paysafecard-dark" placement="top" ngbTooltip="payment payment-paysafecard-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-payu-dark" placement="top" ngbTooltip="payment payment-payu-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-payza-dark" placement="top" ngbTooltip="payment payment-payza-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-ripple-dark" placement="top" ngbTooltip="payment payment-ripple-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-sage-dark" placement="top" ngbTooltip="payment payment-sage-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-sepa-dark" placement="top" ngbTooltip="payment payment-sepa-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-shopify-dark" placement="top" ngbTooltip="payment payment-shopify-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-skrill-dark" placement="top" ngbTooltip="payment payment-skrill-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-solo-dark" placement="top" ngbTooltip="payment payment-solo-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-square-dark" placement="top" ngbTooltip="payment payment-square-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-stripe-dark" placement="top" ngbTooltip="payment payment-stripe-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-switch-dark" placement="top" ngbTooltip="payment payment-switch-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-ukash-dark" placement="top" ngbTooltip="payment payment-ukash-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-unionpay-dark" placement="top" ngbTooltip="payment payment-unionpay-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-verifone-dark" placement="top" ngbTooltip="payment payment-verifone-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-verisign-dark" placement="top" ngbTooltip="payment payment-verisign-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-visa-dark" placement="top" ngbTooltip="payment payment-visa-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-webmoney-dark" placement="top" ngbTooltip="payment payment-webmoney-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-westernunion-dark" placement="top" ngbTooltip="payment payment-westernunion-dark"></i></li>
														<li class="icons-list-item"><i class="payment payment-worldpay-dark" placement="top" ngbTooltip="payment payment-worldpay-dark"></i></li>
													
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>