
    .option-dots:hover {
        background-color: #f0f0ff !important;
    }
    .dropdown-menu-right.dropdown-menu{
        transform: translate(-120px , 40px) !important;
        z-index: 9 !important;
    }

    .dropdown-menu{
        z-index: 9 !important;
    }
