<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Typography</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;">Elements</a></li>
            <li class="breadcrumb-item active" aria-current="page">Typography</li>
        </ol>
    </div>
    <div class="d-flex">
        <div class="justify-content-center">
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
                <i class="fe fe-download mr-2"></i> Import
            </button>
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
                <i class="fe fe-filter mr-2"></i> Filter
            </button>
            <button type="button" class="btn btn-primary my-2 btn-icon-text">
                <i class="fe fe-download-cloud mr-2"></i> Download Report
            </button>
        </div>
    </div>
</div>
<!-- End Page Header -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-xl-9 col-lg-12">
        <div class="card custom-card" id="heading" #heading>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Headings</h6>
                    <p class="text-muted card-sub-title">All HTML headings, <code>h1</code> through <code>h6</code>, are
                        available.</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <div class="row row-xs">
                            <div class="col-sm-6 col-md-6">
                                <h1>h1 Heading</h1>
                                <h2>h2 Heading</h2>
                                <h3>h3 Heading</h3>
                                <h4>h4 Heading</h4>
                                <h5>h5 Heading</h5>
                                <h6>h6 Heading</h6>
                            </div>
                            <div class="col-sm-6 col-md-6 mg-t-10 mg-sm-t-0">
                                <p class="h1 text-primary">h1 Heading</p>
                                <p class="h2 text-secondary">h2 Heading</p>
                                <p class="h3 text-success">h3 Heading</p>
                                <p class="h4 text-danger">h4 Heading</p>
                                <p class="h5 text-info">h5 Heading</p>
                                <p class="h6 text-warning">h6 Heading</p>
                            </div>
                        </div>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="typoraph1">
                        <ul ngbNav #nav1="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html1"></code></pre>
                                    <div ngxClipboard [cbContent]="html1">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts1"></code></pre>
                                    <div ngxClipboard [cbContent]="ts1">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav1"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>
        <div class="card custom-card" id="display" #display>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Display headings</h6>
                    <p class="text-muted card-sub-title">you need a heading to stand out, consider using a display
                        heading—a larger, slightly more opinionated heading style.</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <h1 class="display-1">Display 1</h1>
                        <h1 class="display-2">Display 2</h1>
                        <h1 class="display-3">Display 3</h1>
                        <h1 class="display-4">Display 4</h1>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="typoraph2">
                        <ul ngbNav #nav2="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html2"></code></pre>
                                    <div ngxClipboard [cbContent]="html2">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts2"></code></pre>
                                    <div ngxClipboard [cbContent]="ts2">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav2"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>
        <div class="card custom-card" id="lead" #lead>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Lead</h6>
                    <p class="text-muted card-sub-title">Make a paragraph stand out by adding <code>.lead</code>.</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <p class="lead mb-0">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo.
                        </p>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="typoraph3">
                        <ul ngbNav #nav3="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html3"></code></pre>
                                    <div ngxClipboard [cbContent]="html3">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts3"></code></pre>
                                    <div ngxClipboard [cbContent]="ts3">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav3"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>
        <div class="card custom-card" id="linetext" #linetext>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Inline text elements</h6>
                    <p class="text-muted card-sub-title">Styling for common inline HTML5 elements.</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <p>You can use the mark tag to <mark>highlight</mark> text.</p>
                        <p><del>This line of text is meant to be treated as deleted text.</del></p>
                        <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
                        <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
                        <p><u>This line of text will render as underlined</u></p>
                        <p><small>This line of text is meant to be treated as fine print.</small></p>
                        <p><strong>This line rendered as bold text.</strong></p>
                        <p class="mb-0"><em>This line rendered as italicized text.</em></p>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="typoraph4">
                        <ul ngbNav #nav4="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html4"></code></pre>
                                    <div ngxClipboard [cbContent]="html4">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts4"></code></pre>
                                    <div ngxClipboard [cbContent]="ts4">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav4"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>
        <div class="card custom-card" id="blockquotes" #blockquotes>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Blockquotes</h6>
                    <p class="text-muted card-sub-title">For quoting blocks of content from another source within your
                        document. <code>.blockquote</code> around any HTML as the quote.</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <blockquote class="blockquote mb-0">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                                erat a ante.</p>
                        </blockquote>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="typoraph5">
                        <ul ngbNav #nav5="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html5"></code></pre>
                                    <div ngxClipboard [cbContent]="html5">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts5"></code></pre>
                                    <div ngxClipboard [cbContent]="ts5">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav5"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>
        <div class="card custom-card" id="aligment" #aligment>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Alignment</h6>
                    <p class="text-muted card-sub-title">Use text utilities as needed to change the alignment of your
                        blockquote.</p>
                </div>
                <div class="text-wrap mb-4">
                    <div class="example">
                        <blockquote class="blockquote text-center">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                                erat a ante.</p>
                            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source
                                    Title</cite></footer>
                        </blockquote>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="typoraph6">
                        <ul ngbNav #nav6="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html6"></code></pre>
                                    <div ngxClipboard [cbContent]="html6">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts6"></code></pre>
                                    <div ngxClipboard [cbContent]="ts6">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav6"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <blockquote class="blockquote text-right mb-0">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                                erat a ante.</p>
                            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source
                                    Title</cite></footer>
                        </blockquote>
                    </div>
                    <!-- Prism Precode -->
                    <figure class="highlight clip-widget" id="typoraph7">
                        <ul ngbNav #nav7="ngbNav" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>HTML</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="html7"></code></pre>
                                    <div ngxClipboard [cbContent]="html7">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>TS</a>
                                <ng-template ngbNavContent>
                                    <pre><code [highlight]="ts7"></code></pre>
                                    <div ngxClipboard [cbContent]="ts7">
                                        <div class="clipboard-icon" container="body" placement="top"
                                            ngbTooltip="Copy To Clipboard">
                                            <i class="fa fa-clipboard"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav7"></div>
                    </figure>
                    <!-- End Prism Precode -->
                </div>
            </div>
        </div>
        <div class="card custom-card" id="fontsize" #fontsize>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Font Size</h6>
                    <p class="text-muted card-sub-title">You can set a font size instantly to an element by using the
                        following utilities classes.</p>
                </div>
                <div class="table-responsive">
                    <table class="table main-table-reference mt-0 mb-0">
                        <thead>
                            <tr>
                                <th class="wd-30p">Class</th>
                                <th class="wd-70p">Size</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>.tx-[size]</code></td>
                                <td>8 | 9 | 10 | 11 | 12 | 13 | 14 | 15 | 16</td>
                            </tr>
                            <tr>
                                <td><code>.tx-[size]</code></td>
                                <td>18 | 20 | 22 | 24 | ... | 140 (step of 2)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card custom-card" id="fontweight" #fontweight>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Font Weight</h6>
                    <p class="text-muted card-sub-title">You can set a font weight instantly to an element by using the
                        following utilities classes.</p>
                </div>
                <div class="table-responsive">
                    <table class="table main-table-reference mt-0 mb-0">
                        <thead>
                            <tr>
                                <th class="wd-30p">Class</th>
                                <th class="wd-70p">Weight</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>.tx-[weight]</code></td>
                                <td>bold | semibold | medium | normal | light | thin | xthin</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card custom-card" id="fontfamily" #fontfamily>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Font Family</h6>
                    <p class="text-muted card-sub-title">You can set a font family instantly to an element by using the
                        following utilities classes.</p>
                </div>
                <div class="table-responsive">
                    <table class="table main-table-reference mt-0 mb-0">
                        <thead>
                            <tr>
                                <th class="wd-30p">Class</th>
                                <th class="wd-70p">Family</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>.tx-[family]</code></td>
                                <td>sserif | roboto</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card custom-card" id="fontcolor" #fontcolor>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Font Color</h6>
                    <p class="text-muted card-sub-title">You can set a font color instantly to an element by using the
                        following utilities classes.</p>
                </div>
                <div class="table-responsive">
                    <table class="table main-table-reference mt-0 mb-0">
                        <thead>
                            <tr>
                                <th class="wd-30p">Class</th>
                                <th class="wd-70p">Color</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>.tx-[color]</code></td>
                                <td>primary | success | warning | danger | info | indigo | purple | orange | teal | pink
                                    | black | white | inverse</td>
                            </tr>
                            <tr>
                                <td><code>.tx-gray-[num]</code></td>
                                <td>100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900</td>
                            </tr>
                            <tr>
                                <td><code>.tx-white-[transparency]</code></td>
                                <td>2 | 3 | 4 | 5 | 6 | 7 | 8</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card custom-card" id="fontspace" #fontspace>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Font Spacing</h6>
                    <p class="text-muted card-sub-title">You can set a font spacing instantly to an element by using the
                        following utilities classes.</p>
                </div>
                <div class="table-responsive">
                    <table class="table main-table-reference mt-0 mb-0">
                        <thead>
                            <tr>
                                <th class="wd-30p">Class</th>
                                <th class="wd-70p">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>.tx-spacing-[value]</code></td>
                                <td>1 | 2 | 3 | 4 | 5 | 6 | 7 | 8</td>
                            </tr>
                            <tr>
                                <td><code>.tx-spacing--[value]</code></td>
                                <td>1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 ( negative spacing result )</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card custom-card" id="lineh" #lineh>
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Line Height</h6>
                    <p class="text-muted card-sub-title">You can set a line height instantly to an element by using the
                        following utilities classes.</p>
                </div>
                <div class="table-responsive">
                    <table class="table main-table-reference mt-0">
                        <thead>
                            <tr>
                                <th class="wd-30p">Class</th>
                                <th class="wd-70p">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>.lh-[value]</code></td>
                                <td>1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | 13 | 14 | 15</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table main-table-reference mt-0">
                        <thead>
                            <tr>
                                <th class="wd-30p">Class</th>
                                <th class="wd-20p">Viewport</th>
                                <th class="wd-50p">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>.lh-[viewport]-[value]</code></td>
                                <td>xs | sm | md | lg | xl</td>
                                <td>1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | 13 | 14 | 15</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-12 d-none d-xl-block custom-leftnav">
        <div class="main-content-left-components">
            <div class="card custom-card">
                <div class="card-body component-item">
                    <nav class="nav flex-column">
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(heading)">Headings</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(display)">Display headings</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(lead)">Lead</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(linetext)">Inline text
                            elements</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(blockquotes)">Blockquotes</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(aligment)">Alignment</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(fontsize)">Font Size</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(fontweight)">Font Weight</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(fontfamily)">Font Family</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(fontcolor)">Font Color</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(fontspace)">Font Spacing</a>
                        <a class="nav-link" href="javascript:;" (click)="scrollToElement(lineh)">Line Height</a>
                    </nav>
                </div>
            </div>
            <div class="card custom-card our-team">
                <div class="card-body">
                    <div class="picture avatar-lg online text-center">
                        <img alt="avatar" class="rounded-circle" src="../../assets/img/users/7.jpg">
                    </div>
                    <div class="text-center mt-3">
                        <h5 class="pro-user-username text-dark mt-2 mb-0">Joyce Chua</h5>
                        <p class="pro-user-desc text-muted mb-1">Web Developer</p>
                        <p class="user-info-rating">
                            <a href="javascript:;"><i class="fa fa-star text-warning"> </i></a>
                            <a href="javascript:;"><i class="fa fa-star text-warning"> </i></a>
                            <a href="javascript:;"><i class="fa fa-star text-warning"> </i></a>
                            <a href="javascript:;"><i class="far fa-star text-warning"> </i></a>
                            <a href="javascript:;"><i class="far fa-star text-warning"> </i></a>
                        </p>
                    </div>
                    <div class="contact-info mb-0 text-center">
                        <a href="javascript:;" class="contact-icon border text-primary"><i
                                class="fab fa-facebook-f"></i></a>
                        <a href="javascript:;" class="contact-icon border text-primary"><i
                                class="fab fa-twitter"></i></a>
                        <a href="javascript:;" class="contact-icon border text-primary"><i
                                class="fab fa-google"></i></a>
                        <a href="javascript:;" class="contact-icon border text-primary"><i
                                class="fab fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->