::ng-deep{
    .forth.circle {
        svg {
            margin: 0 auto;
            display: block;
            max-width: 100%;
            max-height: 100%;
        }
    } 
    .btn-primary:hover {
        color: #fff !important;
        background-color: #403fad !important;
        border-color: #403fad !important;
    }
    .dropdown-menu-right.dropdown-menu{
        transform: translate(-101px, 40px) !important;
    }

    .dropdown-menu{
        z-index: 9 !important;
    }
    
}

.ml-auto.show.dropdown .dropdown-menu{
    transform: translate( -120px, 40px) !important;
}