<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Themify Icons</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;">Icons</a></li>
            <li class="breadcrumb-item"><a href="javascript:;">Themify Icons</a></li>
        </ol>
    </div>
    <div class="d-flex">
        <div class="justify-content-center">
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
              <i class="fe fe-download mr-2"></i> Import
            </button>
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
              <i class="fe fe-filter mr-2"></i> Filter
            </button>
            <button type="button" class="btn btn-primary my-2 btn-icon-text">
              <i class="fe fe-download-cloud mr-2"></i> Download Report
            </button>
        </div>
    </div>
</div>
<!-- End Page Header -->

<!-- Row-->
<div class="row ">
    <div class="col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <div class="row row-sm">
                    <div class="col-lg-12 col-sm-12 mb-4">
                        <h3 class="main-content-label">Themify Icons</h3>
                        <p class="mb-2">Simply beautiful open source icons. For more info <a href="https://themify.me/themify-icons" target="_blank">click here</a>.</p>
                        <p><code>&lt;i class="ti-ICON_NAME"&gt;&lt;/i&gt;</code></p>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="icons-list-wrap">
                            <ul class="icons-list">
                                <li class="icons-list-item"><i class="ti-arrow-up" placement="top" ngbTooltip="ti-arrow-up"></i></li>
                                <li class="icons-list-item"><i class="ti-arrow-right" placement="top" ngbTooltip="ti-arrow-right"></i></li>
                                <li class="icons-list-item"><i class="ti-arrow-left" placement="top" ngbTooltip="ti-arrow-left"></i></li>
                                <li class="icons-list-item"><i class="ti-arrow-down" placement="top" ngbTooltip="ti-arrow-down"></i></li>
                                <li class="icons-list-item"><i class="ti-arrows-vertical" placement="top" ngbTooltip="ti-arrows-vertical"></i></li>
                                <li class="icons-list-item"><i class="ti-arrows-horizontal" placement="top" ngbTooltip="ti-arrows-horizontal"></i></li>
                                <li class="icons-list-item"><i class="ti-angle-up" placement="top" ngbTooltip="ti-angle-up"></i></li>
                                <li class="icons-list-item"><i class="ti-angle-right" placement="top" ngbTooltip="ti-angle-right"></i></li>
                                <li class="icons-list-item"><i class="ti-angle-left" placement="top" ngbTooltip="ti-angle-left"></i></li>
                                <li class="icons-list-item"><i class="ti-angle-down" placement="top" ngbTooltip="ti-angle-down"></i></li>
                                <li class="icons-list-item"><i class="ti-angle-double-up" placement="top" ngbTooltip="ti-angle-double-up"></i></li>
                                <li class="icons-list-item"><i class="ti-angle-double-right" placement="top" ngbTooltip="ti-angle-double-right"></i></li>
                                <li class="icons-list-item"><i class="ti-angle-double-left" placement="top" ngbTooltip="ti-angle-double-left"></i></li>
                                <li class="icons-list-item"><i class="ti-angle-double-down" placement="top" ngbTooltip="ti-angle-double-down"></i></li>
                                <li class="icons-list-item"><i class="ti-move" placement="top" ngbTooltip="ti-move"></i></li>
                                <li class="icons-list-item"><i class="ti-fullscreen" placement="top" ngbTooltip="ti-fullscreen"></i></li>
                                <li class="icons-list-item"><i class="ti-arrow-top-right" placement="top" ngbTooltip="ti-arrow-top-right"></i></li>
                                <li class="icons-list-item"><i class="ti-arrow-top-left" placement="top" ngbTooltip="ti-arrow-top-left"></i></li>
                                <li class="icons-list-item"><i class="ti-arrow-circle-up" placement="top" ngbTooltip="ti-arrow-circle-up"></i></li>
                                <li class="icons-list-item"><i class="ti-arrow-circle-right" placement="top" ngbTooltip="ti-arrow-circle-right"></i></li>
                                <li class="icons-list-item"><i class="ti-arrow-circle-left" placement="top" ngbTooltip="ti-arrow-circle-left"></i></li>
                                <li class="icons-list-item"><i class="ti-arrow-circle-down" placement="top" ngbTooltip="ti-arrow-circle-down"></i></li>
                                <li class="icons-list-item"><i class="ti-arrows-corner" placement="top" ngbTooltip="ti-arrows-corner"></i></li>
                                <li class="icons-list-item"><i class="ti-split-v" placement="top" ngbTooltip="ti-split-v"></i></li>
                                <li class="icons-list-item"><i class="ti-split-v-alt" placement="top" ngbTooltip="ti-split-v-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-split-h" placement="top" ngbTooltip="ti-split-h"></i></li>
                                <li class="icons-list-item"><i class="ti-hand-point-up" placement="top" ngbTooltip="ti-hand-point-up"></i></li>
                                <li class="icons-list-item"><i class="ti-hand-point-right" placement="top" ngbTooltip="ti-hand-point-right"></i></li>
                                <li class="icons-list-item"><i class="ti-hand-point-left" placement="top" ngbTooltip="ti-hand-point-left"></i></li>
                                <li class="icons-list-item"><i class="ti-hand-point-down" placement="top" ngbTooltip="ti-hand-point-down"></i></li>
                                <li class="icons-list-item"><i class="ti-back-right" placement="top" ngbTooltip="ti-back-right"></i></li>
                                <li class="icons-list-item"><i class="ti-back-left" placement="top" ngbTooltip="ti-back-left"></i></li>
                                <li class="icons-list-item"><i class="ti-exchange-vertical" placement="top" ngbTooltip="ti-exchange-vertical"></i></li>
                                <li class="icons-list-item"><i class="ti-wand" placement="top" ngbTooltip="ti-wand"></i></li>
                                <li class="icons-list-item"><i class="ti-save" placement="top" ngbTooltip="ti-save"></i></li>
                                <li class="icons-list-item"><i class="ti-save-alt" placement="top" ngbTooltip="ti-save-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-direction" placement="top" ngbTooltip="ti-direction"></i></li>
                                <li class="icons-list-item"><i class="ti-direction-alt" placement="top" ngbTooltip="ti-direction-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-user" placement="top" ngbTooltip="ti-user"></i></li>
                                <li class="icons-list-item"><i class="ti-link" placement="top" ngbTooltip="ti-link"></i></li>
                                <li class="icons-list-item"><i class="ti-unlink" placement="top" ngbTooltip="ti-unlink"></i></li>
                                <li class="icons-list-item"><i class="ti-trash" placement="top" ngbTooltip="ti-trash"></i></li>
                                <li class="icons-list-item"><i class="ti-target" placement="top" ngbTooltip="ti-target"></i></li>
                                <li class="icons-list-item"><i class="ti-tag" placement="top" ngbTooltip="ti-tag"></i></li>
                                <li class="icons-list-item"><i class="ti-desktop" placement="top" ngbTooltip="ti-desktop"></i></li>
                                <li class="icons-list-item"><i class="ti-tablet" placement="top" ngbTooltip="ti-tablet"></i></li>
                                <li class="icons-list-item"><i class="ti-mobile" placement="top" ngbTooltip="ti-mobile"></i></li>
                                <li class="icons-list-item"><i class="ti-email" placement="top" ngbTooltip="ti-email"></i></li>
                                <li class="icons-list-item"><i class="ti-star" placement="top" ngbTooltip="ti-star"></i></li>
                                <li class="icons-list-item"><i class="ti-spray" placement="top" ngbTooltip="ti-spray"></i></li>
                                <li class="icons-list-item"><i class="ti-signal" placement="top" ngbTooltip="ti-signal"></i></li>
                                <li class="icons-list-item"><i class="ti-shopping-cart" placement="top" ngbTooltip="ti-shopping-cart"></i></li>
                                <li class="icons-list-item"><i class="ti-shopping-cart-full" placement="top" ngbTooltip="ti-shopping-cart-full"></i></li>
                                <li class="icons-list-item"><i class="ti-settings" placement="top" ngbTooltip="ti-settings"></i></li>
                                <li class="icons-list-item"><i class="ti-search" placement="top" ngbTooltip="ti-search"></i></li>
                                <li class="icons-list-item"><i class="ti-zoom-in" placement="top" ngbTooltip="ti-zoom-in"></i></li>
                                <li class="icons-list-item"><i class="ti-zoom-out" placement="top" ngbTooltip="ti-zoom-out"></i></li>
                                <li class="icons-list-item"><i class="ti-cut" placement="top" ngbTooltip="ti-cut"></i></li>
                                <li class="icons-list-item"><i class="ti-ruler" placement="top" ngbTooltip="ti-ruler"></i></li>
                                <li class="icons-list-item"><i class="ti-ruler-alt-2" placement="top" ngbTooltip="ti-ruler-alt-2"></i></li>
                                <li class="icons-list-item"><i class="ti-ruler-pencil" placement="top" ngbTooltip="ti-ruler-pencil"></i></li>
                                <li class="icons-list-item"><i class="ti-ruler-alt" placement="top" ngbTooltip="ti-ruler-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-bookmark" placement="top" ngbTooltip="ti-bookmark"></i></li>
                                <li class="icons-list-item"><i class="ti-bookmark-alt" placement="top" ngbTooltip="ti-bookmark-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-reload" placement="top" ngbTooltip="ti-reload"></i></li>
                                <li class="icons-list-item"><i class="ti-plus" placement="top" ngbTooltip="ti-plus"></i></li>
                                <li class="icons-list-item"><i class="ti-minus" placement="top" ngbTooltip="ti-minus"></i></li>
                                <li class="icons-list-item"><i class="ti-close" placement="top" ngbTooltip="ti-close"></i></li>
                                <li class="icons-list-item"><i class="ti-pin" placement="top" ngbTooltip="ti-pin"></i></li>
                                <li class="icons-list-item"><i class="ti-pencil" placement="top" ngbTooltip="ti-pencil"></i></li>
                                <li class="icons-list-item"><i class="ti-pencil-alt" placement="top" ngbTooltip="ti-pencil-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-paint-roller" placement="top" ngbTooltip="ti-paint-roller"></i></li>
                                <li class="icons-list-item"><i class="ti-paint-bucket" placement="top" ngbTooltip="ti-paint-bucket"></i></li>
                                <li class="icons-list-item"><i class="ti-na" placement="top" ngbTooltip="ti-na"></i></li>
                                <li class="icons-list-item"><i class="ti-medall" placement="top" ngbTooltip="ti-medall"></i></li>
                                <li class="icons-list-item"><i class="ti-medall-alt" placement="top" ngbTooltip="ti-medall-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-marker" placement="top" ngbTooltip="ti-marker"></i></li>
                                <li class="icons-list-item"><i class="ti-marker-alt" placement="top" ngbTooltip="ti-marker-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-lock" placement="top" ngbTooltip="ti-lock"></i></li>
                                <li class="icons-list-item"><i class="ti-unlock" placement="top" ngbTooltip="ti-unlock"></i></li>
                                <li class="icons-list-item"><i class="ti-location-arrow" placement="top" ngbTooltip="ti-location-arrow"></i></li>
                                <li class="icons-list-item"><i class="ti-layout" placement="top" ngbTooltip="ti-layout"></i></li>
                                <li class="icons-list-item"><i class="ti-layers" placement="top" ngbTooltip="ti-layers"></i></li>
                                <li class="icons-list-item"><i class="ti-layers-alt" placement="top" ngbTooltip="ti-layers-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-key" placement="top" ngbTooltip="ti-key"></i></li>
                                <li class="icons-list-item"><i class="ti-image" placement="top" ngbTooltip="ti-image"></i></li>
                                <li class="icons-list-item"><i class="ti-heart" placement="top" ngbTooltip="ti-heart"></i></li>
                                <li class="icons-list-item"><i class="ti-heart-broken" placement="top" ngbTooltip="ti-heart-broken"></i></li>
                                <li class="icons-list-item"><i class="ti-hand-stop" placement="top" ngbTooltip="ti-hand-stop"></i></li>
                                <li class="icons-list-item"><i class="ti-hand-open" placement="top" ngbTooltip="ti-hand-open"></i></li>
                                <li class="icons-list-item"><i class="ti-hand-drag" placement="top" ngbTooltip="ti-hand-drag"></i></li>
                                <li class="icons-list-item"><i class="ti-flag" placement="top" ngbTooltip="ti-flag"></i></li>
                                <li class="icons-list-item"><i class="ti-flag-alt" placement="top" ngbTooltip="ti-flag-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-flag-alt-2" placement="top" ngbTooltip="ti-flag-alt-2"></i></li>
                                <li class="icons-list-item"><i class="ti-eye" placement="top" ngbTooltip="ti-eye"></i></li>
                                <li class="icons-list-item"><i class="ti-import" placement="top" ngbTooltip="ti-import"></i></li>
                                <li class="icons-list-item"><i class="ti-export" placement="top" ngbTooltip="ti-export"></i></li>
                                <li class="icons-list-item"><i class="ti-cup" placement="top" ngbTooltip="ti-cup"></i></li>
                                <li class="icons-list-item"><i class="ti-crown" placement="top" ngbTooltip="ti-crown"></i></li>
                                <li class="icons-list-item"><i class="ti-comments" placement="top" ngbTooltip="ti-comments"></i></li>
                                <li class="icons-list-item"><i class="ti-comment" placement="top" ngbTooltip="ti-comment"></i></li>
                                <li class="icons-list-item"><i class="ti-comment-alt" placement="top" ngbTooltip="ti-comment-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-thought" placement="top" ngbTooltip="ti-thought"></i></li>
                                <li class="icons-list-item"><i class="ti-clip" placement="top" ngbTooltip="ti-clip"></i></li>
                                <li class="icons-list-item"><i class="ti-check" placement="top" ngbTooltip="ti-check"></i></li>
                                <li class="icons-list-item"><i class="ti-check-box" placement="top" ngbTooltip="ti-check-box"></i></li>
                                <li class="icons-list-item"><i class="ti-camera" placement="top" ngbTooltip="ti-camera"></i></li>
                                <li class="icons-list-item"><i class="ti-announcement" placement="top" ngbTooltip="ti-announcement"></i></li>
                                <li class="icons-list-item"><i class="ti-brush" placement="top" ngbTooltip="ti-brush"></i></li>
                                <li class="icons-list-item"><i class="ti-brush-alt" placement="top" ngbTooltip="ti-brush-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-palette" placement="top" ngbTooltip="ti-palette"></i></li>
                                <li class="icons-list-item"><i class="ti-briefcase" placement="top" ngbTooltip="ti-briefcase"></i></li>
                                <li class="icons-list-item"><i class="ti-bolt" placement="top" ngbTooltip="ti-bolt"></i></li>
                                <li class="icons-list-item"><i class="ti-bolt-alt" placement="top" ngbTooltip="ti-bolt-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-blackboard" placement="top" ngbTooltip="ti-blackboard"></i></li>
                                <li class="icons-list-item"><i class="ti-bag" placement="top" ngbTooltip="ti-bag"></i></li>
                                <li class="icons-list-item"><i class="ti-world" placement="top" ngbTooltip="ti-world"></i></li>
                                <li class="icons-list-item"><i class="ti-wheelchair" placement="top" ngbTooltip="ti-wheelchair"></i></li>
                                <li class="icons-list-item"><i class="ti-car" placement="top" ngbTooltip="ti-car"></i></li>
                                <li class="icons-list-item"><i class="ti-truck" placement="top" ngbTooltip="ti-truck"></i></li>
                                <li class="icons-list-item"><i class="ti-timer" placement="top" ngbTooltip="ti-timer"></i></li>
                                <li class="icons-list-item"><i class="ti-ticket" placement="top" ngbTooltip="ti-ticket"></i></li>
                                <li class="icons-list-item"><i class="ti-thumb-up" placement="top" ngbTooltip="ti-thumb-up"></i></li>
                                <li class="icons-list-item"><i class="ti-thumb-down" placement="top" ngbTooltip="ti-thumb-down"></i></li>
                                <li class="icons-list-item"><i class="ti-stats-up" placement="top" ngbTooltip="ti-stats-up"></i></li>
                                <li class="icons-list-item"><i class="ti-stats-down" placement="top" ngbTooltip="ti-stats-down"></i></li>
                                <li class="icons-list-item"><i class="ti-shine" placement="top" ngbTooltip="ti-shine"></i></li>
                                <li class="icons-list-item"><i class="ti-shift-right" placement="top" ngbTooltip="ti-shift-right"></i></li>
                                <li class="icons-list-item"><i class="ti-shift-left" placement="top" ngbTooltip="ti-shift-left"></i></li>
                                <li class="icons-list-item"><i class="ti-shift-right-alt" placement="top" ngbTooltip="ti-shift-right-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-shift-left-alt" placement="top" ngbTooltip="ti-shift-left-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-shield" placement="top" ngbTooltip="ti-shield"></i></li>
                                <li class="icons-list-item"><i class="ti-notepad" placement="top" ngbTooltip="ti-notepad"></i></li>
                                <li class="icons-list-item"><i class="ti-server" placement="top" ngbTooltip="ti-server"></i></li>
                                <li class="icons-list-item"><i class="ti-pulse" placement="top" ngbTooltip="ti-pulse"></i></li>
                                <li class="icons-list-item"><i class="ti-printer" placement="top" ngbTooltip="ti-printer"></i></li>
                                <li class="icons-list-item"><i class="ti-power-off" placement="top" ngbTooltip="ti-power-off"></i></li>
                                <li class="icons-list-item"><i class="ti-plug" placement="top" ngbTooltip="ti-plug"></i></li>
                                <li class="icons-list-item"><i class="ti-pie-chart" placement="top" ngbTooltip="ti-pie-chart"></i></li>
                                <li class="icons-list-item"><i class="ti-panel" placement="top" ngbTooltip="ti-panel"></i></li>
                                <li class="icons-list-item"><i class="ti-package" placement="top" ngbTooltip="ti-package"></i></li>
                                <li class="icons-list-item"><i class="ti-music" placement="top" ngbTooltip="ti-music"></i></li>
                                <li class="icons-list-item"><i class="ti-music-alt" placement="top" ngbTooltip="ti-music-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-mouse" placement="top" ngbTooltip="ti-mouse"></i></li>
                                <li class="icons-list-item"><i class="ti-mouse-alt" placement="top" ngbTooltip="ti-mouse-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-money" placement="top" ngbTooltip="ti-money"></i></li>
                                <li class="icons-list-item"><i class="ti-microphone" placement="top" ngbTooltip="ti-microphone"></i></li>
                                <li class="icons-list-item"><i class="ti-menu" placement="top" ngbTooltip="ti-menu"></i></li>
                                <li class="icons-list-item"><i class="ti-menu-alt" placement="top" ngbTooltip="ti-menu-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-map" placement="top" ngbTooltip="ti-map"></i></li>
                                <li class="icons-list-item"><i class="ti-map-alt" placement="top" ngbTooltip="ti-map-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-location-pin" placement="top" ngbTooltip="ti-location-pin"></i></li>
                                <li class="icons-list-item"><i class="ti-light-bulb" placement="top" ngbTooltip="ti-light-bulb"></i></li>
                                <li class="icons-list-item"><i class="ti-info" placement="top" ngbTooltip="ti-info"></i></li>
                                <li class="icons-list-item"><i class="ti-infinite" placement="top" ngbTooltip="ti-infinite"></i></li>
                                <li class="icons-list-item"><i class="ti-id-badge" placement="top" ngbTooltip="ti-id-badge"></i></li>
                                <li class="icons-list-item"><i class="ti-hummer" placement="top" ngbTooltip="ti-hummer"></i></li>
                                <li class="icons-list-item"><i class="ti-home" placement="top" ngbTooltip="ti-home"></i></li>
                                <li class="icons-list-item"><i class="ti-help" placement="top" ngbTooltip="ti-help"></i></li>
                                <li class="icons-list-item"><i class="ti-headphone" placement="top" ngbTooltip="ti-headphone"></i></li>
                                <li class="icons-list-item"><i class="ti-harddrives" placement="top" ngbTooltip="ti-harddrives"></i></li>
                                <li class="icons-list-item"><i class="ti-harddrive" placement="top" ngbTooltip="ti-harddrive"></i></li>
                                <li class="icons-list-item"><i class="ti-gift" placement="top" ngbTooltip="ti-gift"></i></li>
                                <li class="icons-list-item"><i class="ti-game" placement="top" ngbTooltip="ti-game"></i></li>
                                <li class="icons-list-item"><i class="ti-filter" placement="top" ngbTooltip="ti-filter"></i></li>
                                <li class="icons-list-item"><i class="ti-files" placement="top" ngbTooltip="ti-files"></i></li>
                                <li class="icons-list-item"><i class="ti-file" placement="top" ngbTooltip="ti-file"></i></li>
                                <li class="icons-list-item"><i class="ti-zip" placement="top" ngbTooltip="ti-zip"></i></li>
                                <li class="icons-list-item"><i class="ti-folder" placement="top" ngbTooltip="ti-folder"></i></li>
                                <li class="icons-list-item"><i class="ti-envelope" placement="top" ngbTooltip="ti-envelope"></i></li>
                                <li class="icons-list-item"><i class="ti-dashboard" placement="top" ngbTooltip="ti-dashboard"></i></li>
                                <li class="icons-list-item"><i class="ti-cloud" placement="top" ngbTooltip="ti-cloud"></i></li>
                                <li class="icons-list-item"><i class="ti-cloud-up" placement="top" ngbTooltip="ti-cloud-up"></i></li>
                                <li class="icons-list-item"><i class="ti-cloud-down" placement="top" ngbTooltip="ti-cloud-down"></i></li>
                                <li class="icons-list-item"><i class="ti-clipboard" placement="top" ngbTooltip="ti-clipboard"></i></li>
                                <li class="icons-list-item"><i class="ti-calendar" placement="top" ngbTooltip="ti-calendar"></i></li>
                                <li class="icons-list-item"><i class="ti-book" placement="top" ngbTooltip="ti-book"></i></li>
                                <li class="icons-list-item"><i class="ti-bell" placement="top" ngbTooltip="ti-bell"></i></li>
                                <li class="icons-list-item"><i class="ti-basketball" placement="top" ngbTooltip="ti-basketball"></i></li>
                                <li class="icons-list-item"><i class="ti-bar-chart" placement="top" ngbTooltip="ti-bar-chart"></i></li>
                                <li class="icons-list-item"><i class="ti-bar-chart-alt" placement="top" ngbTooltip="ti-bar-chart-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-archive" placement="top" ngbTooltip="ti-archive"></i></li>
                                <li class="icons-list-item"><i class="ti-anchor" placement="top" ngbTooltip="ti-anchor"></i></li>
                                <li class="icons-list-item"><i class="ti-alert" placement="top" ngbTooltip="ti-alert"></i></li>
                                <li class="icons-list-item"><i class="ti-alarm-clock" placement="top" ngbTooltip="ti-alarm-clock"></i></li>
                                <li class="icons-list-item"><i class="ti-agenda" placement="top" ngbTooltip="ti-agenda"></i></li>
                                <li class="icons-list-item"><i class="ti-write" placement="top" ngbTooltip="ti-write"></i></li>
                                <li class="icons-list-item"><i class="ti-wallet" placement="top" ngbTooltip="ti-wallet"></i></li>
                                <li class="icons-list-item"><i class="ti-video-clapper" placement="top" ngbTooltip="ti-video-clapper"></i></li>
                                <li class="icons-list-item"><i class="ti-video-camera" placement="top" ngbTooltip="ti-video-camera"></i></li>
                                <li class="icons-list-item"><i class="ti-vector" placement="top" ngbTooltip="ti-vector"></i></li>
                                <li class="icons-list-item"><i class="ti-support" placement="top" ngbTooltip="ti-support"></i></li>
                                <li class="icons-list-item"><i class="ti-stamp" placement="top" ngbTooltip="ti-stamp"></i></li>
                                <li class="icons-list-item"><i class="ti-slice" placement="top" ngbTooltip="ti-slice"></i></li>
                                <li class="icons-list-item"><i class="ti-shortcode" placement="top" ngbTooltip="ti-shortcode"></i></li>
                                <li class="icons-list-item"><i class="ti-receipt" placement="top" ngbTooltip="ti-receipt"></i></li>
                                <li class="icons-list-item"><i class="ti-pin2" placement="top" ngbTooltip="ti-pin2"></i></li>
                                <li class="icons-list-item"><i class="ti-pin-alt" placement="top" ngbTooltip="ti-pin-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-pencil-alt2" placement="top" ngbTooltip="ti-pencil-alt2"></i></li>
                                <li class="icons-list-item"><i class="ti-eraser" placement="top" ngbTooltip="ti-eraser"></i></li>
                                <li class="icons-list-item"><i class="ti-more" placement="top" ngbTooltip="ti-more"></i></li>
                                <li class="icons-list-item"><i class="ti-more-alt" placement="top" ngbTooltip="ti-more-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-microphone-alt" placement="top" ngbTooltip="ti-microphone-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-magnet" placement="top" ngbTooltip="ti-magnet"></i></li>
                                <li class="icons-list-item"><i class="ti-line-double" placement="top" ngbTooltip="ti-line-double"></i></li>
                                <li class="icons-list-item"><i class="ti-line-dotted" placement="top" ngbTooltip="ti-line-dotted"></i></li>
                                <li class="icons-list-item"><i class="ti-line-dashed" placement="top" ngbTooltip="ti-line-dashed"></i></li>
                                <li class="icons-list-item"><i class="ti-ink-pen" placement="top" ngbTooltip="ti-ink-pen"></i></li>
                                <li class="icons-list-item"><i class="ti-info-alt" placement="top" ngbTooltip="ti-info-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-help-alt" placement="top" ngbTooltip="ti-help-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-headphone-alt" placement="top" ngbTooltip="ti-headphone-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-gallery" placement="top" ngbTooltip="ti-gallery"></i></li>
                                <li class="icons-list-item"><i class="ti-face-smile" placement="top" ngbTooltip="ti-face-smile"></i></li>
                                <li class="icons-list-item"><i class="ti-face-sad" placement="top" ngbTooltip="ti-face-sad"></i></li>
                                <li class="icons-list-item"><i class="ti-credit-card" placement="top" ngbTooltip="ti-credit-card"></i></li>
                                <li class="icons-list-item"><i class="ti-comments-smiley" placement="top" ngbTooltip="ti-comments-smiley"></i></li>
                                <li class="icons-list-item"><i class="ti-time" placement="top" ngbTooltip="ti-time"></i></li>
                                <li class="icons-list-item"><i class="ti-share" placement="top" ngbTooltip="ti-share"></i></li>
                                <li class="icons-list-item"><i class="ti-share-alt" placement="top" ngbTooltip="ti-share-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-rocket" placement="top" ngbTooltip="ti-rocket"></i></li>
                                <li class="icons-list-item"><i class="ti-new-window" placement="top" ngbTooltip="ti-new-window"></i></li>
                                <li class="icons-list-item"><i class="ti-rss" placement="top" ngbTooltip="ti-rss"></i></li>
                                <li class="icons-list-item"><i class="ti-rss-alt" placement="top" ngbTooltip="ti-rss-alt"></i></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->