<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Carousel</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javscript:;">Advanced UI</a></li>
            <li class="breadcrumb-item active" aria-current="page">Carousel</li>
        </ol>
    </div>
    <div class="d-flex">
        <div class="justify-content-center">
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
                <i class="fe fe-download mr-2"></i> Import
            </button>
            <button type="button" class="btn btn-white btn-icon-text my-2 mr-2">
                <i class="fe fe-filter mr-2"></i> Filter
            </button>
            <button type="button" class="btn btn-primary my-2 btn-icon-text">
                <i class="fe fe-download-cloud mr-2"></i> Download Report
            </button>
        </div>
    </div>
</div>
<!-- End Page Header -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-lg-6 col-xl-4 col-md-6">
        <div class="card custom-card">
            <div class="card-body h-100">
                <div>
                    <h6 class="main-content-label mb-1">Static Carousel</h6>
                    <p class="text-muted card-sub-title">Here’s a carousel with slides only.</p>
                </div>
                <ngb-carousel [interval]="3000" [showNavigationArrows]="showNavigationArrows"
                    [showNavigationIndicators]="showNavigationIndicators">
                    <ng-template ngbSlide>
                        <img alt="img" class="d-block w-100" src="../../assets/img/media/8.jpg">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img alt="img" class="d-block w-100" src="../../assets/img/media/9.jpg">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img alt="img" class="d-block w-100" src="../../assets/img/media/10.jpg">
                    </ng-template>
                </ngb-carousel>

            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-4 col-md-6">
        <div class="card custom-card">
            <div class="card-body h-100">
                <div>
                    <h6 class="main-content-label mb-1">With Controls</h6>
                    <p class="text-muted card-sub-title">Adding in the previous and next controls.</p>
                </div>
                <ngb-carousel [interval]="3000" [showNavigationIndicators]="showNavigationIndicators">
                    <ng-template ngbSlide>
                        <img alt="img" class="d-block w-100" src="../../assets/img/media/11.jpg">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img alt="img" class="d-block w-100" src="../../assets/img/media/12.jpg">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img alt="img" class="d-block w-100" src="../../assets/img/media/13.jpg">
                    </ng-template>
                </ngb-carousel>

            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-4 col-md-6">
        <div class="card custom-card">
            <div class="card-body h-100">
                <div>
                    <h6 class="main-content-label mb-1">With Indicator</h6>
                    <p class="text-muted card-sub-title">You can also add the indicators to the carousel, alongside the
                        controls, too align any where</p>
                </div>
                <ngb-carousel [interval]="3000" [showNavigationArrows]="showNavigationArrows">
                    <ng-template ngbSlide>
                        <img alt="img" class="d-block w-100" src="../../assets/img/media/14.jpg">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img alt="img" class="d-block w-100" src="../../assets/img/media/15.jpg">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img alt="img" class="d-block w-100" src="../../assets/img/media/16.jpg">
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-4 col-md-6">
        <div class="card custom-card">
            <div class="card-body h-100">
                <div>
                    <h6 class="main-content-label mb-1">With Caption</h6>
                    <p class="text-muted card-sub-title">Add captions to your slides easily with the
                        <code>.carousel-caption</code> element within any <code>.carousel-item.</code>
                    </p>
                </div>
                <ngb-carousel [interval]="2000" [showNavigationArrows]="showNavigationArrows">
                    <ng-template ngbSlide>
                        <img alt="img" class="d-block w-100" src="../../assets/img/media/14.jpg">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First Slide</h5>
                            <p class="tx-14">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <img alt="img" class="d-block w-100" src="../../assets/img/media/15.jpg">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second Slide</h5>
                            <p class="tx-14">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <img alt="img" class="d-block w-100" src="../../assets/img/media/16.jpg">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third Slide</h5>
                            <p class="tx-14">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-4 col-md-6">
        <div class="card custom-card">
            <div class="card-body h-100">
                <div>
                    <h6 class="main-content-label mb-1">Navigation arrows and indicators</h6>
                    <p class="text-muted card-sub-title">Add Navigation arrows and indicators to slides using buttons.
                    </p>
                </div>
                <ngb-carousel [interval]="1000" [showNavigationArrows]="showArrow"
                    [showNavigationIndicators]="showIndicator">
                    <ng-template ngbSlide class="carousel-fade">
                        <img alt="img" class="d-block w-100" src="../../assets/img/media/20.jpg">
                        <div class="carousel-caption">
                            <h5>No mouse navigation</h5>
                            <p class="tx-14">This carousel hides navigation arrows and indicators.</p>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <img alt="img" class="d-block w-100" src="../../assets/img/media/1.jpg">
                        <div class="carousel-caption">
                            <h5>No mouse navigation</h5>
                            <p class="tx-14">This carousel hides navigation arrows and indicators.</p>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <img alt="img" class="d-block w-100" src="../../assets/img/media/2.jpg">
                        <div class="carousel-caption">
                            <h5>No mouse navigation</h5>
                            <p class="tx-14">This carousel hides navigation arrows and indicators.</p>
                        </div>
                    </ng-template>
                </ngb-carousel>
                <div class="btn-group mt-2" role="group" aria-label="Carousel toggle controls">
                    <button type="button" (click)="showArrows()" class="btn btn-outline-primary btn-sm mr-2">Toggle
                        navigation arrows</button>
                    <button type="button" (click)="showIndicators()" class="btn btn-outline-primary btn-sm">Toggle
                        navigation indicators</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-4 col-md-6">
        <div class="card custom-card">
            <div class="card-body h-100">
                <div>
                    <h6 class="main-content-label mb-1">Global configuration of carousels</h6>
                    <p class="text-muted card-sub-title">Here’s a carousel with slides only.</p>
                </div>
                <ngb-carousel [interval]="5000" [wrap]="false" [keyboard]="false" [pauseOnHover]="false">
                    <ng-template ngbSlide>
                        <img alt="img" class="d-block w-100" src="../../assets/img/media/8.jpg">
                        <div class="carousel-caption">
                            <h5>5 seconds between slides...</h5>
                            <p class="tx-14">This carousel uses customized default values.</p>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <img alt="img" class="d-block w-100" src="../../assets/img/media/9.jpg">
                        <div class="carousel-caption">
                            <h5>No mouse events...</h5>
                            <p class="tx-14">This carousel doesn't pause or resume on mouse events</p>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <img alt="img" class="d-block w-100" src="../../assets/img/media/10.jpg">
                        <div class="carousel-caption">
                            <h5>No keyboard...</h5>
                            <p class="tx-14">This carousel uses customized default values.</p>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <img alt="img" class="d-block w-100" src="../../assets/img/media/11.jpg">
                        <div class="carousel-caption">
                            <h5>And no wrap after last slide.</h5>
                            <p class="tx-14">This carousel uses customized default values.</p>
                        </div>
                    </ng-template>
                </ngb-carousel>

            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-6 col-md-6">
        <div class="card custom-card">
            <div class="card-body h-100">
                <div>
                    <h6 class="main-content-label mb-1">Pause/cycle</h6>
                    <p class="text-muted card-sub-title">The Pause/cycle Carousel controls</p>
                </div>
                <ngb-carousel #carousel [interval]="1000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
                    (slide)="onSlide($event)">
                    <ng-template ngbSlide *ngFor="let caroImg of carouselImages">
                        <img alt="img" class="d-block w-100" src="{{caroImg.img}}">
                        <div class="carousel-caption">
                            <h5>Slide {{caroImg.slide}}</h5>
                        </div>
                    </ng-template>
                </ngb-carousel>
                <div class="mt-2">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="pauseOnHover" [(ngModel)]="pauseOnHover">
                        <label class="form-check-label" for="pauseOnHover">Pause on hover</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="pauseOnFocus" [(ngModel)]="pauseOnFocus">
                        <label class="form-check-label" for="pauseOnFocus">Pause on focus</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="unpauseOnArrow"
                            [(ngModel)]="unpauseOnArrow">
                        <label class="form-check-label" for="unpauseOnArrow">Unpause when clicking on arrows</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="pauseOnIndicator"
                            [(ngModel)]="pauseOnIndicator">
                        <label class="form-check-label" for="pauseOnIndicator">Pause when clicking on navigation
                            indicator</label>
                    </div>
                    <button type="button" (click)="togglePaused()" class="btn btn-outline-primary btn-sm">
                        {{paused ? 'Cycle' : 'Pause' }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- owl Carousel -->
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body h-100">
                <div>
                    <h6 class="main-content-label mb-1">Owl Carousel</h6>
                    <p class="text-muted card-sub-title">Touch enabled ngx-owl-carousel-o plugin that lets you create a
                        beautiful responsive carousel slider.</p>
                </div>
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide *ngFor="let owlData of owlCarouselData">
                        <div class="card">
                            <div class="card-body user-card text-center">
                                <div class="main-img-user avatar-lg online text-center">
                                    <img alt="avatar" class="rounded-circle" [src]="owlData.img">
                                </div>
                                <div class="mt-2">
                                    <h5 class="mb-1">{{owlData.name}}</h5>
                                    <p class="mb-1">{{owlData.designation}}</p>
                                    <span class="text-muted"><i
                                            class="far fa-check-circle text-success mr-1"></i>Verified</span>
                                </div>
                                <a href="javascript:;" class="btn ripple btn-primary btn-sm mt-3">View Profile</a>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>

</div>
<!-- End Row -->